<a href="https://colab.research.google.com/github/sreeram-jagannath/sas2pyspark/blob/main/Horizon_SAS_to_PySpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install -q pyspark==3.3.2

In [ ]:
!pip install xlrd

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

import pandas as pd
from datetime import datetime, timedelta
from dateutil.relativedelta import relativedelta

In [ ]:
spark = SparkSession.builder\
        .master("local")\
        .appName("Colab")\
        .config('spark.ui.port', '4050')\
        .getOrCreate()

In [ ]:
spark

In [ ]:
BEG1 = (datetime.today() - relativedelta(months=1) + relativedelta(day=1)).strftime('%d%b%Y').upper()
BEG2 = (datetime.today() - relativedelta(months=2) + relativedelta(day=1)).strftime('%d%b%Y').upper()
BEG3 = (datetime.today() - relativedelta(months=3) + relativedelta(day=1)).strftime('%d%b%Y').upper()
BEG4 = (datetime.today() - relativedelta(months=4) + relativedelta(day=1)).strftime('%d%b%Y').upper()
BEG5 = (datetime.today() - relativedelta(months=5) + relativedelta(day=1)).strftime('%d%b%Y').upper()
BEG6 = (datetime.today() - relativedelta(months=6) + relativedelta(day=1)).strftime('%d%b%Y').upper()
BEG7 = (datetime.today() - relativedelta(months=7) + relativedelta(day=1)).strftime('%d%b%Y').upper()
BEG8 = (datetime.today() - relativedelta(months=8) + relativedelta(day=1)).strftime('%d%b%Y').upper()
BEG9 = (datetime.today() - relativedelta(months=9) + relativedelta(day=1)).strftime('%d%b%Y').upper()
BEG10 = (datetime.today() - relativedelta(months=10) + relativedelta(day=1)).strftime('%d%b%Y').upper()
BEG11 = (datetime.today() - relativedelta(months=11) + relativedelta(day=1)).strftime('%d%b%Y').upper()
BEG12 = (datetime.today() - relativedelta(months=12) + relativedelta(day=1)).strftime('%d%b%Y').upper()

In [ ]:
END1 = (datetime.today() - relativedelta(months=0) + relativedelta(day=1) - timedelta(days=1)).strftime('%d%b%Y').upper()
END2 = (datetime.today() - relativedelta(months=1) + relativedelta(day=1) - timedelta(days=1)).strftime('%d%b%Y').upper()
END3 = (datetime.today() - relativedelta(months=2) + relativedelta(day=1) - timedelta(days=1)).strftime('%d%b%Y').upper()
END4 = (datetime.today() - relativedelta(months=3) + relativedelta(day=1) - timedelta(days=1)).strftime('%d%b%Y').upper()
END5 = (datetime.today() - relativedelta(months=4) + relativedelta(day=1) - timedelta(days=1)).strftime('%d%b%Y').upper()
END6 = (datetime.today() - relativedelta(months=5) + relativedelta(day=1) - timedelta(days=1)).strftime('%d%b%Y').upper()
END7 = (datetime.today() - relativedelta(months=6) + relativedelta(day=1) - timedelta(days=1)).strftime('%d%b%Y').upper()
END8 = (datetime.today() - relativedelta(months=7) + relativedelta(day=1) - timedelta(days=1)).strftime('%d%b%Y').upper()
END9 = (datetime.today() - relativedelta(months=8) + relativedelta(day=1) - timedelta(days=1)).strftime('%d%b%Y').upper()
END10 = (datetime.today() - relativedelta(months=9) + relativedelta(day=1) - timedelta(days=1)).strftime('%d%b%Y').upper()
END11 = (datetime.today() - relativedelta(months=10) + relativedelta(day=1) - timedelta(days=1)).strftime('%d%b%Y').upper()
END12 = (datetime.today() - relativedelta(months=11) + relativedelta(day=1) - timedelta(days=1)).strftime('%d%b%Y').upper()

In [ ]:
"""
PROC IMPORT OUT= OPI
  DATAFILE= "\\nas_vir\analytics\SASEBI\Data Science\Opioids\Opioid and MAT GPI.xls"
  DBMS=EXCELCS REPLACE;
&_pcff_ps;
  serveruser="USRDOM\aholcomb";
  serverpass="";
  SHEET="Opioids";
 RUN;
PROC SQL /*NOPRINT*/;
SELECT DISTINCT "'"||TRIM(GPI)||"'" INTO :OPI SEPARATED BY ','
FROM opi; QUIT;
"""


# opi = pd.read_excel(r"\\nas_vir\analytics\SASEBI\Data Science\Opioids\Opioid and MAT GPI.xls", sheet_name="Opioids")
# OPI = ",".join("'" + str(gpi) + "'" for gpi in opi["GPI"].unique())

In [ ]:
"""
PROC IMPORT OUT= MAT
  DATAFILE= "\\nas_vir\analytics\SASEBI\Data Science\Opioids\Opioid and MAT GPI.xls"
  DBMS=EXCELCS REPLACE;
&_pcff_ps;
  serveruser="USRDOM\aholcomb";
  serverpass="";
  SHEET="MAT";
 RUN;
PROC SQL /*NOPRINT*/;
SELECT DISTINCT "'"||TRIM(GPI2)||"'" INTO :MAT SEPARATED BY ','
FROM mat; QUIT;
"""


# mat = pd.read_excel(r"\\nas_vir\analytics\SASEBI\Data Science\Opioids\Opioid and MAT GPI.xls", sheet_name="MAT")
# MAT = ",".join("'" + str(gpi) + "'" for gpi in mat["GPI2"].unique())

In [ ]:
"""
PROC IMPORT OUT= STIM
  DATAFILE= "\\nas_vir\analytics\SASEBI\Data Science\Opioids\Stimulants_GPI.xls"
  DBMS=EXCELCS REPLACE;
&_pcff_ps;
  serveruser="USRDOM\aholcomb";
  serverpass="";
  SHEET="Sheet1";
 RUN;
PROC SQL /*NOPRINT*/;
SELECT DISTINCT "'"||TRIM(GPI8)||"'" INTO :STIM SEPARATED BY ','
FROM stim; QUIT;
"""


# stim = pd.read_excel(r"\\nas_vir\analytics\SASEBI\Data Science\Opioids\Opioid and MAT GPI.xls", sheet_name="Sheet1")
# STIM = ",".join("'" + str(gpi) + "'" for gpi in stim["GPI8"].unique())

In [ ]:
"""
PROC IMPORT OUT= MOR
  DATAFILE= "\\nas_vir\analytics\SASEBI\Data Science\Opioids\Mail_Order.xlsx"
  DBMS=EXCELCS REPLACE;
&_pcff_ps;
  serveruser="USRDOM\aholcomb";
  serverpass="";
  SHEET="Group_Mail";
 RUN;
PROC SQL /*NOPRINT*/;
SELECT DISTINCT "'"||TRIM(GROUPID)||"'" INTO :MORDER SEPARATED BY ','
FROM mor; QUIT;
"""


# mor = pd.read_excel(r'\\nas_vir\analytics\SASEBI\Data Science\Opioids\Mail_Order.xlsx', sheet_name='Group_Mail')
# MORDER = ",".join("'" + str(x) + "'" for x in mor["GROUPID"].unique())

In [ ]:
"""
PROC IMPORT OUT= PRSC
  DATAFILE= "\\nas_vir\analytics\SASEBI\Data Science\Opioids\February 2022 Prime File Updated.xlsx"
  DBMS=EXCELCS REPLACE;
&_pcff_ps;
  serveruser="USRDOM\aholcomb";
  serverpass="";
  SHEET="Prime";
 RUN;
 """


# PRSC = pd.read_excel(r"\\nas_vir\analytics\SASEBI\Data Science\Opioids\February 2022 Prime File Updated.xlsx", sheet_name = "Prime")

In [ ]:
# we have to confirm date type in table"TDPRD.SMC_FACT_PHRM_CLM" in column "PRSC_DT"

"""
proc sql;
Create table TESTa AS SELECT DIM_MBR_SK, CUST_CARD_ID, PAT_FRST_NM, PAT_LST_NM, PAT_BRTH_DT, PHRM_SK, CLM_SK_RX, CLM_RX_ID, ORG_SRC_SYS_CD, PHRM_CLM_STAT_CD, INCR_DT,
AGE,

 PAT_SEX_CD, PDT_NM_GEN, PDT_NM_RX, DEA_CD_DSC, PRSB_ADDR_LN, PHRM_NPI_ID, PRSB_NPI_ID, PRSB_ST_NM, MKT_SEG_NM, MAIN_GRP_ID, SGRP_ID, GRP_PKG_PDT_CD
FROM
(SELECT distinct DIM_RX_PDT_SK,
PDT_NM_GEN,
PDT_NM_RX,
DEA_CD_DSC
FROM TDPRD.SMC_DIM_PDT_RX

 WHERE
PDT_GEN_ID in (&OPI) or PDT_GEN_ID in (&MAT) or PDT_GEN_ID in (&STIM)
) DIM
INNER JOIN
(select distinct PDT_RX_SK, DIM_MBR_SK, CUST_CARD_ID, PAT_FRST_NM, PAT_LST_NM, PAT_BRTH_DT, PHRM_NPI_ID, PRSB_ADDR_LN, CLM_SK_RX,
CLM_RX_ID, PHRM_SK, PAT_SEX_CD, PRSB_NPI_ID,

 INCR_DT,
PRSB_ST_NM,
floor(((today() - PAT_BRTH_DT)/365.25)) as AGE, PHRM_CLM_STAT_CD,
ORG_SRC_SYS_CD,
MKT_SEG_NM,
MAIN_GRP_ID, SGRP_ID, GRP_PKG_PDT_CD
FROM TDPRD.SMC_FACT_PHRM_CLM WHERE
PHRM_CLM_STAT_CD IN ('P', 'R') AND PRSC_DT BETWEEN
&BEG12 /*&BEG1 */ AND &END1
AND ORG_SRC_SYS_CD = 'CLMPRM'
and CURR_RCD_IND in ('Y') /*****/
and MKT_SEG_NM not in ('SRMRKT','SRMRKT-MA ONLY')
) CLM

 ON dim.DIM_RX_PDT_SK = clm.PDT_RX_SK
WHERE DIM_MBR_SK ne -1; quit;
"""


OPI = [1, 2, 3] # OPI values
MAT = [4, 5, 6] # MAT values
STIM = [7, 8, 9] # STIM values


dim = (
    spark.table("TDPRD.SMC_DIM_PDT_RX") \
         .filter(col("PDT_GEN_ID").isin(OPI) | col("PDT_GEN_ID").isin(MAT) | col("PDT_GEN_ID").isin(STIM)) \
         .select("DIM_RX_PDT_SK", "PDT_NM_GEN", "PDT_NM_RX", "DEA_CD_DSC") \
         .distinct()
      )

clm = spark.table("TDPRD.SMC_FACT_PHRM_CLM") \
           .filter(col("PHRM_CLM_STAT_CD").isin(["P", "R"])) \
           .filter(col("PRSC_DT").between(BEG12, END1)) \ 
           .filter(col("ORG_SRC_SYS_CD") == "CLMPRM") \
           .filter(col("CURR_RCD_IND") == "Y") \
           .filter(~col("MKT_SEG_NM").isin(["SRMRKT", "SRMRKT-MA ONLY"])) \
           .select("PDT_RX_SK", "DIM_MBR_SK", "CUST_CARD_ID", "PAT_FRST_NM", 
                   "PAT_LST_NM", "PAT_BRTH_DT", "PHRM_NPI_ID", "PRSB_ADDR_LN", "CLM_SK_RX", "CLM_RX_ID", "PHRM_SK",
                   "PAT_SEX_CD", "PRSB_NPI_ID", "INCR_DT", "PRSB_ST_NM",
                   floor(((current_date() - col("PAT_BRTH_DT"))/365.25)).alias("AGE"), "PHRM_CLM_STAT_CD", "ORG_SRC_SYS_CD", 
                   "MKT_SEG_NM", "MAIN_GRP_ID", "SGRP_ID", "GRP_PKG_PDT_CD") \
           .distinct()
    
TESTa = dim.join(clm, col("DIM_RX_PDT_SK") == col("PDT_RX_SK"), "inner") \
           .filter(col("DIM_MBR_SK") != -1) \
           .select("DIM_MBR_SK", "CUST_CARD_ID", "PAT_FRST_NM", "PAT_LST_NM", "PAT_BRTH_DT", "PHRM_SK", "CLM_SK_RX",
                   "CLM_RX_ID", "ORG_SRC_SYS_CD", "PHRM_CLM_STAT_CD", "INCR_DT", "AGE", "PAT_SEX_CD", "PDT_NM_GEN", 
                   "PDT_NM_RX", "DEA_CD_DSC", "PRSB_ADDR_LN", "PHRM_NPI_ID", "PRSB_NPI_ID", "PRSB_ST_NM", "MKT_SEG_NM", 
                   "MAIN_GRP_ID", "SGRP_ID", "GRP_PKG_PDT_CD")

In [ ]:
# gather 6 months data

dim1 = spark.table("TDPRD.SMC_DIM_PDT_RX").select("DIM_RX_PDT_SK", "PDT_NM_GEN", "PDT_NM_RX", "DEA_CD_DSC") \
            .filter(col("PDT_GEN_ID").isin(OPI) | col("PDT_GEN_ID").isin(MAT) | col("PDT_GEN_ID").isin(STIM)) \
            .distinct()

clm1 = spark.table("TDPRD.SMC_FACT_PHRM_CLM") \
            .filter(col("PHRM_CLM_STAT_CD").isin(["P", "R"])) \
            .filter(col("PRSC_DT").between(BEG6, END1)) \
            .filter(col("ORG_SRC_SYS_CD") == "CLMPRM") \
            .filter(col("CURR_RCD_IND") == "Y") \
            .filter(~col("MKT_SEG_NM").isin(["SRMRKT", "SRMRKT-MA ONLY"])) \
            .select("PDT_RX_SK", "DIM_MBR_SK", "CUST_CARD_ID", "PAT_FRST_NM", 
                    "PAT_LST_NM", "PHRM_NPI_ID", "PRSB_ADDR_LN", "CLM_SK_RX", "CLM_RX_ID", "PHRM_SK",
                    "PAT_SEX_CD", "PRSB_NPI_ID", "INCR_DT", "PRSB_ST_NM",
                    floor(((current_date() - col("PAT_BRTH_DT"))/365.25)).alias("AGE"),"PHRM_CLM_STAT_CD", "ORG_SRC_SYS_CD", 
                    "MKT_SEG_NM", "MAIN_GRP_ID", "SGRP_ID", "GRP_PKG_PDT_CD") \
            .distinct()


SIXMO = dim1.join(clm1, col("DIM_RX_PDT_SK") == col("PDT_RX_SK"), "inner") \
            .filter(col("DIM_MBR_SK") != -1) \
            .select("DIM_MBR_SK", "CUST_CARD_ID", "PAT_FRST_NM", "PAT_LST_NM", "PHRM_SK", "CLM_SK_RX",
                    "CLM_RX_ID", "ORG_SRC_SYS_CD", "PHRM_CLM_STAT_CD", "INCR_DT", "AGE",
                    "PAT_SEX_CD", "PDT_NM_GEN", "PDT_NM_RX", "DEA_CD_DSC", "PRSB_ADDR_LN",
                    "PHRM_NPI_ID", "PRSB_NPI_ID", "PRSB_ST_NM", "MKT_SEG_NM", "MAIN_GRP_ID",
                    "SGRP_ID", "GRP_PKG_PDT_CD")

In [ ]:
"""
data SIXMOa (keep=DIM_MBR_SK);
set SIXMO;
run;
proc sort data=SIXMOa nodupkey;
by DIM_MBR_SK;
run;
"""

# SIXMOa = SIXMO.select("DIM_MBR_SK").distinct().sort(col("DIM_MBR_SK")).rdd.map(lambda r: r[0]).collect()
SIXMOa = SIXMO.select("DIM_MBR_SK").distinct().sort(col("DIM_MBR_SK"))

In [ ]:
"""
proc sort data=testa;
by DIM_MBR_SK;
run;
"""

TESTa = TESTa.orderBy("DIM_MBR_SK")

In [ ]:
"""
data testb;
merge testa (in=a) SIXMOa (in=b);
by DIM_MBR_SK;
if a = b;
run;
"""
# sixmo_unique_dim_mbr = .select('DIM_MBR_SK').distinct().rdd.map(lambda r: r[0]).collect()
testb = TESTa.join(SIXMOa, on="DIM_MBR_SK", how="inner")
# testb = TESTa.filter(col("DIM_MBR_SK").isin(SIXMOa))

In [ ]:
"""
data testb1 (keep=DIM_MBR_SK PRSB_NPI_ID);
set testb;
run;
proc sort data=testb1 nodupkey;
by DIM_MBR_SK PRSB_NPI_ID;
run;
"""

testb1 = testb.select("DIM_MBR_SK", "PRSB_NPI_ID").distinct().orderBy("DIM_MBR_SK", "PRSB_NPI_ID")

In [ ]:
"""                                                                     
proc sql;
create table testb1_a
as select
DIM_MBR_SK,
PRSB_NPI_ID,
count(DIM_MBR_SK) as countmem
from testb1
group by DIM_MBR_SK;
quit;
"""


testb1_a = testb1.groupby("DIM_MBR_SK") \                        
                 .agg(count("PRSB_NPI_ID").alias("countmem"))

In [ ]:
"""
data testb1_b (keep=DIM_MBR_SK);
set testb1_a;
if countmem = 1;
run;
proc sort data=testb1_b;
by DIM_MBR_SK;
run;
"""

testb1_b = testb1_a.filter(col("countmem") == 1).select("DIM_MBR_SK").sort("DIM_MBR_SK")

In [ ]:
"""
proc sort data=testb;
by DIM_MBR_SK;
run;
"""

testb = testb.orderBy("DIM_MBR_SK")

In [ ]:
"""
data testb_clean;
merge testb (in=a) testb1_b (in=b);
by DIM_MBR_SK;
if a and not b;
run;
"""

testb_clean = testb.join(testb1_b,  on="DIM_MBR_SK",  how="left_anti")

In [ ]:
"""
data testb2 (keep=DIM_MBR_SK PRSB_ADDR_LN);
set testb;
run;
proc sort data=testb2 nodupkey;
by DIM_MBR_SK PRSB_ADDR_LN;
run;
"""

testb2 = testb.select("DIM_MBR_SK", "PRSB_ADDR_LN").distinct().orderBy("DIM_MBR_SK", "PRSB_ADDR_LN")

In [ ]:
"""
proc sql;
create table testb2_a
as select distinct
DIM_MBR_SK,
PRSB_ADDR_LN,
count(DIM_MBR_SK) as countmem
from testb2
group by DIM_MBR_SK;
quit;
"""


testb2_a = testb2.groupby("DIM_MBR_SK") \                        
                 .agg(count("PRSB_ADDR_LN").alias("countmem"))

In [ ]:
"""
data testb2_b (keep=DIM_MBR_SK);
set testb2_a;
if countmem = 1;
run;
proc sort data=testb2_b nodupkey;
by DIM_MBR_SK;
run;
"""

testb2_b = testb2_a.filter(col("countmem") == 1).select("DIM_MBR_SK").sort("DIM_MBR_SK").distinct()

In [ ]:
"""
proc sort data=testb_clean;
by DIM_MBR_SK;
run;
"""

testb_clean = testb_clean.orderBy("DIM_MBR_SK")

In [ ]:
"""
data testb_cleaner;
merge testb_clean (in=a) testb2_b (in=b);
by DIM_MBR_SK;
if a and not b;
run;
"""

testb_cleaner = testb_clean.join(testb2_b,  on="DIM_MBR_SK",  how="left_anti")

In [ ]:
"""
data testb_cleaner_a;
set testb_cleaner;
md_npi = input(prsb_npi_id,12.);
run;
"""

testb_cleaner_a = testb_cleaner.withColumn("md_npi", col("PRSB_NPI_ID").cast("double"))

In [ ]:
"""
proc sql;
create table test
as select
b.practice_name,
a.*

from testb_cleaner_a a left join AMY.MDPRACTICELIST b
on a.md_npi = b.md_npi;
quit;
"""
amy_practice_table=spark.table("AMY.MDPRACTICELIST")

test = testb_cleaner_a.join(amy_practice_table, on="md_npi", how="left").select("practice_name", *testb_cleaner_a.columns)

In [ ]:
"""
data onlist notonlist;
set test;
if practice_name ne '' then output onlist;
else output notonlist;
run;
"""

onlist = test.filter(col("practice_name") != "")
notonlist = test.filter(col("practice_name") == "")

In [ ]:
"""
proc sort data=onlist nodupkey;
by dim_mbr_sk;
run;
"""

onlist = onlist.orderBy("DIM_MBR_SK").dropDuplicates("DIM_MBR_SK")

In [ ]:
"""
data all_interim;
set onlist notonlist;
run;
"""

all_interim = onlist.union(notonlist)

In [ ]:
"""
proc sort data=all_interim;
by dim_mbr_sk;
run;
"""

all_interim = all_interim.orderBy(col("DIM_MBR_SK"))

In [ ]:
"""
proc sql;
create table all_interim_a
as select
dim_mbr_sk,
count(dim_mbr_sk) as countmem
from all_interim
group by dim_mbr_sk;
quit;
"""

all_interim_a = all_interim.groupby("DIM_MBR_SK")\
                           .agg(count("DIM_MBR_SK").alias("countmem"))

In [ ]:
"""
data all_interim_b (keep=dim_mbr_sk);
set all_interim_a;
if countmem = 1;
run;
proc sort data=all_interim_b ;
by dim_mbr_sk;
run;
"""

all_interim_b = all_interim_a.filter(col("countmem") == 1).select("DIM_MBR_SK").orderBy("DIM_MBR_SK")

In [ ]:
"""
proc sort data=all_interim;
by dim_mbr_sk;
run;
"""
# It is repeated and has no meaning. Check two code block above.

In [ ]:
"""
data testb_cleanest;
merge all_interim (in=a) all_interim_b (in=b);
by dim_mbr_sk;
if a and not b;
run;
"""

testb_cleanest = all_interim.join(all_interim_b,  on="DIM_MBR_SK",  how="left_anti")

In [ ]:
"""
data practice_count;
set testb_cleanest;
indpractice = '';
if practice_name ne '' then indpractice = practice_name;
else indpractice = PRSB_NPI_ID||PRSB_ADDR_LN; /*Unique combinations*/
run;
"""

practice_count = testb_cleanest.withColumn("indpractice", when(col("practice_name") != "", col("practice_name")).otherwise(concat(col("PRSB_NPI_ID"), col("PRSB_ADDR_LN"))))

In [ ]:
"""
proc sort data=practice_count  nodupkey;
by dim_mbr_sk indpractice;
run;
"""

practice_count = practice_count.orderBy("DIM_MBR_SK", "indpractice").dropDuplicates(["dim_mbr_sk", "indpractice"])

In [ ]:
"""
proc sql;
create table sum
as select
dim_mbr_sk,
count(indpractice) as count_of_practices
from practice_count
group by dim_mbr_sk;
quit;
"""

sum = practice_count.groupby("DIM_MBR_SK") \
                    .agg(count("indpractice").alias("count_of_practices")) \

In [ ]:
"""
proc sql;
create table amy.testb_cleanest1
as select
a.*,
b.count_of_practices
from testb_cleanest as a
left join sum as b
on a.dim_mbr_sk = b.dim_mbr_sk;
quit;
"""

testb_cleanest1 = testb_cleanest.join(sum, on="DIM_MBR_SK", how="left").select(*testb_cleanest.columns, "count_of_practices")  # It is present in amy library in sas

In [ ]:
"""
proc sql;
create table hospice2021
as select distinct
LN,
FN,
DOB,
CCID,
MBR_MDMGUID
from ADB.ADB_MAIN2021
where CMS_POS = '34';
quit;
"""

hospice2021 = spark.table("ADB.ADB_MAIN2021") \
                   .filter(col("CMS_POS") == "34") \
                   .select("LN", "FN", "DOB", "CCID", "MBR_MDMGUID") \
                   .distinct()

In [ ]:
"""
proc sql;
create table hospice2022
as select distinct
LN,
FN,
DOB,
CCID,
MBR_MDMGUID
from ADB.ADB_MAIN2022
where CMS_POS = '34';
quit;
"""

hospice2022 = spark.table("ADB.ADB_MAIN2022") \
                   .filter(col("CMS_POS") == "34") \
                   .select("LN", "FN", "DOB", "CCID", "MBR_MDMGUID") \
                   .distinct()

In [ ]:
"""
proc sql;
create table hospice2023
as select distinct
LN,
FN,
DOB,
CCID,
MBR_MDMGUID
from ADB.ADB_MAIN2023
where CMS_POS = '34';
quit;
"""

hospice2023 = spark.table("ADB.ADB_MAIN2023") \
                   .filter(col("CMS_POS") == "34") \
                   .select("LN", "FN", "DOB", "CCID", "MBR_MDMGUID") \
                   .distinct()

In [ ]:
"""
data amy.allhospice (keep=key2);
set  hospice2021 hospice2022 hospice2023;
key2 = cats(ccid,substr(fn,1,3),dob);
run;
"""


allhospice = hospice2021.union(hospice2022).union(hospice2023) \
                     .withColumn("key2", concat(col("CCID"), substring(col("FN"), 1, 3), col("DOB"))) \             
                     .select("key2")                                                                                     # It is present in amy library in sas

In [ ]:
"""
data testb_cleanest2;
set amy.testb_cleanest1;
key2 = cats(cust_card_id,substr(pat_frst_nm,1,3),pat_brth_dt);
run;
"""

testb_cleanest2 = testb_cleanest1.withColumn("key2", concat(col("cust_card_id"), substring(col("pat_first_nm"), 1, 3), col("pat_brth_dt")))

In [ ]:
"""
proc sort data=amy.allhospice nodupkey;
by key2;
run;
"""

allhospice = allhospice.orderBy("key2").distinct()

In [ ]:
"""
proc sort data=testb_cleanest2;
by key2;
run;
"""

testb_cleanest2 = testb_cleanest2.orderBy("key2")

In [ ]:
"""
data testb_cleanest3;
merge testb_cleanest2 (in=a) amy.allhospice (in=b);
by key2;
if a and not b;
run;
"""

testb_cleanest3 = testb_cleanest2.join(allhospice, on="key2", how="left_anti")

In [ ]:
"""
proc sql;
create table SC2021
as select distinct
LN,
FN,
DOB,
CCID,
MBR_MDMGUID,
H_DX1,
H_DX2,
H_DX3,
H_DX4
from ADB.ADB_MAIN2021
where substr(H_DX1,1,3) = 'D57' OR substr(H_DX2,1,3) = 'D57' OR  substr(H_DX3,1,3) = 'D57' OR substr(H_DX4,1,3) = 'D57';
quit;
"""

SC2021 = spark.table("ADB.ADB_MAIN2021") \
              .select("LN", "FN", "DOB", "CCID", "MBR_MDMGUID", "H_DX1", "H_DX2", "H_DX3", "H_DX4") \
              .filter((substring(col("H_DX1"), 1, 3) == "D57") | (substring(col("H_DX2"), 1, 3) == "D57") |
                      (substring(col("H_DX3"), 1, 3) == "D57") | (substring(col("H_DX4"), 1, 3) == "D57")) \
              .distinct()

In [ ]:
"""
proc sql;
create table SC2022
as select distinct
LN,
FN,
DOB,
CCID,
MBR_MDMGUID,
H_DX1,
H_DX2,
H_DX3,
H_DX4
from ADB.ADB_MAIN2022
where substr(H_DX1,1,3) = 'D57' OR substr(H_DX2,1,3) = 'D57' OR  substr(H_DX3,1,3) = 'D57' OR substr(H_DX4,1,3) = 'D57';
quit;
"""

SC2022 = spark.table("ADB.ADB_MAIN2022") \
              .select("LN", "FN", "DOB", "CCID", "MBR_MDMGUID", "H_DX1", "H_DX2", "H_DX3", "H_DX4") \
              .filter((substring(col("H_DX1"), 1, 3) == "D57") | (substring(col("H_DX2"), 1, 3) == "D57") |
                      (substring(col("H_DX3"), 1, 3) == "D57") | (substring(col("H_DX4"), 1, 3) == "D57")) \
              .distinct()

In [ ]:
"""
proc sql;
create table SC2023
as select distinct
LN,
FN,
DOB,
CCID,
MBR_MDMGUID,
H_DX1,
H_DX2,
H_DX3,
H_DX4
from ADB.ADB_MAIN2023
where substr(H_DX1,1,3) = 'D57' OR substr(H_DX2,1,3) = 'D57' OR  substr(H_DX3,1,3) = 'D57' OR substr(H_DX4,1,3) = 'D57';
quit;
"""

SC2023 = spark.table("ADB.ADB_MAIN2023") \
              .select("LN", "FN", "DOB", "CCID", "MBR_MDMGUID", "H_DX1", "H_DX2", "H_DX3", "H_DX4") \
              .filter((substring(col("H_DX1"), 1, 3) == "D57") | (substring(col("H_DX2"), 1, 3) == "D57") |
                      (substring(col("H_DX3"), 1, 3) == "D57") | (substring(col("H_DX4"), 1, 3) == "D57")) \
              .distinct()

In [ ]:
"""
data amy.ALLSC /*keep=key2*/;
set  SC2021 SC2022 SC2023;
key2 = cats(ccid,substr(fn,1,3),dob);
run;
data ALLSC (keep=key2);
set amy.ALLSC;
run;
proc sort data=ALLSC nodupkey;
by key2;
run;
"""

ALLSC = SC2021.union(SC2022).union(SC2023) \
                     .withColumn("key2", concat(col("CCID"), substring(col("FN"), 1, 3), col("DOB"))) \             
                     .select("key2") \
                     .distinct() \
                     .orderBy("key2")

In [ ]:
"""
proc sort data=testb_cleanest3;
by key2;
run;
"""

testb_cleanest3 = testb_cleanest3.orderBy("key2")

In [ ]:
"""
data testb_cleanest4;
merge testb_cleanest3 (in=a) ALLSC (in=b);
by key2;
if a and not b;
run;
"""

testb_cleanest4 = testb_cleanest3.join(ALLSC, on="key2", how="left_anti")

In [ ]:
"""
data enroll (keep= key);
set ref_mbr.memextract36;
key  = compress(substr(horizon_id, 1,12)||substr(first_name, 1,3)||left(year(dob)));
if date = '202212';
run;
"""

enroll = ref_mbr.memextract36.filter(col("date") == '202212') \
                             .withColumn("key", concat(substring("horizon_id", 1, 12), substring("first_name", 1, 3), lpad(year("dob"), 4, '0')))
                             .select("key")

In [ ]:
"""
data testc;
set testb_cleanest4;
key = compress(substr(cust_card_id, 1,12)||substr(pat_frst_nm, 1,3)||left(year(pat_brth_dt)));;
run;
"""

testc = testb_cleanest4.withColumn("key", concat(substring("cust_card_id", 1, 12), substring("pat_frst_nm", 1, 3), lpad(year("pat_brth_dt"), 4, '0')))

In [ ]:
"""
proc sort data=enroll nodupkey;
by key;
run;
"""

enroll = enroll.orderBy("key").distinct()

In [ ]:
"""
proc sort data=testc;
by key;
run;
"""

testc =testc.orderBy("key")

In [ ]:
"""
data testd;
merge testc (in=a) enroll (in=b);
by key;
if a = b;
run;
"""

testd = testc.join(enroll, on="key", how ="inner")

In [ ]:
"""
data getrltn (keep= key rltn_cd);
set ref_mbr.enroll_hist;
key  = compress(substr(horizon_id, 1,12)||substr(first_name, 1,3)||left(year(dob)));
if term_date = '31DEC9999'd;
run;
proc sort data=getrltn nodupkey;
by key;
run;
"""

getrltn = ref_mbr.enroll_hist.withColumn("key", concat(substring("horizon_id", 1, 12), substring("first_name", 1, 3), lpad(year("dob"), 4, '0'))) \
                             .filter(col("term_date") == "31DEC9999") \
                             .select("key", "rltn_cd")
                             .orderBy("key")
                             .dropDuplicates("key")

In [ ]:
"""
proc sort data= testd;
by key;
run;
"""

testd = testd.orderBy("key")

In [ ]:
"""
data teste;
merge testd (in=a) getrltn (in=b);
by key;
if a;
run;
"""

teste = testd.join(getrltn, on="key", how="left")

In [ ]:
"""
proc sort data=teste;
by dim_mbr_sk;
run;
"""

teste = teste.orderBy("DIM_MBR_SK")

In [ ]:
"""
data test (drop=RXMORDER MAIN_GRP_ID SGRP_ID GRP_PKG_PDT_CD MKT_SEG_NM) /* Tested and confirmed code 4/17/19 */;
set teste;
RXMORDER = cats("0",MAIN_GRP_ID, SGRP_ID, GRP_PKG_PDT_CD) ;
if RXMORDER not in (&MORDER);
/*if AGE between 18 and 70;*/
if age ge 18 and age le 70;
run;
"""

test = teste.withColumn("RXMORDER", concat("0", col("MAIN_GRP_ID"), col("SGRP_ID"), col("GRP_PKG_PDT_CD"))) \
            .filter((~col("RXMORDER").isin(MORDER)) & (col("age").between(18, 70))) \
            .drop("RXMORDER", "MAIN_GRP_ID", "SGRP_ID", "GRP_PKG_PDT_CD", "MKT_SEG_NM")

In [ ]:
"""
proc sql; Create table TEST1 AS
select distinct
A.*,
PHRM_NM,
PHRM_ST_CD
from TEST A
left join TDPRD.SMC_DIM_PHRM B
ON A.PHRM_SK = B.DIM_PHRM_SK /*and A.AGE between 18 and 70*/;
quit;
"""
X = spark.table("TDPRD.SMC_DIM_PHRM")

TEST1 = test.join(X, col("PHRM_SK") == col("DIM_PHRM_SK"), "left") \
            .select(*test.columns, "PHRM_NM", "PHRM_ST_CD") \
            .distinct()

In [ ]:
"""
proc sql; create table TEST2 AS(
select distinct
A.*,
SPLY_DAYS_CNT
from TEST1 A
left join TDPRD.SMC_FACT_PHRM_CLM_VAL B
ON A.CLM_SK_RX = B.CLM_SK_RX) ; quit;
"""
Y = spark.table("TDPRD.SMC_FACT_PHRM_CLM_VAL")

TEST2 = TEST1.join(Y, on="CLM_SK_RX", how="left") \
            .select(*TEST1.columns, "SPLY_DAYS_CNT") \
            .distinct()

In [ ]:
"""
proc sql; create table TEST3 AS(
      select distinct DIM_MBR_SK,
           CASE WHEN PHRM_CLM_STAT_CD = 'P'
                 THEN COUNT(distinct( CLM_SK_RX))
                      ELSE 0
           END AS COUNT_OF_PAID
      from Test2
           group by DIM_MBR_SK,
                 PHRM_CLM_STAT_CD) ; quit;
"""
                                                                                            
TEST3 = TEST2.groupBy("DIM_MBR_SK", "PHRM_CLM_STAT_CD") \
             .agg(when(col("PHRM_CLM_STAT_CD") == "P", countDistinct("CLM_SK_RX"))
                  .otherwise(lit(0)).alias("COUNT_OF_PAID")) \
             .select("DIM_MBR_SK", "COUNT_OF_PAID") \
             .distinct()

In [ ]:
"""
proc sql; create table TEST4 AS(
      select DIM_MBR_SK,
           sum(COUNT_OF_PAID) AS COUNT_OF_PAID
      from Test3
           group by DIM_MBR_SK) ;
           quit;
"""

TEST4 = TEST3.groupBy("DIM_MBR_SK") \
             .agg(sum("COUNT_OF_PAID").alias("COUNT_OF_PAID"))

In [ ]:
"""
proc sql; create table TEST5 AS(
      select distinct DIM_MBR_SK,
           CASE WHEN PHRM_CLM_STAT_CD = 'R'
                 THEN COUNT(distinct( CLM_SK_RX))
                      ELSE 0
           END AS COUNT_OF_REJECTED
      from Test2
           group by DIM_MBR_SK,
                 PHRM_CLM_STAT_CD) ;
                 quit;
"""

TEST5 = TEST2.groupBy("DIM_MBR_SK", "PHRM_CLM_STAT_CD") \
             .agg(when(col("PHRM_CLM_STAT_CD") == "R", countDistinct("CLM_SK_RX"))
                  .otherwise(lit(0)).alias("COUNT_OF_REJECTED")) \
             .select("DIM_MBR_SK", "COUNT_OF_REJECTED") \
             .distinct()

In [ ]:
"""
proc sql; create table TEST6 AS(
      select DIM_MBR_SK,
           sum(COUNT_OF_REJECTED) AS COUNT_OF_REJECTED
      from Test5
           group by DIM_MBR_SK) ; quit;
"""

TEST6 = TEST5.groupBy("DIM_MBR_SK") \
             .agg(sum("COUNT_OF_REJECTED").alias("COUNT_OF_REJECTED"))

In [ ]:
"""
proc sql; create table TEST7 AS(
      select A.*,
           B.COUNT_OF_PAID
      from test2 A
           left join test4 B
                 ON A.DIM_MBR_SK = B.DIM_MBR_SK) ;
                 quit;
"""

TEST7 = TEST2.join(TEST4, on="DIM_MBR_SK", how="left") \
             .select(*TEST2.columns, "COUNT_OF_PAID")

In [ ]:
"""
proc sql; create table TEST8 AS(
      select A.*,
           B.COUNT_OF_REJECTED
      from test7 A
           left join test6 B
                 ON A.DIM_MBR_SK = B.DIM_MBR_SK) ; quit;
"""

TEST8 = TEST7.join(TEST6, on="DIM_MBR_SK", how="left") \
             .select(*TEST7.columns, "COUNT_OF_REJECTED")

In [ ]:
"""
proc sql; create table TEST9 AS(
      select DIM_MBR_SK, CUST_CARD_ID,
           rltn_cd as PAT_RLTN_CD, PAT_FRST_NM, PAT_LST_NM, PAT_BRTH_DT, CLM_RX_ID, PHRM_CLM_STAT_CD, INCR_DT, AGE,
           PAT_SEX_CD, PDT_NM_GEN, PDT_NM_RX, DEA_CD_DSC, PHRM_NPI_ID, PRSB_NPI_ID, PRSB_ST_NM, PHRM_NM, PHRM_ST_CD,
           PRSB_ADDR_LN, SPLY_DAYS_CNT, COUNT_OF_PAID, COUNT_OF_REJECTED
      from test8) ;
      quit;
"""

TEST9 = TEST8.select("DIM_MBR_SK", "CUST_CARD_ID", col("rltn_cd").alias("PAT_RLTN_CD"), "PAT_FRST_NM", "PAT_LST_NM", "PAT_BRTH_DT", "CLM_RX_ID", "PHRM_CLM_STAT_CD", "INCR_DT",
                     "AGE", "PAT_SEX_CD", "PDT_NM_GEN", "PDT_NM_RX", "DEA_CD_DSC", "PHRM_NPI_ID", "PRSB_NPI_ID", "PRSB_ST_NM", "PHRM_NM", "PHRM_ST_CD", "PRSB_ADDR_LN",
                     "SPLY_DAYS_CNT", "COUNT_OF_PAID", "COUNT_OF_REJECTED"
                    )

In [ ]:
"""
proc sql; create table TEST10 AS(
      select DIM_MBR_SK,
           CASE WHEN PHRM_ST_CD <> 'NJ'
                 THEN COUNT(CLM_RX_ID)
                      ELSE 0
           END AS OOS_PHARM
      from test9
           group by DIM_MBR_SK,
                 PHRM_ST_CD) ;
                 quit;
"""

TEST10 = TEST9.groupBy("DIM_MBR_SK", "PHRM_ST_CD") \
              .agg(when(col("PHRM_ST_CD") != "NJ", count("CLM_RX_ID"))
                  .otherwise(lit(0)).alias("OOS_PHARM")) \
              .select("DIM_MBR_SK", "OOS_PHARM")

In [ ]:
"""
proc sql; create table TEST11 AS(
      select A.*,
           OOS_PHARM
      from test9 A
           left join test10 B
                 ON A.DIM_MBR_SK = B.DIM_MBR_SK) ;
                 quit;
"""

TEST11 = TEST9.join(TEST10, on="DIM_MBR_SK", how="left") \
              .select(*TEST9.columns, "OOS_PHARM")

In [ ]:
"""
proc sql; create table TEST12 AS(
      select DIM_MBR_SK,
           count(distinct(PRSB_NPI_ID)) AS COUNT_OF_DIST_MD
      from test11
           group by DIM_MBR_SK) ;
           quit;
"""

TEST12 = TEST11.groupBy("DIM_MBR_SK") \
               .agg(countDistinct("PRSB_NPI_ID").alias("COUNT_OF_DIST_MD"))

In [ ]:
"""
proc sql; create table TEST13 AS(
      select A.*,
           COUNT_OF_DIST_MD
      from test11 A
           left join test12 B
                 on A.DIM_MBR_SK = B.DIM_MBR_SK) ;
                 quit;
"""

TEST13 = TEST11.join(TEST12, on="DIM_MBR_SK", how="left") \
               .select(*TEST11.columns, "COUNT_OF_DIST_MD")

In [ ]:
"""
proc sql; create table TEST14 AS(
      select DIM_MBR_SK,
           count(distinct(PRSB_ADDR_LN)) AS DIST_ADDR
      from test13
           group by DIM_MBR_SK) ;
           quit;
"""

TEST14 = TEST13.groupBy("DIM_MBR_SK") \
               .agg(countDistinct("PRSB_ADDR_LN").alias("DIST_ADDR"))

In [ ]:
"""
proc sql; create table TEST15 AS(
      select A.*,
           DIST_ADDR
      from test13 A
           left join test14 B
                 on A.DIM_MBR_SK = B.DIM_MBR_SK) ;
                 quit;
"""


TEST15 = TEST13.join(TEST14, on="DIM_MBR_SK", how="left") \
               .select(*TEST13.columns, "DIST_ADDR")

In [ ]:
"""
proc sql; create table LOCK1 AS(
      select distinct DIM_MBR_SK,
           AGE,
           PAT_SEX_CD
      from test15
           where substr(CUST_CARD_ID,1,12)  NOT IN /*Update for any member already locked in */
          
                 (
Discrete list of ID(s) for members
 
)) ; quit;
"""

### something wrong with the above sas code...the list of member IDs is not present
### I think we don't have data for members already locked, so we can take member_list as an empty list.

member_list = []

LOCK1 = TEST15.filter(~substring('CUST_CARD_ID', 1, 12).isin(member_list)) \
              .select('DIM_MBR_SK', 'AGE', 'PAT_SEX_CD')

In [ ]:
"""
proc datasets; delete     
 test1 test2 test3 test4 test5 test6 test7 test8; run;
 """

 ## delete all the listed tables

In [ ]:
"""
proc sql; create table MTHMIN12 AS(
      select distinct
           O.DIM_MBR_SK,
      CASE WHEN count(CVS) GE 1 THEN 1 ELSE 0 END AS CVS_COUNT,
      CASE WHEN count(RITE_AID) GE 1 THEN 1 ELSE 0 END AS RITE_AID_COUNT,
      CASE WHEN count(WAL_MART) GE 1 THEN 1 ELSE 0 END AS WAL_MART_COUNT,
      CASE WHEN count(WALGREENS) GE 1 THEN 1 ELSE 0 END AS WALGREENS_COUNT,
      CASE WHEN count(COSTCO) GE 1 THEN 1 ELSE 0 END AS COSTCO_COUNT,
      CASE WHEN count(PATHMARK) GE 1 THEN 1 ELSE 0 END AS PATHMARK_COUNT,
      CASE WHEN count(SHOPRITE) GE 1 THEN 1 ELSE 0 END AS SHOPRITE_COUNT,
      CASE WHEN count(TARGET) GE 1 THEN 1 ELSE 0 END AS TARGET_COUNT,
      CASE WHEN count(DUANE) GE 1 THEN 1 ELSE 0 END AS DUANE_COUNT,
      CASE WHEN count(GIANT) GE 1 THEN 1 ELSE 0 END AS GIANT_COUNT,
      CASE WHEN count(KROGER) GE 1 THEN 1 ELSE 0 END AS KROGER_COUNT,
      CASE WHEN count(STOPNSHOP) GE 1 THEN 1 ELSE 0 END AS STOPNSHOP_COUNT,
      CASE WHEN count(ACME) GE 1 THEN 1 ELSE 0 END AS ACME_COUNT,
      CASE WHEN count(OTHER) GE 1 THEN 1 ELSE 0 END AS OTHER_COUNT,
           count(OTHER) AS OTHER_SUM
      FROM (select * from LOCK1) O
                 LEFT JOIN
                 (select  PHRM_SK,  DIM_MBR_SK,      INCR_DT
                 from  TDPRD.SMC_FACT_PHRM_CLM WHERE INCR_DT
      BETWEEN &BEG12  AND &END12 )clm
                      ON O.DIM_MBR_SK = clm.DIM_MBR_SK
                 LEFT JOIN
                 (select
                      DIM_PHRM_SK,
                 CASE WHEN PHRM_NM LIKE '%CVS%'
                      THEN 1
                 END AS CVS,
           CASE WHEN PHRM_NM LIKE '%RITE AID%'
                 THEN 1
           END AS RITE_AID,
      CASE WHEN PHRM_NM LIKE '%WAL-MART%'
           THEN 1
      END AS WAL_MART,
CASE WHEN PHRM_NM LIKE '%WALGREENS%'
      THEN 1
END AS WALGREENS,
CASE WHEN PHRM_NM LIKE '%COSTCO%'
THEN 1
END AS COSTCO,      
CASE WHEN PHRM_NM LIKE '%PATHMARK%'
THEN 1
END AS PATHMARK,
CASE WHEN PHRM_NM LIKE '%SHOPRITE%'
THEN 1
END AS SHOPRITE,
CASE WHEN PHRM_NM LIKE '%TARGET%'
THEN 1
END AS TARGET,
CASE WHEN PHRM_NM LIKE '%DUANE%'
THEN 1
END AS DUANE,  
CASE WHEN PHRM_NM LIKE '%GIANT%'
THEN 1
END AS GIANT,
CASE WHEN PHRM_NM LIKE '%STOP N%'
THEN 1
END AS STOPNSHOP,
CASE WHEN PHRM_NM LIKE '%KROGER%'
THEN 1
END AS KROGER, 
CASE WHEN PHRM_NM LIKE 'ACME%'
THEN 1
END AS ACME,
CASE WHEN PHRM_NM NOT LIKE '%GIANT%' AND PHRM_NM NOT LIKE '%DUANE%' AND PHRM_NM NOT LIKE '%TARGET%' AND PHRM_NM NOT LIKE '%SHOPRITE%' AND PHRM_NM
NOT LIKE '%PATHMARK%' AND PHRM_NM NOT LIKE '%COSTCO%' AND PHRM_NM NOT LIKE '%WALGREENS%' AND PHRM_NM NOT LIKE '%WAL-MART%'
AND PHRM_NM NOT LIKE '%RITE AID%' AND PHRM_NM NOT LIKE '%CVS%'    AND PHRM_NM NOT LIKE '%STOP N%' AND PHRM_NM NOT LIKE '%KROGER%' AND  PHRM_NM NOT LIKE 'ACME%'
THEN 1
END AS OTHER         
FROM   TDPRD.SMC_DIM_PHRM)dim
ON   clm.PHRM_SK = dim.DIM_PHRM_SK
GROUP BY  O.DIM_MBR_SK) ; quit;
"""



dim2 = spark.table("TDPRD.SMC_DIM_PHRM") \
            .select("DIM_PHRM_SK", 
                    when(col("PHRM_NM").like("%CVS%"), 1).alias("CVS"),
                    when(col("PHRM_NM").like("%RITE AID%"), 1).alias("RITE_AID"),
                    when(col("PHRM_NM").like("%WAL-MART%"), 1).alias("WAL_MART"),
                    when(col("PHRM_NM").like("%WALGREENS%"), 1).alias("WALGREENS"),
                    when(col("PHRM_NM").like("%COSTCO%"), 1).alias("COSTCO"),
                    when(col("PHRM_NM").like("%PATHMARK%"), 1).alias("PATHMARK"),
                    when(col("PHRM_NM").like("%SHOPRITE%"), 1).alias("SHOPRITE"),
                    when(col("PHRM_NM").like("%TARGET%"), 1).alias("TARGET"),
                    when(col("PHRM_NM").like("%DUANE%"), 1).alias("DUANE"),
                    when(col("PHRM_NM").like("%GIANT%"), 1).alias("GIANT"),
                    when(col("PHRM_NM").like("%STOP N%"), 1).alias("STOPNSHOP"),
                    when(col("PHRM_NM").like("%KROGER%"), 1).alias("KROGER"),
                    when(col("PHRM_NM").like("ACME%"), 1).alias("ACME"),
                    when(~col("PHRM_NM").like("%GIANT%") & ~col("PHRM_NM").like("%DUANE%") &
                        ~col("PHRM_NM").like("%TARGET%") & ~col("PHRM_NM").like("%SHOPRITE%") &
                        ~col("PHRM_NM").like("%PATHMARK%") & ~col("PHRM_NM").like("%COSTCO%") &
                        ~col("PHRM_NM").like("%WALGREENS%") & ~col("PHRM_NM").like("%WAL-MART%") &
                        ~col("PHRM_NM").like("%RITE AID%") & ~col("PHRM_NM").like("%CVS%") &
                        ~col("PHRM_NM").like("%STOP N%") & ~col("PHRM_NM").like("%KROGER%") &
                        ~col("PHRM_NM").like("ACME%"), 1).alias("OTHER")
                   )


clm2 = spark.table("TDPRD.SMC_FACT_PHRM_CLM") \
            .filter(col("INCR_DT").between(BEG12, END12)) \
            .select("PHRM_SK", "DIM_MBR_SK", "INCR_DT")


x = clm2.join(dim2, col("PHRM_SK") == col("DIM_PHRM_SK"), "left")


MTHNIN12 = LOCK1.join(x, on="DIM_MBR_SK", how="left") \
                .groupBy("DIM_MBR_SK") \
                .agg( when(count(col("CVS")).ge(1), 1).otherwise(0).alias("CVS_COUNT"),
                      when(count(col("RITE_AID")).ge(1), 1).otherwise(0).alias("RITE_AID_COUNT"),
                      when(count(col("WAL_MART")).ge(1), 1).otherwise(0).alias("WAL_MART_COUNT"),
                      when(count(col("COSTCO")).ge(1), 1).otherwise(0).alias("COSTCO_COUNT"),
                      when(count(col("PATHMARK")).ge(1), 1).otherwise(0).alias("PATHMARK_COUNT"),
                      when(count(col("SHOPRITE")).ge(1), 1).otherwise(0).alias("SHOPRITE_COUNT"),
                      when(count(col("TARGET")).ge(1), 1).otherwise(0).alias("TARGET_COUNT"),
                      when(count(col("DUANE")).ge(1), 1).otherwise(0).alias("DUANE_COUNT"),
                      when(count(col("GIANT")).ge(1), 1).otherwise(0).alias("GIANT_COUNT"),
                      when(count(col("KROGER")).ge(1), 1).otherwise(0).alias("KROGER_COUNT"),
                      when(count(col("STOPNSHOP")).ge(1), 1).otherwise(0).alias("STOPNSHOP_COUNT"),
                      when(count(col("ACME")).ge(1), 1).otherwise(0).alias("ACME_COUNT"),
                      when(count(col("OTHER")).ge(1), 1).otherwise(0).alias("OTHER_COUNT"),
                      when(count(col("WALGREENS")).ge(1), 1).otherwise(0).alias("WALGREENS_COUNT"),
                      count(col("OTHER")).alias("OTHER_SUM")
                    )

In [ ]:
"""
proc sql; create table MTHMIN11 AS(
      select distinct
           O.DIM_MBR_SK,
      CASE WHEN count(CVS) GE 1 THEN 1 ELSE 0 END AS CVS_COUNT,
      CASE WHEN count(RITE_AID) GE 1 THEN 1 ELSE 0 END AS RITE_AID_COUNT,
      CASE WHEN count(WAL_MART) GE 1 THEN 1 ELSE 0 END AS WAL_MART_COUNT,
      CASE WHEN count(WALGREENS) GE 1 THEN 1 ELSE 0 END AS WALGREENS_COUNT,
      CASE WHEN count(COSTCO) GE 1 THEN 1 ELSE 0 END AS COSTCO_COUNT,
      CASE WHEN count(PATHMARK) GE 1 THEN 1 ELSE 0 END AS PATHMARK_COUNT,
      CASE WHEN count(SHOPRITE) GE 1 THEN 1 ELSE 0 END AS SHOPRITE_COUNT,
      CASE WHEN count(TARGET) GE 1 THEN 1 ELSE 0 END AS TARGET_COUNT,
      CASE WHEN count(DUANE) GE 1 THEN 1 ELSE 0 END AS DUANE_COUNT,
      CASE WHEN count(GIANT) GE 1 THEN 1 ELSE 0 END AS GIANT_COUNT,
      CASE WHEN count(KROGER) GE 1 THEN 1 ELSE 0 END AS KROGER_COUNT,
      CASE WHEN count(STOPNSHOP) GE 1 THEN 1 ELSE 0 END AS STOPNSHOP_COUNT,
      CASE WHEN count(ACME) GE 1 THEN 1 ELSE 0 END AS ACME_COUNT,
      CASE WHEN count(OTHER) GE 1 THEN 1 ELSE 0 END AS OTHER_COUNT,
           count(OTHER) AS OTHER_SUM
      FROM (select * from LOCK1) O
                 LEFT JOIN
                 (select  PHRM_SK,  DIM_MBR_SK,      INCR_DT
                 from  TDPRD.SMC_FACT_PHRM_CLM WHERE INCR_DT
      BETWEEN &BEG11  AND &END11 )clm
                      ON O.DIM_MBR_SK = clm.DIM_MBR_SK
                 LEFT JOIN
                 (select
                      DIM_PHRM_SK,
                 CASE WHEN PHRM_NM LIKE '%CVS%'
                      THEN 1
                 END AS CVS,
           CASE WHEN PHRM_NM LIKE '%RITE AID%'
                 THEN 1
           END AS RITE_AID,
      CASE WHEN PHRM_NM LIKE '%WAL-MART%'
           THEN 1
      END AS WAL_MART,
CASE WHEN PHRM_NM LIKE '%WALGREENS%'
      THEN 1
END AS WALGREENS,
CASE WHEN PHRM_NM LIKE '%COSTCO%'
THEN 1
END AS COSTCO,      
CASE WHEN PHRM_NM LIKE '%PATHMARK%'
THEN 1
END AS PATHMARK,
CASE WHEN PHRM_NM LIKE '%SHOPRITE%'
THEN 1
END AS SHOPRITE,
CASE WHEN PHRM_NM LIKE '%TARGET%'
THEN 1
END AS TARGET,
CASE WHEN PHRM_NM LIKE '%DUANE%'
THEN 1
END AS DUANE,  
CASE WHEN PHRM_NM LIKE '%GIANT%'
THEN 1
END AS GIANT,
CASE WHEN PHRM_NM LIKE '%STOP N%'
THEN 1
END AS STOPNSHOP,
CASE WHEN PHRM_NM LIKE '%KROGER%'
THEN 1
END AS KROGER, 
CASE WHEN PHRM_NM LIKE 'ACME%'
THEN 1
END AS ACME,
CASE WHEN PHRM_NM NOT LIKE '%GIANT%' AND PHRM_NM NOT LIKE '%DUANE%' AND PHRM_NM NOT LIKE '%TARGET%' AND PHRM_NM NOT LIKE '%SHOPRITE%' AND PHRM_NM
NOT LIKE '%PATHMARK%' AND PHRM_NM NOT LIKE '%COSTCO%' AND PHRM_NM NOT LIKE '%WALGREENS%' AND PHRM_NM NOT LIKE '%WAL-MART%'
AND PHRM_NM NOT LIKE '%RITE AID%' AND PHRM_NM NOT LIKE '%CVS%'    AND PHRM_NM NOT LIKE '%STOP N%' AND PHRM_NM NOT LIKE '%KROGER%' AND  PHRM_NM NOT LIKE 'ACME%'
THEN 1
END AS OTHER         
FROM   TDPRD.SMC_DIM_PHRM)dim
ON   clm.PHRM_SK = dim.DIM_PHRM_SK
GROUP BY  O.DIM_MBR_SK) ; quit;
"""




clm3 = spark.table("TDPRD.SMC_FACT_PHRM_CLM") \
            .filter(col("INCR_DT").between(BEG11, END11)) \
            .select("PHRM_SK", "DIM_MBR_SK", "INCR_DT")

X1 = clm3.join(dim2, col("PHRM_SK") == col("DIM_PHRM_SK"), "left")


MTHNIN11 = LOCK1.join(X1, on="DIM_MBR_SK", how="left") \
                .groupBy("DIM_MBR_SK") \
                .agg( when(count(col("CVS")).ge(1), 1).otherwise(0).alias("CVS_COUNT"),
                      when(count(col("RITE_AID")).ge(1), 1).otherwise(0).alias("RITE_AID_COUNT"),
                      when(count(col("WAL_MART")).ge(1), 1).otherwise(0).alias("WAL_MART_COUNT"),
                      when(count(col("COSTCO")).ge(1), 1).otherwise(0).alias("COSTCO_COUNT"),
                      when(count(col("PATHMARK")).ge(1), 1).otherwise(0).alias("PATHMARK_COUNT"),
                      when(count(col("SHOPRITE")).ge(1), 1).otherwise(0).alias("SHOPRITE_COUNT"),
                      when(count(col("TARGET")).ge(1), 1).otherwise(0).alias("TARGET_COUNT"),
                      when(count(col("DUANE")).ge(1), 1).otherwise(0).alias("DUANE_COUNT"),
                      when(count(col("GIANT")).ge(1), 1).otherwise(0).alias("GIANT_COUNT"),
                      when(count(col("KROGER")).ge(1), 1).otherwise(0).alias("KROGER_COUNT"),
                      when(count(col("STOPNSHOP")).ge(1), 1).otherwise(0).alias("STOPNSHOP_COUNT"),
                      when(count(col("ACME")).ge(1), 1).otherwise(0).alias("ACME_COUNT"),
                      when(count(col("OTHER")).ge(1), 1).otherwise(0).alias("OTHER_COUNT"),
                      when(count(col("WALGREENS")).ge(1), 1).otherwise(0).alias("WALGREENS_COUNT"),
                      count(col("OTHER")).alias("OTHER_SUM")
                    )

In [ ]:
"""
proc sql; create table MTHMIN10 AS(
      select distinct
           O.DIM_MBR_SK,
      CASE WHEN count(CVS) GE 1 THEN 1 ELSE 0 END AS CVS_COUNT,
      CASE WHEN count(RITE_AID) GE 1 THEN 1 ELSE 0 END AS RITE_AID_COUNT,
      CASE WHEN count(WAL_MART) GE 1 THEN 1 ELSE 0 END AS WAL_MART_COUNT,
      CASE WHEN count(WALGREENS) GE 1 THEN 1 ELSE 0 END AS WALGREENS_COUNT,
      CASE WHEN count(COSTCO) GE 1 THEN 1 ELSE 0 END AS COSTCO_COUNT,
      CASE WHEN count(PATHMARK) GE 1 THEN 1 ELSE 0 END AS PATHMARK_COUNT,
      CASE WHEN count(SHOPRITE) GE 1 THEN 1 ELSE 0 END AS SHOPRITE_COUNT,
      CASE WHEN count(TARGET) GE 1 THEN 1 ELSE 0 END AS TARGET_COUNT,
      CASE WHEN count(DUANE) GE 1 THEN 1 ELSE 0 END AS DUANE_COUNT,
      CASE WHEN count(GIANT) GE 1 THEN 1 ELSE 0 END AS GIANT_COUNT,
      CASE WHEN count(KROGER) GE 1 THEN 1 ELSE 0 END AS KROGER_COUNT,
      CASE WHEN count(STOPNSHOP) GE 1 THEN 1 ELSE 0 END AS STOPNSHOP_COUNT,
      CASE WHEN count(ACME) GE 1 THEN 1 ELSE 0 END AS ACME_COUNT,
      CASE WHEN count(OTHER) GE 1 THEN 1 ELSE 0 END AS OTHER_COUNT,
           count(OTHER) AS OTHER_SUM
      FROM (select * from LOCK1) O
                 LEFT JOIN
                 (select  PHRM_SK,  DIM_MBR_SK,      INCR_DT
                 from  TDPRD.SMC_FACT_PHRM_CLM WHERE INCR_DT
      BETWEEN &BEG10  AND &END10 )clm
                      ON O.DIM_MBR_SK = clm.DIM_MBR_SK
                 LEFT JOIN
                 (select
                      DIM_PHRM_SK,
                 CASE WHEN PHRM_NM LIKE '%CVS%'
                      THEN 1
                 END AS CVS,
           CASE WHEN PHRM_NM LIKE '%RITE AID%'
                 THEN 1
           END AS RITE_AID,
      CASE WHEN PHRM_NM LIKE '%WAL-MART%'
           THEN 1
      END AS WAL_MART,
CASE WHEN PHRM_NM LIKE '%WALGREENS%'
      THEN 1
END AS WALGREENS,
CASE WHEN PHRM_NM LIKE '%COSTCO%'
THEN 1
END AS COSTCO,      
CASE WHEN PHRM_NM LIKE '%PATHMARK%'
THEN 1
END AS PATHMARK,
CASE WHEN PHRM_NM LIKE '%SHOPRITE%'
THEN 1
END AS SHOPRITE,
CASE WHEN PHRM_NM LIKE '%TARGET%'
THEN 1
END AS TARGET,
CASE WHEN PHRM_NM LIKE '%DUANE%'
THEN 1
END AS DUANE,  
CASE WHEN PHRM_NM LIKE '%GIANT%'
THEN 1
END AS GIANT,
CASE WHEN PHRM_NM LIKE '%STOP N%'
THEN 1
END AS STOPNSHOP,
CASE WHEN PHRM_NM LIKE '%KROGER%'
THEN 1
END AS KROGER, 
CASE WHEN PHRM_NM LIKE 'ACME%'
THEN 1
END AS ACME,
CASE WHEN PHRM_NM NOT LIKE '%GIANT%' AND PHRM_NM NOT LIKE '%DUANE%' AND PHRM_NM NOT LIKE '%TARGET%' AND PHRM_NM NOT LIKE '%SHOPRITE%' AND PHRM_NM
NOT LIKE '%PATHMARK%' AND PHRM_NM NOT LIKE '%COSTCO%' AND PHRM_NM NOT LIKE '%WALGREENS%' AND PHRM_NM NOT LIKE '%WAL-MART%'
AND PHRM_NM NOT LIKE '%RITE AID%' AND PHRM_NM NOT LIKE '%CVS%'    AND PHRM_NM NOT LIKE '%STOP N%' AND PHRM_NM NOT LIKE '%KROGER%' AND  PHRM_NM NOT LIKE 'ACME%'
THEN 1
END AS OTHER         
FROM   TDPRD.SMC_DIM_PHRM)dim
ON   clm.PHRM_SK = dim.DIM_PHRM_SK
GROUP BY  O.DIM_MBR_SK) ; quit;
"""


clm4 = spark.table("TDPRD.SMC_FACT_PHRM_CLM") \
            .filter(col("INCR_DT").between(BEG10, END10)) \
            .select("PHRM_SK", "DIM_MBR_SK", "INCR_DT")

X2 = clm4.join(dim2, col("PHRM_SK") == col("DIM_PHRM_SK"), "left")


MTHNIN10 = LOCK1.join(X2, on="DIM_MBR_SK", how="left") \
                .groupBy("DIM_MBR_SK") \
                .agg( when(count(col("CVS")).ge(1), 1).otherwise(0).alias("CVS_COUNT"),
                      when(count(col("RITE_AID")).ge(1), 1).otherwise(0).alias("RITE_AID_COUNT"),
                      when(count(col("WAL_MART")).ge(1), 1).otherwise(0).alias("WAL_MART_COUNT"),
                      when(count(col("COSTCO")).ge(1), 1).otherwise(0).alias("COSTCO_COUNT"),
                      when(count(col("PATHMARK")).ge(1), 1).otherwise(0).alias("PATHMARK_COUNT"),
                      when(count(col("SHOPRITE")).ge(1), 1).otherwise(0).alias("SHOPRITE_COUNT"),
                      when(count(col("TARGET")).ge(1), 1).otherwise(0).alias("TARGET_COUNT"),
                      when(count(col("DUANE")).ge(1), 1).otherwise(0).alias("DUANE_COUNT"),
                      when(count(col("GIANT")).ge(1), 1).otherwise(0).alias("GIANT_COUNT"),
                      when(count(col("KROGER")).ge(1), 1).otherwise(0).alias("KROGER_COUNT"),
                      when(count(col("STOPNSHOP")).ge(1), 1).otherwise(0).alias("STOPNSHOP_COUNT"),
                      when(count(col("ACME")).ge(1), 1).otherwise(0).alias("ACME_COUNT"),
                      when(count(col("OTHER")).ge(1), 1).otherwise(0).alias("OTHER_COUNT"),
                      when(count(col("WALGREENS")).ge(1), 1).otherwise(0).alias("WALGREENS_COUNT"),
                      count(col("OTHER")).alias("OTHER_SUM")
                    )

In [ ]:
"""
proc sql; create table MTHMIN9 AS(
      select distinct
           O.DIM_MBR_SK,
      CASE WHEN count(CVS) GE 1 THEN 1 ELSE 0 END AS CVS_COUNT,
      CASE WHEN count(RITE_AID) GE 1 THEN 1 ELSE 0 END AS RITE_AID_COUNT,
      CASE WHEN count(WAL_MART) GE 1 THEN 1 ELSE 0 END AS WAL_MART_COUNT,
      CASE WHEN count(WALGREENS) GE 1 THEN 1 ELSE 0 END AS WALGREENS_COUNT,
      CASE WHEN count(COSTCO) GE 1 THEN 1 ELSE 0 END AS COSTCO_COUNT,
      CASE WHEN count(PATHMARK) GE 1 THEN 1 ELSE 0 END AS PATHMARK_COUNT,
      CASE WHEN count(SHOPRITE) GE 1 THEN 1 ELSE 0 END AS SHOPRITE_COUNT,
      CASE WHEN count(TARGET) GE 1 THEN 1 ELSE 0 END AS TARGET_COUNT,
      CASE WHEN count(DUANE) GE 1 THEN 1 ELSE 0 END AS DUANE_COUNT,
      CASE WHEN count(GIANT) GE 1 THEN 1 ELSE 0 END AS GIANT_COUNT,
      CASE WHEN count(KROGER) GE 1 THEN 1 ELSE 0 END AS KROGER_COUNT,
      CASE WHEN count(STOPNSHOP) GE 1 THEN 1 ELSE 0 END AS STOPNSHOP_COUNT,
      CASE WHEN count(ACME) GE 1 THEN 1 ELSE 0 END AS ACME_COUNT,
      CASE WHEN count(OTHER) GE 1 THEN 1 ELSE 0 END AS OTHER_COUNT,
           count(OTHER) AS OTHER_SUM
      FROM (select * from LOCK1) O
                 LEFT JOIN
                 (select  PHRM_SK,  DIM_MBR_SK,      INCR_DT
                 from  TDPRD.SMC_FACT_PHRM_CLM WHERE INCR_DT
      BETWEEN &BEG9  AND &END9 )clm
                      ON O.DIM_MBR_SK = clm.DIM_MBR_SK
                 LEFT JOIN
                 (select
                      DIM_PHRM_SK,
                 CASE WHEN PHRM_NM LIKE '%CVS%'
                      THEN 1
                 END AS CVS,
           CASE WHEN PHRM_NM LIKE '%RITE AID%'
                 THEN 1
           END AS RITE_AID,
      CASE WHEN PHRM_NM LIKE '%WAL-MART%'
           THEN 1
      END AS WAL_MART,
CASE WHEN PHRM_NM LIKE '%WALGREENS%'
      THEN 1
END AS WALGREENS,
CASE WHEN PHRM_NM LIKE '%COSTCO%'
THEN 1
END AS COSTCO,      
CASE WHEN PHRM_NM LIKE '%PATHMARK%'
THEN 1
END AS PATHMARK,
CASE WHEN PHRM_NM LIKE '%SHOPRITE%'
THEN 1
END AS SHOPRITE,
CASE WHEN PHRM_NM LIKE '%TARGET%'
THEN 1
END AS TARGET,
CASE WHEN PHRM_NM LIKE '%DUANE%'
THEN 1
END AS DUANE,  
CASE WHEN PHRM_NM LIKE '%GIANT%'
THEN 1
END AS GIANT,
CASE WHEN PHRM_NM LIKE '%STOP N%'
THEN 1
END AS STOPNSHOP,
CASE WHEN PHRM_NM LIKE '%KROGER%'
THEN 1
END AS KROGER, 
CASE WHEN PHRM_NM LIKE 'ACME%'
THEN 1
END AS ACME,
CASE WHEN PHRM_NM NOT LIKE '%GIANT%' AND PHRM_NM NOT LIKE '%DUANE%' AND PHRM_NM NOT LIKE '%TARGET%' AND PHRM_NM NOT LIKE '%SHOPRITE%' AND PHRM_NM
NOT LIKE '%PATHMARK%' AND PHRM_NM NOT LIKE '%COSTCO%' AND PHRM_NM NOT LIKE '%WALGREENS%' AND PHRM_NM NOT LIKE '%WAL-MART%'
AND PHRM_NM NOT LIKE '%RITE AID%' AND PHRM_NM NOT LIKE '%CVS%'    AND PHRM_NM NOT LIKE '%STOP N%' AND PHRM_NM NOT LIKE '%KROGER%' AND  PHRM_NM NOT LIKE 'ACME%'
THEN 1
END AS OTHER         
FROM   TDPRD.SMC_DIM_PHRM)dim
ON   clm.PHRM_SK = dim.DIM_PHRM_SK
GROUP BY  O.DIM_MBR_SK) ; quit;
"""


clm5 = spark.table("TDPRD.SMC_FACT_PHRM_CLM") \
            .filter(col("INCR_DT").between(BEG9, END9)) \
            .select("PHRM_SK", "DIM_MBR_SK", "INCR_DT")

X3 = clm5.join(dim2, col("PHRM_SK") == col("DIM_PHRM_SK"), "left")


MTHNIN9 = LOCK1.join(X3, on="DIM_MBR_SK", how="left") \
               .groupBy("DIM_MBR_SK") \
               .agg(when(count(col("CVS")).ge(1), 1).otherwise(0).alias("CVS_COUNT"),
                    when(count(col("RITE_AID")).ge(1), 1).otherwise(0).alias("RITE_AID_COUNT"),
                    when(count(col("WAL_MART")).ge(1), 1).otherwise(0).alias("WAL_MART_COUNT"),
                    when(count(col("COSTCO")).ge(1), 1).otherwise(0).alias("COSTCO_COUNT"),
                    when(count(col("PATHMARK")).ge(1), 1).otherwise(0).alias("PATHMARK_COUNT"),
                    when(count(col("SHOPRITE")).ge(1), 1).otherwise(0).alias("SHOPRITE_COUNT"),
                    when(count(col("TARGET")).ge(1), 1).otherwise(0).alias("TARGET_COUNT"),
                    when(count(col("DUANE")).ge(1), 1).otherwise(0).alias("DUANE_COUNT"),
                    when(count(col("GIANT")).ge(1), 1).otherwise(0).alias("GIANT_COUNT"),
                    when(count(col("KROGER")).ge(1), 1).otherwise(0).alias("KROGER_COUNT"),
                    when(count(col("STOPNSHOP")).ge(1), 1).otherwise(0).alias("STOPNSHOP_COUNT"),
                    when(count(col("ACME")).ge(1), 1).otherwise(0).alias("ACME_COUNT"),
                    when(count(col("OTHER")).ge(1), 1).otherwise(0).alias("OTHER_COUNT"),
                    when(count(col("WALGREENS")).ge(1), 1).otherwise(0).alias("WALGREENS_COUNT"),
                    count(col("OTHER")).alias("OTHER_SUM")
                   )

In [ ]:
"""
proc sql; create table MTHMIN8 AS(
      select distinct
           O.DIM_MBR_SK,
      CASE WHEN count(CVS) GE 1 THEN 1 ELSE 0 END AS CVS_COUNT,
      CASE WHEN count(RITE_AID) GE 1 THEN 1 ELSE 0 END AS RITE_AID_COUNT,
      CASE WHEN count(WAL_MART) GE 1 THEN 1 ELSE 0 END AS WAL_MART_COUNT,
      CASE WHEN count(WALGREENS) GE 1 THEN 1 ELSE 0 END AS WALGREENS_COUNT,
      CASE WHEN count(COSTCO) GE 1 THEN 1 ELSE 0 END AS COSTCO_COUNT,
      CASE WHEN count(PATHMARK) GE 1 THEN 1 ELSE 0 END AS PATHMARK_COUNT,
      CASE WHEN count(SHOPRITE) GE 1 THEN 1 ELSE 0 END AS SHOPRITE_COUNT,
      CASE WHEN count(TARGET) GE 1 THEN 1 ELSE 0 END AS TARGET_COUNT,
      CASE WHEN count(DUANE) GE 1 THEN 1 ELSE 0 END AS DUANE_COUNT,
      CASE WHEN count(GIANT) GE 1 THEN 1 ELSE 0 END AS GIANT_COUNT,
      CASE WHEN count(KROGER) GE 1 THEN 1 ELSE 0 END AS KROGER_COUNT,
      CASE WHEN count(STOPNSHOP) GE 1 THEN 1 ELSE 0 END AS STOPNSHOP_COUNT,
      CASE WHEN count(ACME) GE 1 THEN 1 ELSE 0 END AS ACME_COUNT,
      CASE WHEN count(OTHER) GE 1 THEN 1 ELSE 0 END AS OTHER_COUNT,
           count(OTHER) AS OTHER_SUM
      FROM (select * from LOCK1) O
                 LEFT JOIN
                 (select  PHRM_SK,  DIM_MBR_SK,      INCR_DT
                 from  TDPRD.SMC_FACT_PHRM_CLM WHERE INCR_DT
      BETWEEN &BEG8  AND &END8 )clm
                      ON O.DIM_MBR_SK = clm.DIM_MBR_SK
                 LEFT JOIN
                 (select
                      DIM_PHRM_SK,
                 CASE WHEN PHRM_NM LIKE '%CVS%'
                      THEN 1
                 END AS CVS,
           CASE WHEN PHRM_NM LIKE '%RITE AID%'
                 THEN 1
           END AS RITE_AID,
      CASE WHEN PHRM_NM LIKE '%WAL-MART%'
           THEN 1
      END AS WAL_MART,
CASE WHEN PHRM_NM LIKE '%WALGREENS%'
      THEN 1
END AS WALGREENS,
CASE WHEN PHRM_NM LIKE '%COSTCO%'
THEN 1
END AS COSTCO,      
CASE WHEN PHRM_NM LIKE '%PATHMARK%'
THEN 1
END AS PATHMARK,
CASE WHEN PHRM_NM LIKE '%SHOPRITE%'
THEN 1
END AS SHOPRITE,
CASE WHEN PHRM_NM LIKE '%TARGET%'
THEN 1
END AS TARGET,
CASE WHEN PHRM_NM LIKE '%DUANE%'
THEN 1
END AS DUANE,  
CASE WHEN PHRM_NM LIKE '%GIANT%'
THEN 1
END AS GIANT,
CASE WHEN PHRM_NM LIKE '%STOP N%'
THEN 1
END AS STOPNSHOP,
CASE WHEN PHRM_NM LIKE '%KROGER%'
THEN 1
END AS KROGER, 
CASE WHEN PHRM_NM LIKE 'ACME%'
THEN 1
END AS ACME,
CASE WHEN PHRM_NM NOT LIKE '%GIANT%' AND PHRM_NM NOT LIKE '%DUANE%' AND PHRM_NM NOT LIKE '%TARGET%' AND PHRM_NM NOT LIKE '%SHOPRITE%' AND PHRM_NM
NOT LIKE '%PATHMARK%' AND PHRM_NM NOT LIKE '%COSTCO%' AND PHRM_NM NOT LIKE '%WALGREENS%' AND PHRM_NM NOT LIKE '%WAL-MART%'
AND PHRM_NM NOT LIKE '%RITE AID%' AND PHRM_NM NOT LIKE '%CVS%'    AND PHRM_NM NOT LIKE '%STOP N%' AND PHRM_NM NOT LIKE '%KROGER%' AND  PHRM_NM NOT LIKE 'ACME%'
THEN 1
END AS OTHER         
FROM   TDPRD.SMC_DIM_PHRM)dim
ON   clm.PHRM_SK = dim.DIM_PHRM_SK
GROUP BY  O.DIM_MBR_SK) ; quit;
"""


clm6 = spark.table("TDPRD.SMC_FACT_PHRM_CLM") \
            .filter(col("INCR_DT").between(BEG8, END8)) \
            .select("PHRM_SK", "DIM_MBR_SK", "INCR_DT")

X4 = clm6.join(dim2, col("PHRM_SK") == col("DIM_PHRM_SK"), "left")


MTHNIN8 = LOCK1.join(X4, on="DIM_MBR_SK", how="left") \
               .groupBy("DIM_MBR_SK") \
               .agg(when(count(col("CVS")).ge(1), 1).otherwise(0).alias("CVS_COUNT"),
                    when(count(col("RITE_AID")).ge(1), 1).otherwise(0).alias("RITE_AID_COUNT"),
                    when(count(col("WAL_MART")).ge(1), 1).otherwise(0).alias("WAL_MART_COUNT"),
                    when(count(col("COSTCO")).ge(1), 1).otherwise(0).alias("COSTCO_COUNT"),
                    when(count(col("PATHMARK")).ge(1), 1).otherwise(0).alias("PATHMARK_COUNT"),
                    when(count(col("SHOPRITE")).ge(1), 1).otherwise(0).alias("SHOPRITE_COUNT"),
                    when(count(col("TARGET")).ge(1), 1).otherwise(0).alias("TARGET_COUNT"),
                    when(count(col("DUANE")).ge(1), 1).otherwise(0).alias("DUANE_COUNT"),
                    when(count(col("GIANT")).ge(1), 1).otherwise(0).alias("GIANT_COUNT"),
                    when(count(col("KROGER")).ge(1), 1).otherwise(0).alias("KROGER_COUNT"),
                    when(count(col("STOPNSHOP")).ge(1), 1).otherwise(0).alias("STOPNSHOP_COUNT"),
                    when(count(col("ACME")).ge(1), 1).otherwise(0).alias("ACME_COUNT"),
                    when(count(col("OTHER")).ge(1), 1).otherwise(0).alias("OTHER_COUNT"),
                    when(count(col("WALGREENS")).ge(1), 1).otherwise(0).alias("WALGREENS_COUNT"),
                    count(col("OTHER")).alias("OTHER_SUM")
                   )

In [ ]:
"""
proc sql; create table MTHMIN7 AS(
      select distinct
           O.DIM_MBR_SK,
      CASE WHEN count(CVS) GE 1 THEN 1 ELSE 0 END AS CVS_COUNT,
      CASE WHEN count(RITE_AID) GE 1 THEN 1 ELSE 0 END AS RITE_AID_COUNT,
      CASE WHEN count(WAL_MART) GE 1 THEN 1 ELSE 0 END AS WAL_MART_COUNT,
      CASE WHEN count(WALGREENS) GE 1 THEN 1 ELSE 0 END AS WALGREENS_COUNT,
      CASE WHEN count(COSTCO) GE 1 THEN 1 ELSE 0 END AS COSTCO_COUNT,
      CASE WHEN count(PATHMARK) GE 1 THEN 1 ELSE 0 END AS PATHMARK_COUNT,
      CASE WHEN count(SHOPRITE) GE 1 THEN 1 ELSE 0 END AS SHOPRITE_COUNT,
      CASE WHEN count(TARGET) GE 1 THEN 1 ELSE 0 END AS TARGET_COUNT,
      CASE WHEN count(DUANE) GE 1 THEN 1 ELSE 0 END AS DUANE_COUNT,
      CASE WHEN count(GIANT) GE 1 THEN 1 ELSE 0 END AS GIANT_COUNT,
      CASE WHEN count(KROGER) GE 1 THEN 1 ELSE 0 END AS KROGER_COUNT,
      CASE WHEN count(STOPNSHOP) GE 1 THEN 1 ELSE 0 END AS STOPNSHOP_COUNT,
      CASE WHEN count(ACME) GE 1 THEN 1 ELSE 0 END AS ACME_COUNT,
      CASE WHEN count(OTHER) GE 1 THEN 1 ELSE 0 END AS OTHER_COUNT,
           count(OTHER) AS OTHER_SUM
      FROM (select * from LOCK1) O
                 LEFT JOIN
                 (select  PHRM_SK,  DIM_MBR_SK,      INCR_DT
                 from  TDPRD.SMC_FACT_PHRM_CLM WHERE INCR_DT
      BETWEEN &BEG7  AND &END7 )clm
                      ON O.DIM_MBR_SK = clm.DIM_MBR_SK
                 LEFT JOIN
                 (select
                      DIM_PHRM_SK,
                 CASE WHEN PHRM_NM LIKE '%CVS%'
                      THEN 1
                 END AS CVS,
           CASE WHEN PHRM_NM LIKE '%RITE AID%'
                 THEN 1
           END AS RITE_AID,
      CASE WHEN PHRM_NM LIKE '%WAL-MART%'
           THEN 1
      END AS WAL_MART,
CASE WHEN PHRM_NM LIKE '%WALGREENS%'
      THEN 1
END AS WALGREENS,
CASE WHEN PHRM_NM LIKE '%COSTCO%'
THEN 1
END AS COSTCO,      
CASE WHEN PHRM_NM LIKE '%PATHMARK%'
THEN 1
END AS PATHMARK,
CASE WHEN PHRM_NM LIKE '%SHOPRITE%'
THEN 1
END AS SHOPRITE,
CASE WHEN PHRM_NM LIKE '%TARGET%'
THEN 1
END AS TARGET,
CASE WHEN PHRM_NM LIKE '%DUANE%'
THEN 1
END AS DUANE,  
CASE WHEN PHRM_NM LIKE '%GIANT%'
THEN 1
END AS GIANT,
CASE WHEN PHRM_NM LIKE '%STOP N%'
THEN 1
END AS STOPNSHOP,
CASE WHEN PHRM_NM LIKE '%KROGER%'
THEN 1
END AS KROGER, 
CASE WHEN PHRM_NM LIKE 'ACME%'
THEN 1
END AS ACME,
CASE WHEN PHRM_NM NOT LIKE '%GIANT%' AND PHRM_NM NOT LIKE '%DUANE%' AND PHRM_NM NOT LIKE '%TARGET%' AND PHRM_NM NOT LIKE '%SHOPRITE%' AND PHRM_NM
NOT LIKE '%PATHMARK%' AND PHRM_NM NOT LIKE '%COSTCO%' AND PHRM_NM NOT LIKE '%WALGREENS%' AND PHRM_NM NOT LIKE '%WAL-MART%'
AND PHRM_NM NOT LIKE '%RITE AID%' AND PHRM_NM NOT LIKE '%CVS%'    AND PHRM_NM NOT LIKE '%STOP N%' AND PHRM_NM NOT LIKE '%KROGER%' AND  PHRM_NM NOT LIKE 'ACME%'
THEN 1
END AS OTHER         
FROM   TDPRD.SMC_DIM_PHRM)dim
ON   clm.PHRM_SK = dim.DIM_PHRM_SK
GROUP BY  O.DIM_MBR_SK) ; quit;
"""


clm7 = spark.table("TDPRD.SMC_FACT_PHRM_CLM") \
            .filter(col("INCR_DT").between(BEG7, END7)) \
            .select("PHRM_SK", "DIM_MBR_SK", "INCR_DT")

X5 = clm7.join(dim2, col("PHRM_SK") == col("DIM_PHRM_SK"), "left")


MTHNIN7 = LOCK1.join(X5, on="DIM_MBR_SK", how="left") \
               .groupBy("DIM_MBR_SK") \
               .agg(when(count(col("CVS")).ge(1), 1).otherwise(0).alias("CVS_COUNT"),
                    when(count(col("RITE_AID")).ge(1), 1).otherwise(0).alias("RITE_AID_COUNT"),
                    when(count(col("WAL_MART")).ge(1), 1).otherwise(0).alias("WAL_MART_COUNT"),
                    when(count(col("COSTCO")).ge(1), 1).otherwise(0).alias("COSTCO_COUNT"),
                    when(count(col("PATHMARK")).ge(1), 1).otherwise(0).alias("PATHMARK_COUNT"),
                    when(count(col("SHOPRITE")).ge(1), 1).otherwise(0).alias("SHOPRITE_COUNT"),
                    when(count(col("TARGET")).ge(1), 1).otherwise(0).alias("TARGET_COUNT"),
                    when(count(col("DUANE")).ge(1), 1).otherwise(0).alias("DUANE_COUNT"),
                    when(count(col("GIANT")).ge(1), 1).otherwise(0).alias("GIANT_COUNT"),
                    when(count(col("KROGER")).ge(1), 1).otherwise(0).alias("KROGER_COUNT"),
                    when(count(col("STOPNSHOP")).ge(1), 1).otherwise(0).alias("STOPNSHOP_COUNT"),
                    when(count(col("ACME")).ge(1), 1).otherwise(0).alias("ACME_COUNT"),
                    when(count(col("OTHER")).ge(1), 1).otherwise(0).alias("OTHER_COUNT"),
                    when(count(col("WALGREENS")).ge(1), 1).otherwise(0).alias("WALGREENS_COUNT"),
                    count(col("OTHER")).alias("OTHER_SUM")
                   )

In [ ]:
"""
proc sql; create table MTHMIN6 AS(
      select distinct
           O.DIM_MBR_SK,
      CASE WHEN count(CVS) GE 1 THEN 1 ELSE 0 END AS CVS_COUNT,
      CASE WHEN count(RITE_AID) GE 1 THEN 1 ELSE 0 END AS RITE_AID_COUNT,
      CASE WHEN count(WAL_MART) GE 1 THEN 1 ELSE 0 END AS WAL_MART_COUNT,
      CASE WHEN count(WALGREENS) GE 1 THEN 1 ELSE 0 END AS WALGREENS_COUNT,
      CASE WHEN count(COSTCO) GE 1 THEN 1 ELSE 0 END AS COSTCO_COUNT,
      CASE WHEN count(PATHMARK) GE 1 THEN 1 ELSE 0 END AS PATHMARK_COUNT,
      CASE WHEN count(SHOPRITE) GE 1 THEN 1 ELSE 0 END AS SHOPRITE_COUNT,
      CASE WHEN count(TARGET) GE 1 THEN 1 ELSE 0 END AS TARGET_COUNT,
      CASE WHEN count(DUANE) GE 1 THEN 1 ELSE 0 END AS DUANE_COUNT,
      CASE WHEN count(GIANT) GE 1 THEN 1 ELSE 0 END AS GIANT_COUNT,
      CASE WHEN count(KROGER) GE 1 THEN 1 ELSE 0 END AS KROGER_COUNT,
      CASE WHEN count(STOPNSHOP) GE 1 THEN 1 ELSE 0 END AS STOPNSHOP_COUNT,
      CASE WHEN count(ACME) GE 1 THEN 1 ELSE 0 END AS ACME_COUNT,
      CASE WHEN count(OTHER) GE 1 THEN 1 ELSE 0 END AS OTHER_COUNT,
           count(OTHER) AS OTHER_SUM
      FROM (select * from LOCK1) O
                 LEFT JOIN
                 (select  PHRM_SK,  DIM_MBR_SK,      INCR_DT
                 from  TDPRD.SMC_FACT_PHRM_CLM WHERE INCR_DT
      BETWEEN &BEG6  AND &END6 )clm
                      ON O.DIM_MBR_SK = clm.DIM_MBR_SK
                 LEFT JOIN
                 (select
                      DIM_PHRM_SK,
                 CASE WHEN PHRM_NM LIKE '%CVS%'
                      THEN 1
                 END AS CVS,
           CASE WHEN PHRM_NM LIKE '%RITE AID%'
                 THEN 1
           END AS RITE_AID,
      CASE WHEN PHRM_NM LIKE '%WAL-MART%'
           THEN 1
      END AS WAL_MART,
CASE WHEN PHRM_NM LIKE '%WALGREENS%'
      THEN 1
END AS WALGREENS,
CASE WHEN PHRM_NM LIKE '%COSTCO%'
THEN 1
END AS COSTCO,      
CASE WHEN PHRM_NM LIKE '%PATHMARK%'
THEN 1
END AS PATHMARK,
CASE WHEN PHRM_NM LIKE '%SHOPRITE%'
THEN 1
END AS SHOPRITE,
CASE WHEN PHRM_NM LIKE '%TARGET%'
THEN 1
END AS TARGET,
CASE WHEN PHRM_NM LIKE '%DUANE%'
THEN 1
END AS DUANE,  
CASE WHEN PHRM_NM LIKE '%GIANT%'
THEN 1
END AS GIANT,
CASE WHEN PHRM_NM LIKE '%STOP N%'
THEN 1
END AS STOPNSHOP,
CASE WHEN PHRM_NM LIKE '%KROGER%'
THEN 1
END AS KROGER, 
CASE WHEN PHRM_NM LIKE 'ACME%'
THEN 1
END AS ACME,
CASE WHEN PHRM_NM NOT LIKE '%GIANT%' AND PHRM_NM NOT LIKE '%DUANE%' AND PHRM_NM NOT LIKE '%TARGET%' AND PHRM_NM NOT LIKE '%SHOPRITE%' AND PHRM_NM
NOT LIKE '%PATHMARK%' AND PHRM_NM NOT LIKE '%COSTCO%' AND PHRM_NM NOT LIKE '%WALGREENS%' AND PHRM_NM NOT LIKE '%WAL-MART%'
AND PHRM_NM NOT LIKE '%RITE AID%' AND PHRM_NM NOT LIKE '%CVS%'    AND PHRM_NM NOT LIKE '%STOP N%' AND PHRM_NM NOT LIKE '%KROGER%' AND  PHRM_NM NOT LIKE 'ACME%'
THEN 1
END AS OTHER         
FROM   TDPRD.SMC_DIM_PHRM)dim
ON   clm.PHRM_SK = dim.DIM_PHRM_SK
GROUP BY  O.DIM_MBR_SK) ; quit;
"""



clm8 = spark.table("TDPRD.SMC_FACT_PHRM_CLM") \
            .filter(col("INCR_DT").between(BEG6, END6)) \
            .select("PHRM_SK", "DIM_MBR_SK", "INCR_DT")

X6 = clm8.join(dim2, col("PHRM_SK") == col("DIM_PHRM_SK"), "left")


MTHNIN6 = LOCK1.join(X6, on="DIM_MBR_SK", how="left") \
               .groupBy("DIM_MBR_SK") \
               .agg(when(count(col("CVS")).ge(1), 1).otherwise(0).alias("CVS_COUNT"),
                    when(count(col("RITE_AID")).ge(1), 1).otherwise(0).alias("RITE_AID_COUNT"),
                    when(count(col("WAL_MART")).ge(1), 1).otherwise(0).alias("WAL_MART_COUNT"),
                    when(count(col("COSTCO")).ge(1), 1).otherwise(0).alias("COSTCO_COUNT"),
                    when(count(col("PATHMARK")).ge(1), 1).otherwise(0).alias("PATHMARK_COUNT"),
                    when(count(col("SHOPRITE")).ge(1), 1).otherwise(0).alias("SHOPRITE_COUNT"),
                    when(count(col("TARGET")).ge(1), 1).otherwise(0).alias("TARGET_COUNT"),
                    when(count(col("DUANE")).ge(1), 1).otherwise(0).alias("DUANE_COUNT"),
                    when(count(col("GIANT")).ge(1), 1).otherwise(0).alias("GIANT_COUNT"),
                    when(count(col("KROGER")).ge(1), 1).otherwise(0).alias("KROGER_COUNT"),
                    when(count(col("STOPNSHOP")).ge(1), 1).otherwise(0).alias("STOPNSHOP_COUNT"),
                    when(count(col("ACME")).ge(1), 1).otherwise(0).alias("ACME_COUNT"),
                    when(count(col("OTHER")).ge(1), 1).otherwise(0).alias("OTHER_COUNT"),
                    when(count(col("WALGREENS")).ge(1), 1).otherwise(0).alias("WALGREENS_COUNT"),
                    count(col("OTHER")).alias("OTHER_SUM")
                   )

In [ ]:
"""
proc sql; create table MTHMIN5 AS(
      select distinct
           O.DIM_MBR_SK,
      CASE WHEN count(CVS) GE 1 THEN 1 ELSE 0 END AS CVS_COUNT,
      CASE WHEN count(RITE_AID) GE 1 THEN 1 ELSE 0 END AS RITE_AID_COUNT,
      CASE WHEN count(WAL_MART) GE 1 THEN 1 ELSE 0 END AS WAL_MART_COUNT,
      CASE WHEN count(WALGREENS) GE 1 THEN 1 ELSE 0 END AS WALGREENS_COUNT,
      CASE WHEN count(COSTCO) GE 1 THEN 1 ELSE 0 END AS COSTCO_COUNT,
      CASE WHEN count(PATHMARK) GE 1 THEN 1 ELSE 0 END AS PATHMARK_COUNT,
      CASE WHEN count(SHOPRITE) GE 1 THEN 1 ELSE 0 END AS SHOPRITE_COUNT,
      CASE WHEN count(TARGET) GE 1 THEN 1 ELSE 0 END AS TARGET_COUNT,
      CASE WHEN count(DUANE) GE 1 THEN 1 ELSE 0 END AS DUANE_COUNT,
      CASE WHEN count(GIANT) GE 1 THEN 1 ELSE 0 END AS GIANT_COUNT,
      CASE WHEN count(KROGER) GE 1 THEN 1 ELSE 0 END AS KROGER_COUNT,
      CASE WHEN count(STOPNSHOP) GE 1 THEN 1 ELSE 0 END AS STOPNSHOP_COUNT,
      CASE WHEN count(ACME) GE 1 THEN 1 ELSE 0 END AS ACME_COUNT,
      CASE WHEN count(OTHER) GE 1 THEN 1 ELSE 0 END AS OTHER_COUNT,
           count(OTHER) AS OTHER_SUM
      FROM (select * from LOCK1) O
                 LEFT JOIN
                 (select  PHRM_SK,  DIM_MBR_SK,      INCR_DT
                 from  TDPRD.SMC_FACT_PHRM_CLM WHERE INCR_DT
      BETWEEN &BEG5  AND &END5 )clm
                      ON O.DIM_MBR_SK = clm.DIM_MBR_SK
                 LEFT JOIN
                 (select
                      DIM_PHRM_SK,
                 CASE WHEN PHRM_NM LIKE '%CVS%'
                      THEN 1
                 END AS CVS,
           CASE WHEN PHRM_NM LIKE '%RITE AID%'
                 THEN 1
           END AS RITE_AID,
      CASE WHEN PHRM_NM LIKE '%WAL-MART%'
           THEN 1
      END AS WAL_MART,
CASE WHEN PHRM_NM LIKE '%WALGREENS%'
      THEN 1
END AS WALGREENS,
CASE WHEN PHRM_NM LIKE '%COSTCO%'
THEN 1
END AS COSTCO,      
CASE WHEN PHRM_NM LIKE '%PATHMARK%'
THEN 1
END AS PATHMARK,
CASE WHEN PHRM_NM LIKE '%SHOPRITE%'
THEN 1
END AS SHOPRITE,
CASE WHEN PHRM_NM LIKE '%TARGET%'
THEN 1
END AS TARGET,
CASE WHEN PHRM_NM LIKE '%DUANE%'
THEN 1
END AS DUANE,  
CASE WHEN PHRM_NM LIKE '%GIANT%'
THEN 1
END AS GIANT,
CASE WHEN PHRM_NM LIKE '%STOP N%'
THEN 1
END AS STOPNSHOP,
CASE WHEN PHRM_NM LIKE '%KROGER%'
THEN 1
END AS KROGER, 
CASE WHEN PHRM_NM LIKE 'ACME%'
THEN 1
END AS ACME,
CASE WHEN PHRM_NM NOT LIKE '%GIANT%' AND PHRM_NM NOT LIKE '%DUANE%' AND PHRM_NM NOT LIKE '%TARGET%' AND PHRM_NM NOT LIKE '%SHOPRITE%' AND PHRM_NM
NOT LIKE '%PATHMARK%' AND PHRM_NM NOT LIKE '%COSTCO%' AND PHRM_NM NOT LIKE '%WALGREENS%' AND PHRM_NM NOT LIKE '%WAL-MART%'
AND PHRM_NM NOT LIKE '%RITE AID%' AND PHRM_NM NOT LIKE '%CVS%'    AND PHRM_NM NOT LIKE '%STOP N%' AND PHRM_NM NOT LIKE '%KROGER%' AND  PHRM_NM NOT LIKE 'ACME%'
THEN 1
END AS OTHER         
FROM   TDPRD.SMC_DIM_PHRM)dim
ON   clm.PHRM_SK = dim.DIM_PHRM_SK
GROUP BY  O.DIM_MBR_SK) ; quit;
"""


clm9 = spark.table("TDPRD.SMC_FACT_PHRM_CLM") \
            .filter(col("INCR_DT").between(BEG5, END5)) \
            .select("PHRM_SK", "DIM_MBR_SK", "INCR_DT")

X7 = clm9.join(dim2, col("PHRM_SK") == col("DIM_PHRM_SK"), "left")


MTHNIN5 = LOCK1.join(X7, on="DIM_MBR_SK", how="left") \
               .groupBy("DIM_MBR_SK") \
               .agg(when(count(col("CVS")).ge(1), 1).otherwise(0).alias("CVS_COUNT"),
                    when(count(col("RITE_AID")).ge(1), 1).otherwise(0).alias("RITE_AID_COUNT"),
                    when(count(col("WAL_MART")).ge(1), 1).otherwise(0).alias("WAL_MART_COUNT"),
                    when(count(col("COSTCO")).ge(1), 1).otherwise(0).alias("COSTCO_COUNT"),
                    when(count(col("PATHMARK")).ge(1), 1).otherwise(0).alias("PATHMARK_COUNT"),
                    when(count(col("SHOPRITE")).ge(1), 1).otherwise(0).alias("SHOPRITE_COUNT"),
                    when(count(col("TARGET")).ge(1), 1).otherwise(0).alias("TARGET_COUNT"),
                    when(count(col("DUANE")).ge(1), 1).otherwise(0).alias("DUANE_COUNT"),
                    when(count(col("GIANT")).ge(1), 1).otherwise(0).alias("GIANT_COUNT"),
                    when(count(col("KROGER")).ge(1), 1).otherwise(0).alias("KROGER_COUNT"),
                    when(count(col("STOPNSHOP")).ge(1), 1).otherwise(0).alias("STOPNSHOP_COUNT"),
                    when(count(col("ACME")).ge(1), 1).otherwise(0).alias("ACME_COUNT"),
                    when(count(col("OTHER")).ge(1), 1).otherwise(0).alias("OTHER_COUNT"),
                    when(count(col("WALGREENS")).ge(1), 1).otherwise(0).alias("WALGREENS_COUNT"),
                    count(col("OTHER")).alias("OTHER_SUM")
                   )

In [ ]:
"""
proc sql; create table MTHMIN4 AS(
      select distinct
           O.DIM_MBR_SK,
      CASE WHEN count(CVS) GE 1 THEN 1 ELSE 0 END AS CVS_COUNT,
      CASE WHEN count(RITE_AID) GE 1 THEN 1 ELSE 0 END AS RITE_AID_COUNT,
      CASE WHEN count(WAL_MART) GE 1 THEN 1 ELSE 0 END AS WAL_MART_COUNT,
      CASE WHEN count(WALGREENS) GE 1 THEN 1 ELSE 0 END AS WALGREENS_COUNT,
      CASE WHEN count(COSTCO) GE 1 THEN 1 ELSE 0 END AS COSTCO_COUNT,
      CASE WHEN count(PATHMARK) GE 1 THEN 1 ELSE 0 END AS PATHMARK_COUNT,
      CASE WHEN count(SHOPRITE) GE 1 THEN 1 ELSE 0 END AS SHOPRITE_COUNT,
      CASE WHEN count(TARGET) GE 1 THEN 1 ELSE 0 END AS TARGET_COUNT,
      CASE WHEN count(DUANE) GE 1 THEN 1 ELSE 0 END AS DUANE_COUNT,
      CASE WHEN count(GIANT) GE 1 THEN 1 ELSE 0 END AS GIANT_COUNT,
      CASE WHEN count(KROGER) GE 1 THEN 1 ELSE 0 END AS KROGER_COUNT,
      CASE WHEN count(STOPNSHOP) GE 1 THEN 1 ELSE 0 END AS STOPNSHOP_COUNT,
      CASE WHEN count(ACME) GE 1 THEN 1 ELSE 0 END AS ACME_COUNT,
      CASE WHEN count(OTHER) GE 1 THEN 1 ELSE 0 END AS OTHER_COUNT,
           count(OTHER) AS OTHER_SUM
      FROM (select * from LOCK1) O
                 LEFT JOIN
                 (select  PHRM_SK,  DIM_MBR_SK,      INCR_DT
                 from  TDPRD.SMC_FACT_PHRM_CLM WHERE INCR_DT
      BETWEEN &BEG4  AND &END4 )clm
                      ON O.DIM_MBR_SK = clm.DIM_MBR_SK
                 LEFT JOIN
                 (select
                      DIM_PHRM_SK,
                 CASE WHEN PHRM_NM LIKE '%CVS%'
                      THEN 1
                 END AS CVS,
           CASE WHEN PHRM_NM LIKE '%RITE AID%'
                 THEN 1
           END AS RITE_AID,
      CASE WHEN PHRM_NM LIKE '%WAL-MART%'
           THEN 1
      END AS WAL_MART,
CASE WHEN PHRM_NM LIKE '%WALGREENS%'
      THEN 1
END AS WALGREENS,
CASE WHEN PHRM_NM LIKE '%COSTCO%'
THEN 1
END AS COSTCO,      
CASE WHEN PHRM_NM LIKE '%PATHMARK%'
THEN 1
END AS PATHMARK,
CASE WHEN PHRM_NM LIKE '%SHOPRITE%'
THEN 1
END AS SHOPRITE,
CASE WHEN PHRM_NM LIKE '%TARGET%'
THEN 1
END AS TARGET,
CASE WHEN PHRM_NM LIKE '%DUANE%'
THEN 1
END AS DUANE,  
CASE WHEN PHRM_NM LIKE '%GIANT%'
THEN 1
END AS GIANT,
CASE WHEN PHRM_NM LIKE '%STOP N%'
THEN 1
END AS STOPNSHOP,
CASE WHEN PHRM_NM LIKE '%KROGER%'
THEN 1
END AS KROGER, 
CASE WHEN PHRM_NM LIKE 'ACME%'
THEN 1
END AS ACME,
CASE WHEN PHRM_NM NOT LIKE '%GIANT%' AND PHRM_NM NOT LIKE '%DUANE%' AND PHRM_NM NOT LIKE '%TARGET%' AND PHRM_NM NOT LIKE '%SHOPRITE%' AND PHRM_NM
NOT LIKE '%PATHMARK%' AND PHRM_NM NOT LIKE '%COSTCO%' AND PHRM_NM NOT LIKE '%WALGREENS%' AND PHRM_NM NOT LIKE '%WAL-MART%'
AND PHRM_NM NOT LIKE '%RITE AID%' AND PHRM_NM NOT LIKE '%CVS%'    AND PHRM_NM NOT LIKE '%STOP N%' AND PHRM_NM NOT LIKE '%KROGER%' AND  PHRM_NM NOT LIKE 'ACME%'
THEN 1
END AS OTHER         
FROM   TDPRD.SMC_DIM_PHRM)dim
ON   clm.PHRM_SK = dim.DIM_PHRM_SK
GROUP BY  O.DIM_MBR_SK) ; quit;
"""


clm10 = spark.table("TDPRD.SMC_FACT_PHRM_CLM") \
             .filter(col("INCR_DT").between(BEG4, END4)) \
             .select("PHRM_SK", "DIM_MBR_SK", "INCR_DT")

X8 = clm10.join(dim2, col("PHRM_SK") == col("DIM_PHRM_SK"), "left")


MTHNIN4 = LOCK1.join(X8, on="DIM_MBR_SK", how="left") \
               .groupBy("DIM_MBR_SK") \
               .agg(when(count(col("CVS")).ge(1), 1).otherwise(0).alias("CVS_COUNT"),
                    when(count(col("RITE_AID")).ge(1), 1).otherwise(0).alias("RITE_AID_COUNT"),
                    when(count(col("WAL_MART")).ge(1), 1).otherwise(0).alias("WAL_MART_COUNT"),
                    when(count(col("COSTCO")).ge(1), 1).otherwise(0).alias("COSTCO_COUNT"),
                    when(count(col("PATHMARK")).ge(1), 1).otherwise(0).alias("PATHMARK_COUNT"),
                    when(count(col("SHOPRITE")).ge(1), 1).otherwise(0).alias("SHOPRITE_COUNT"),
                    when(count(col("TARGET")).ge(1), 1).otherwise(0).alias("TARGET_COUNT"),
                    when(count(col("DUANE")).ge(1), 1).otherwise(0).alias("DUANE_COUNT"),
                    when(count(col("GIANT")).ge(1), 1).otherwise(0).alias("GIANT_COUNT"),
                    when(count(col("KROGER")).ge(1), 1).otherwise(0).alias("KROGER_COUNT"),
                    when(count(col("STOPNSHOP")).ge(1), 1).otherwise(0).alias("STOPNSHOP_COUNT"),
                    when(count(col("ACME")).ge(1), 1).otherwise(0).alias("ACME_COUNT"),
                    when(count(col("OTHER")).ge(1), 1).otherwise(0).alias("OTHER_COUNT"),
                    when(count(col("WALGREENS")).ge(1), 1).otherwise(0).alias("WALGREENS_COUNT"),
                    count(col("OTHER")).alias("OTHER_SUM")
                   )

In [ ]:
"""
proc sql; create table MTHMIN3 AS(
      select distinct
           O.DIM_MBR_SK,
      CASE WHEN count(CVS) GE 1 THEN 1 ELSE 0 END AS CVS_COUNT,
      CASE WHEN count(RITE_AID) GE 1 THEN 1 ELSE 0 END AS RITE_AID_COUNT,
      CASE WHEN count(WAL_MART) GE 1 THEN 1 ELSE 0 END AS WAL_MART_COUNT,
      CASE WHEN count(WALGREENS) GE 1 THEN 1 ELSE 0 END AS WALGREENS_COUNT,
      CASE WHEN count(COSTCO) GE 1 THEN 1 ELSE 0 END AS COSTCO_COUNT,
      CASE WHEN count(PATHMARK) GE 1 THEN 1 ELSE 0 END AS PATHMARK_COUNT,
      CASE WHEN count(SHOPRITE) GE 1 THEN 1 ELSE 0 END AS SHOPRITE_COUNT,
      CASE WHEN count(TARGET) GE 1 THEN 1 ELSE 0 END AS TARGET_COUNT,
      CASE WHEN count(DUANE) GE 1 THEN 1 ELSE 0 END AS DUANE_COUNT,
      CASE WHEN count(GIANT) GE 1 THEN 1 ELSE 0 END AS GIANT_COUNT,
      CASE WHEN count(KROGER) GE 1 THEN 1 ELSE 0 END AS KROGER_COUNT,
      CASE WHEN count(STOPNSHOP) GE 1 THEN 1 ELSE 0 END AS STOPNSHOP_COUNT,
      CASE WHEN count(ACME) GE 1 THEN 1 ELSE 0 END AS ACME_COUNT,
      CASE WHEN count(OTHER) GE 1 THEN 1 ELSE 0 END AS OTHER_COUNT,
           count(OTHER) AS OTHER_SUM
      FROM (select * from LOCK1) O
                 LEFT JOIN
                 (select  PHRM_SK,  DIM_MBR_SK,      INCR_DT
                 from  TDPRD.SMC_FACT_PHRM_CLM WHERE INCR_DT
      BETWEEN &BEG3  AND &END3 )clm
                      ON O.DIM_MBR_SK = clm.DIM_MBR_SK
                 LEFT JOIN
                 (select
                      DIM_PHRM_SK,
                 CASE WHEN PHRM_NM LIKE '%CVS%'
                      THEN 1
                 END AS CVS,
           CASE WHEN PHRM_NM LIKE '%RITE AID%'
                 THEN 1
           END AS RITE_AID,
      CASE WHEN PHRM_NM LIKE '%WAL-MART%'
           THEN 1
      END AS WAL_MART,
CASE WHEN PHRM_NM LIKE '%WALGREENS%'
      THEN 1
END AS WALGREENS,
CASE WHEN PHRM_NM LIKE '%COSTCO%'
THEN 1
END AS COSTCO,      
CASE WHEN PHRM_NM LIKE '%PATHMARK%'
THEN 1
END AS PATHMARK,
CASE WHEN PHRM_NM LIKE '%SHOPRITE%'
THEN 1
END AS SHOPRITE,
CASE WHEN PHRM_NM LIKE '%TARGET%'
THEN 1
END AS TARGET,
CASE WHEN PHRM_NM LIKE '%DUANE%'
THEN 1
END AS DUANE,  
CASE WHEN PHRM_NM LIKE '%GIANT%'
THEN 1
END AS GIANT,
CASE WHEN PHRM_NM LIKE '%STOP N%'
THEN 1
END AS STOPNSHOP,
CASE WHEN PHRM_NM LIKE '%KROGER%'
THEN 1
END AS KROGER, 
CASE WHEN PHRM_NM LIKE 'ACME%'
THEN 1
END AS ACME,
CASE WHEN PHRM_NM NOT LIKE '%GIANT%' AND PHRM_NM NOT LIKE '%DUANE%' AND PHRM_NM NOT LIKE '%TARGET%' AND PHRM_NM NOT LIKE '%SHOPRITE%' AND PHRM_NM
NOT LIKE '%PATHMARK%' AND PHRM_NM NOT LIKE '%COSTCO%' AND PHRM_NM NOT LIKE '%WALGREENS%' AND PHRM_NM NOT LIKE '%WAL-MART%'
AND PHRM_NM NOT LIKE '%RITE AID%' AND PHRM_NM NOT LIKE '%CVS%'    AND PHRM_NM NOT LIKE '%STOP N%' AND PHRM_NM NOT LIKE '%KROGER%' AND  PHRM_NM NOT LIKE 'ACME%'
THEN 1
END AS OTHER         
FROM   TDPRD.SMC_DIM_PHRM)dim
ON   clm.PHRM_SK = dim.DIM_PHRM_SK
GROUP BY  O.DIM_MBR_SK) ; quit;
"""


clm11 = spark.table("TDPRD.SMC_FACT_PHRM_CLM") \
             .filter(col("INCR_DT").between(BEG3, END3)) \
             .select("PHRM_SK", "DIM_MBR_SK", "INCR_DT")

X9 = clm11.join(dim2, col("PHRM_SK") == col("DIM_PHRM_SK"), "left")


MTHNIN3 = LOCK1.join(X9, on="DIM_MBR_SK", how="left") \
               .groupBy("DIM_MBR_SK") \
               .agg(when(count(col("CVS")).ge(1), 1).otherwise(0).alias("CVS_COUNT"),
                    when(count(col("RITE_AID")).ge(1), 1).otherwise(0).alias("RITE_AID_COUNT"),
                    when(count(col("WAL_MART")).ge(1), 1).otherwise(0).alias("WAL_MART_COUNT"),
                    when(count(col("COSTCO")).ge(1), 1).otherwise(0).alias("COSTCO_COUNT"),
                    when(count(col("PATHMARK")).ge(1), 1).otherwise(0).alias("PATHMARK_COUNT"),
                    when(count(col("SHOPRITE")).ge(1), 1).otherwise(0).alias("SHOPRITE_COUNT"),
                    when(count(col("TARGET")).ge(1), 1).otherwise(0).alias("TARGET_COUNT"),
                    when(count(col("DUANE")).ge(1), 1).otherwise(0).alias("DUANE_COUNT"),
                    when(count(col("GIANT")).ge(1), 1).otherwise(0).alias("GIANT_COUNT"),
                    when(count(col("KROGER")).ge(1), 1).otherwise(0).alias("KROGER_COUNT"),
                    when(count(col("STOPNSHOP")).ge(1), 1).otherwise(0).alias("STOPNSHOP_COUNT"),
                    when(count(col("ACME")).ge(1), 1).otherwise(0).alias("ACME_COUNT"),
                    when(count(col("OTHER")).ge(1), 1).otherwise(0).alias("OTHER_COUNT"),
                    when(count(col("WALGREENS")).ge(1), 1).otherwise(0).alias("WALGREENS_COUNT"),
                    count(col("OTHER")).alias("OTHER_SUM")
                   )

In [ ]:
"""
proc sql; create table MTHMIN2 AS(
      select distinct
           O.DIM_MBR_SK,
      CASE WHEN count(CVS) GE 1 THEN 1 ELSE 0 END AS CVS_COUNT,
      CASE WHEN count(RITE_AID) GE 1 THEN 1 ELSE 0 END AS RITE_AID_COUNT,
      CASE WHEN count(WAL_MART) GE 1 THEN 1 ELSE 0 END AS WAL_MART_COUNT,
      CASE WHEN count(WALGREENS) GE 1 THEN 1 ELSE 0 END AS WALGREENS_COUNT,
      CASE WHEN count(COSTCO) GE 1 THEN 1 ELSE 0 END AS COSTCO_COUNT,
      CASE WHEN count(PATHMARK) GE 1 THEN 1 ELSE 0 END AS PATHMARK_COUNT,
      CASE WHEN count(SHOPRITE) GE 1 THEN 1 ELSE 0 END AS SHOPRITE_COUNT,
      CASE WHEN count(TARGET) GE 1 THEN 1 ELSE 0 END AS TARGET_COUNT,
      CASE WHEN count(DUANE) GE 1 THEN 1 ELSE 0 END AS DUANE_COUNT,
      CASE WHEN count(GIANT) GE 1 THEN 1 ELSE 0 END AS GIANT_COUNT,
      CASE WHEN count(KROGER) GE 1 THEN 1 ELSE 0 END AS KROGER_COUNT,
      CASE WHEN count(STOPNSHOP) GE 1 THEN 1 ELSE 0 END AS STOPNSHOP_COUNT,
      CASE WHEN count(ACME) GE 1 THEN 1 ELSE 0 END AS ACME_COUNT,
      CASE WHEN count(OTHER) GE 1 THEN 1 ELSE 0 END AS OTHER_COUNT,
           count(OTHER) AS OTHER_SUM
      FROM (select * from LOCK1) O
                 LEFT JOIN
                 (select  PHRM_SK,  DIM_MBR_SK,      INCR_DT
                 from  TDPRD.SMC_FACT_PHRM_CLM WHERE INCR_DT
      BETWEEN &BEG2  AND &END2 )clm
                      ON O.DIM_MBR_SK = clm.DIM_MBR_SK
                 LEFT JOIN
                 (select
                      DIM_PHRM_SK,
                 CASE WHEN PHRM_NM LIKE '%CVS%'
                      THEN 1
                 END AS CVS,
           CASE WHEN PHRM_NM LIKE '%RITE AID%'
                 THEN 1
           END AS RITE_AID,
      CASE WHEN PHRM_NM LIKE '%WAL-MART%'
           THEN 1
      END AS WAL_MART,
CASE WHEN PHRM_NM LIKE '%WALGREENS%'
      THEN 1
END AS WALGREENS,
CASE WHEN PHRM_NM LIKE '%COSTCO%'
THEN 1
END AS COSTCO,      
CASE WHEN PHRM_NM LIKE '%PATHMARK%'
THEN 1
END AS PATHMARK,
CASE WHEN PHRM_NM LIKE '%SHOPRITE%'
THEN 1
END AS SHOPRITE,
CASE WHEN PHRM_NM LIKE '%TARGET%'
THEN 1
END AS TARGET,
CASE WHEN PHRM_NM LIKE '%DUANE%'
THEN 1
END AS DUANE,  
CASE WHEN PHRM_NM LIKE '%GIANT%'
THEN 1
END AS GIANT,
CASE WHEN PHRM_NM LIKE '%STOP N%'
THEN 1
END AS STOPNSHOP,
CASE WHEN PHRM_NM LIKE '%KROGER%'
THEN 1
END AS KROGER, 
CASE WHEN PHRM_NM LIKE 'ACME%'
THEN 1
END AS ACME,
CASE WHEN PHRM_NM NOT LIKE '%GIANT%' AND PHRM_NM NOT LIKE '%DUANE%' AND PHRM_NM NOT LIKE '%TARGET%' AND PHRM_NM NOT LIKE '%SHOPRITE%' AND PHRM_NM
NOT LIKE '%PATHMARK%' AND PHRM_NM NOT LIKE '%COSTCO%' AND PHRM_NM NOT LIKE '%WALGREENS%' AND PHRM_NM NOT LIKE '%WAL-MART%'
AND PHRM_NM NOT LIKE '%RITE AID%' AND PHRM_NM NOT LIKE '%CVS%'    AND PHRM_NM NOT LIKE '%STOP N%' AND PHRM_NM NOT LIKE '%KROGER%' AND  PHRM_NM NOT LIKE 'ACME%'
THEN 1
END AS OTHER         
FROM   TDPRD.SMC_DIM_PHRM)dim
ON   clm.PHRM_SK = dim.DIM_PHRM_SK
GROUP BY  O.DIM_MBR_SK) ; quit;
"""



clm12 = spark.table("TDPRD.SMC_FACT_PHRM_CLM") \
             .filter(col("INCR_DT").between(BEG2, END2)) \
             .select("PHRM_SK", "DIM_MBR_SK", "INCR_DT")

X10 = clm12.join(dim2, col("PHRM_SK") == col("DIM_PHRM_SK"), "left")


MTHNIN2 = LOCK1.join(X10, on="DIM_MBR_SK", how="left") \
               .groupBy("DIM_MBR_SK") \
               .agg(when(count(col("CVS")).ge(1), 1).otherwise(0).alias("CVS_COUNT"),
                    when(count(col("RITE_AID")).ge(1), 1).otherwise(0).alias("RITE_AID_COUNT"),
                    when(count(col("WAL_MART")).ge(1), 1).otherwise(0).alias("WAL_MART_COUNT"),
                    when(count(col("COSTCO")).ge(1), 1).otherwise(0).alias("COSTCO_COUNT"),
                    when(count(col("PATHMARK")).ge(1), 1).otherwise(0).alias("PATHMARK_COUNT"),
                    when(count(col("SHOPRITE")).ge(1), 1).otherwise(0).alias("SHOPRITE_COUNT"),
                    when(count(col("TARGET")).ge(1), 1).otherwise(0).alias("TARGET_COUNT"),
                    when(count(col("DUANE")).ge(1), 1).otherwise(0).alias("DUANE_COUNT"),
                    when(count(col("GIANT")).ge(1), 1).otherwise(0).alias("GIANT_COUNT"),
                    when(count(col("KROGER")).ge(1), 1).otherwise(0).alias("KROGER_COUNT"),
                    when(count(col("STOPNSHOP")).ge(1), 1).otherwise(0).alias("STOPNSHOP_COUNT"),
                    when(count(col("ACME")).ge(1), 1).otherwise(0).alias("ACME_COUNT"),
                    when(count(col("OTHER")).ge(1), 1).otherwise(0).alias("OTHER_COUNT"),
                    when(count(col("WALGREENS")).ge(1), 1).otherwise(0).alias("WALGREENS_COUNT"),
                    count(col("OTHER")).alias("OTHER_SUM")
                   )

In [ ]:
"""
proc sql; create table MTHMIN1 AS(
      select distinct
           O.DIM_MBR_SK,
      CASE WHEN count(CVS) GE 1 THEN 1 ELSE 0 END AS CVS_COUNT,
      CASE WHEN count(RITE_AID) GE 1 THEN 1 ELSE 0 END AS RITE_AID_COUNT,
      CASE WHEN count(WAL_MART) GE 1 THEN 1 ELSE 0 END AS WAL_MART_COUNT,
      CASE WHEN count(WALGREENS) GE 1 THEN 1 ELSE 0 END AS WALGREENS_COUNT,
      CASE WHEN count(COSTCO) GE 1 THEN 1 ELSE 0 END AS COSTCO_COUNT,
      CASE WHEN count(PATHMARK) GE 1 THEN 1 ELSE 0 END AS PATHMARK_COUNT,
      CASE WHEN count(SHOPRITE) GE 1 THEN 1 ELSE 0 END AS SHOPRITE_COUNT,
      CASE WHEN count(TARGET) GE 1 THEN 1 ELSE 0 END AS TARGET_COUNT,
      CASE WHEN count(DUANE) GE 1 THEN 1 ELSE 0 END AS DUANE_COUNT,
      CASE WHEN count(GIANT) GE 1 THEN 1 ELSE 0 END AS GIANT_COUNT,
      CASE WHEN count(KROGER) GE 1 THEN 1 ELSE 0 END AS KROGER_COUNT,
      CASE WHEN count(STOPNSHOP) GE 1 THEN 1 ELSE 0 END AS STOPNSHOP_COUNT,
      CASE WHEN count(ACME) GE 1 THEN 1 ELSE 0 END AS ACME_COUNT,
      CASE WHEN count(OTHER) GE 1 THEN 1 ELSE 0 END AS OTHER_COUNT,
           count(OTHER) AS OTHER_SUM
      FROM (select * from LOCK1) O
                 LEFT JOIN
                 (select  PHRM_SK,  DIM_MBR_SK,      INCR_DT
                 from  TDPRD.SMC_FACT_PHRM_CLM WHERE INCR_DT
      BETWEEN &BEG1  AND &END1 )clm
                      ON O.DIM_MBR_SK = clm.DIM_MBR_SK
                 LEFT JOIN
                 (select
                      DIM_PHRM_SK,
                 CASE WHEN PHRM_NM LIKE '%CVS%'
                      THEN 1
                 END AS CVS,
           CASE WHEN PHRM_NM LIKE '%RITE AID%'
                 THEN 1
           END AS RITE_AID,
      CASE WHEN PHRM_NM LIKE '%WAL-MART%'
           THEN 1
      END AS WAL_MART,
CASE WHEN PHRM_NM LIKE '%WALGREENS%'
      THEN 1
END AS WALGREENS,
CASE WHEN PHRM_NM LIKE '%COSTCO%'
THEN 1
END AS COSTCO,      
CASE WHEN PHRM_NM LIKE '%PATHMARK%'
THEN 1
END AS PATHMARK,
CASE WHEN PHRM_NM LIKE '%SHOPRITE%'
THEN 1
END AS SHOPRITE,
CASE WHEN PHRM_NM LIKE '%TARGET%'
THEN 1
END AS TARGET,
CASE WHEN PHRM_NM LIKE '%DUANE%'
THEN 1
END AS DUANE,  
CASE WHEN PHRM_NM LIKE '%GIANT%'
THEN 1
END AS GIANT,
CASE WHEN PHRM_NM LIKE '%STOP N%'
THEN 1
END AS STOPNSHOP,
CASE WHEN PHRM_NM LIKE '%KROGER%'
THEN 1
END AS KROGER, 
CASE WHEN PHRM_NM LIKE 'ACME%'
THEN 1
END AS ACME,
CASE WHEN PHRM_NM NOT LIKE '%GIANT%' AND PHRM_NM NOT LIKE '%DUANE%' AND PHRM_NM NOT LIKE '%TARGET%' AND PHRM_NM NOT LIKE '%SHOPRITE%' AND PHRM_NM
NOT LIKE '%PATHMARK%' AND PHRM_NM NOT LIKE '%COSTCO%' AND PHRM_NM NOT LIKE '%WALGREENS%' AND PHRM_NM NOT LIKE '%WAL-MART%'
AND PHRM_NM NOT LIKE '%RITE AID%' AND PHRM_NM NOT LIKE '%CVS%'    AND PHRM_NM NOT LIKE '%STOP N%' AND PHRM_NM NOT LIKE '%KROGER%' AND  PHRM_NM NOT LIKE 'ACME%'
THEN 1
END AS OTHER         
FROM   TDPRD.SMC_DIM_PHRM)dim
ON   clm.PHRM_SK = dim.DIM_PHRM_SK
GROUP BY  O.DIM_MBR_SK) ; quit;
"""



clm13 = spark.table("TDPRD.SMC_FACT_PHRM_CLM") 
             .filter(col("INCR_DT").between(BEG1, END1)) \
             .select("PHRM_SK", "DIM_MBR_SK", "INCR_DT")

X11 = clm13.join(dim2, col("PHRM_SK") == col("DIM_PHRM_SK"), "left")


MTHNIN1 = LOCK1.join(X11, on="DIM_MBR_SK", how="left") \
               .groupBy("DIM_MBR_SK") \
               .agg(when(count(col("CVS")).ge(1), 1).otherwise(0).alias("CVS_COUNT"),
                    when(count(col("RITE_AID")).ge(1), 1).otherwise(0).alias("RITE_AID_COUNT"),
                    when(count(col("WAL_MART")).ge(1), 1).otherwise(0).alias("WAL_MART_COUNT"),
                    when(count(col("COSTCO")).ge(1), 1).otherwise(0).alias("COSTCO_COUNT"),
                    when(count(col("PATHMARK")).ge(1), 1).otherwise(0).alias("PATHMARK_COUNT"),
                    when(count(col("SHOPRITE")).ge(1), 1).otherwise(0).alias("SHOPRITE_COUNT"),
                    when(count(col("TARGET")).ge(1), 1).otherwise(0).alias("TARGET_COUNT"),
                    when(count(col("DUANE")).ge(1), 1).otherwise(0).alias("DUANE_COUNT"),
                    when(count(col("GIANT")).ge(1), 1).otherwise(0).alias("GIANT_COUNT"),
                    when(count(col("KROGER")).ge(1), 1).otherwise(0).alias("KROGER_COUNT"),
                    when(count(col("STOPNSHOP")).ge(1), 1).otherwise(0).alias("STOPNSHOP_COUNT"),
                    when(count(col("ACME")).ge(1), 1).otherwise(0).alias("ACME_COUNT"),
                    when(count(col("OTHER")).ge(1), 1).otherwise(0).alias("OTHER_COUNT"),
                    when(count(col("WALGREENS")).ge(1), 1).otherwise(0).alias("WALGREENS_COUNT"),
                    count(col("OTHER")).alias("OTHER_SUM")
                   )

In [ ]:
"""
proc sql; create table PharmCount AS(
      select A.DIM_MBR_SK,
           A.CVS_COUNT + A.RITE_AID_COUNT + A.WAL_MART_COUNT + A.PATHMARK_COUNT + A.TARGET_COUNT + A.COSTCO_COUNT + A.SHOPRITE_COUNT + A.DUANE_COUNT+ A.GIANT_COUNT + A.OTHER_COUNT 
           + A.ACME_COUNT + A.KROGER_COUNT + A.STOPNSHOP_COUNT AS MTHMIN3RXCOUNT ,
           B.CVS_COUNT + B.RITE_AID_COUNT + B.WAL_MART_COUNT + B.PATHMARK_COUNT + B.TARGET_COUNT + B.COSTCO_COUNT + B.SHOPRITE_COUNT + B.DUANE_COUNT+ B.GIANT_COUNT + B.OTHER_COUNT
           + B.ACME_COUNT + B.KROGER_COUNT + B.STOPNSHOP_COUNT AS MTHMIN2RXCOUNT ,
           C.CVS_COUNT + C.RITE_AID_COUNT + C.WAL_MART_COUNT + C.PATHMARK_COUNT + C.TARGET_COUNT + C.COSTCO_COUNT + C.SHOPRITE_COUNT + C.DUANE_COUNT  + C.GIANT_COUNT + C.OTHER_COUNT
           + C.ACME_COUNT + C.KROGER_COUNT + C.STOPNSHOP_COUNT AS MTHMIN1RXCOUNT,
           D.CVS_COUNT + D.RITE_AID_COUNT + D.WAL_MART_COUNT + D.PATHMARK_COUNT + D.TARGET_COUNT + D.COSTCO_COUNT + D.SHOPRITE_COUNT + D.DUANE_COUNT+ D.GIANT_COUNT + D.OTHER_COUNT 
           + D.ACME_COUNT + D.KROGER_COUNT + D.STOPNSHOP_COUNT AS MTHMIN4RXCOUNT ,
                 E.CVS_COUNT + E.RITE_AID_COUNT + E.WAL_MART_COUNT + E.PATHMARK_COUNT + E.TARGET_COUNT + E.COSTCO_COUNT + E.SHOPRITE_COUNT + E.DUANE_COUNT+ E.GIANT_COUNT + E.OTHER_COUNT 
           + E.ACME_COUNT + E.KROGER_COUNT + E.STOPNSHOP_COUNT AS MTHMIN5RXCOUNT ,
                 F.CVS_COUNT + F.RITE_AID_COUNT + F.WAL_MART_COUNT + F.PATHMARK_COUNT + F.TARGET_COUNT + F.COSTCO_COUNT + F.SHOPRITE_COUNT + F.DUANE_COUNT+ F.GIANT_COUNT + F.OTHER_COUNT 
           + F.ACME_COUNT + F.KROGER_COUNT + F.STOPNSHOP_COUNT AS MTHMIN6RXCOUNT ,
                 G.CVS_COUNT + G.RITE_AID_COUNT + G.WAL_MART_COUNT + G.PATHMARK_COUNT + G.TARGET_COUNT + G.COSTCO_COUNT + G.SHOPRITE_COUNT + G.DUANE_COUNT+ G.GIANT_COUNT + G.OTHER_COUNT 
           + G.ACME_COUNT + G.KROGER_COUNT + G.STOPNSHOP_COUNT AS MTHMIN7RXCOUNT ,
                 H.CVS_COUNT + H.RITE_AID_COUNT + H.WAL_MART_COUNT + H.PATHMARK_COUNT + H.TARGET_COUNT + H.COSTCO_COUNT + H.SHOPRITE_COUNT + H.DUANE_COUNT+ H.GIANT_COUNT + H.OTHER_COUNT 
           + H.ACME_COUNT + H.KROGER_COUNT + H.STOPNSHOP_COUNT AS MTHMIN8RXCOUNT ,
                 I.CVS_COUNT + I.RITE_AID_COUNT + I.WAL_MART_COUNT + I.PATHMARK_COUNT + I.TARGET_COUNT + I.COSTCO_COUNT + I.SHOPRITE_COUNT + I.DUANE_COUNT+ I.GIANT_COUNT + I.OTHER_COUNT 
           + I.ACME_COUNT + I.KROGER_COUNT + I.STOPNSHOP_COUNT AS MTHMIN9RXCOUNT ,
                 J.CVS_COUNT + J.RITE_AID_COUNT + J.WAL_MART_COUNT + J.PATHMARK_COUNT + J.TARGET_COUNT + J.COSTCO_COUNT + J.SHOPRITE_COUNT + J.DUANE_COUNT+ J.GIANT_COUNT + J.OTHER_COUNT 
           + J.ACME_COUNT + J.KROGER_COUNT + J.STOPNSHOP_COUNT AS MTHMIN10RXCOUNT ,
                 K.CVS_COUNT + K.RITE_AID_COUNT + K.WAL_MART_COUNT + K.PATHMARK_COUNT + K.TARGET_COUNT + K.COSTCO_COUNT + K.SHOPRITE_COUNT + K.DUANE_COUNT+ K.GIANT_COUNT + K.OTHER_COUNT 
           + K.ACME_COUNT + K.KROGER_COUNT + K.STOPNSHOP_COUNT AS MTHMIN11RXCOUNT ,
                 L.CVS_COUNT + L.RITE_AID_COUNT + L.WAL_MART_COUNT + L.PATHMARK_COUNT + L.TARGET_COUNT + L.COSTCO_COUNT + L.SHOPRITE_COUNT + L.DUANE_COUNT+ L.GIANT_COUNT + L.OTHER_COUNT 
           + L.ACME_COUNT + L.KROGER_COUNT + L.STOPNSHOP_COUNT AS MTHMIN12RXCOUNT
      FROM  MTHMIN3 A
           LEFT JOIN MTHMIN2 B
                 ON A.DIM_MBR_SK = B.DIM_MBR_SK
           LEFT JOIN MTHMIN1 C
                 ON A.DIM_MBR_SK = C.DIM_MBR_SK
           LEFT JOIN MTHMIN4 D
                 ON A.DIM_MBR_SK = D.DIM_MBR_SK
           LEFT JOIN MTHMIN5 E
                 ON A.DIM_MBR_SK = E.DIM_MBR_SK
           LEFT JOIN MTHMIN6 F
                 ON A.DIM_MBR_SK = F.DIM_MBR_SK
           LEFT JOIN MTHMIN7 G
                 ON A.DIM_MBR_SK = G.DIM_MBR_SK
           LEFT JOIN MTHMIN8 H
                 ON A.DIM_MBR_SK = H.DIM_MBR_SK
           LEFT JOIN MTHMIN9 I
                 ON A.DIM_MBR_SK = I.DIM_MBR_SK
           LEFT JOIN MTHMIN10 J
                 ON A.DIM_MBR_SK = J.DIM_MBR_SK
           LEFT JOIN MTHMIN11 K
                 ON A.DIM_MBR_SK = K.DIM_MBR_SK
           LEFT JOIN MTHMIN12 L
                 ON A.DIM_MBR_SK = L.DIM_MBR_SK
                 ) ; quit;
"""

MTHMIN3 = MTHMIN3.withColumn("MTHMIN3RXCOUNT", col("CVS_COUNT") + col("RITE_AID_COUNT") + col("WAL_MART_COUNT") + col("PATHMARK_COUNT") + col("TARGET_COUNT") + 
                                               col("COSTCO_COUNT") + col("SHOPRITE_COUNT") + col("DUANE_COUNT") + col("GIANT_COUNT") +
                                               col("OTHER_COUNT") + col("ACME_COUNT") + col("KROGER_COUNT") + col("STOPNSHOP_COUNT")
                            )                              
MTHMIN2 = MTHMIN2.withColumn("MTHMIN2RXCOUNT", col("CVS_COUNT") + col("RITE_AID_COUNT") + col("WAL_MART_COUNT") + col("PATHMARK_COUNT") + col("TARGET_COUNT") + 
                                               col("COSTCO_COUNT") + col("SHOPRITE_COUNT") + col("DUANE_COUNT") + col("GIANT_COUNT") +
                                               col("OTHER_COUNT") + col("ACME_COUNT") + col("KROGER_COUNT") + col("STOPNSHOP_COUNT")
                            )
MTHMIN1 = MTHMIN1.withColumn("MTHMIN1RXCOUNT", col("CVS_COUNT") + col("RITE_AID_COUNT") + col("WAL_MART_COUNT") + col("PATHMARK_COUNT") + col("TARGET_COUNT") + 
                                               col("COSTCO_COUNT") + col("SHOPRITE_COUNT") + col("DUANE_COUNT") + col("GIANT_COUNT") +
                                               col("OTHER_COUNT") + col("ACME_COUNT") + col("KROGER_COUNT") + col("STOPNSHOP_COUNT")
                            )
MTHMIN4 = MTHMIN4.withColumn("MTHMIN4RXCOUNT", col("CVS_COUNT") + col("RITE_AID_COUNT") + col("WAL_MART_COUNT") + col("PATHMARK_COUNT") + col("TARGET_COUNT") + 
                                               col("COSTCO_COUNT") + col("SHOPRITE_COUNT") + col("DUANE_COUNT") + col("GIANT_COUNT") +
                                               col("OTHER_COUNT") + col("ACME_COUNT") + col("KROGER_COUNT") + col("STOPNSHOP_COUNT")
                            )
MTHMIN5 = MTHMIN5.withColumn("MTHMIN5RXCOUNT", col("CVS_COUNT") + col("RITE_AID_COUNT") + col("WAL_MART_COUNT") + col("PATHMARK_COUNT") + col("TARGET_COUNT") + 
                                               col("COSTCO_COUNT") + col("SHOPRITE_COUNT") + col("DUANE_COUNT") + col("GIANT_COUNT") +
                                               col("OTHER_COUNT") + col("ACME_COUNT") + col("KROGER_COUNT") + col("STOPNSHOP_COUNT")
                            )
MTHMIN6 = MTHMIN6.withColumn("MTHMIN6RXCOUNT", col("CVS_COUNT") + col("RITE_AID_COUNT") + col("WAL_MART_COUNT") + col("PATHMARK_COUNT") + col("TARGET_COUNT") + 
                                               col("COSTCO_COUNT") + col("SHOPRITE_COUNT") + col("DUANE_COUNT") + col("GIANT_COUNT") +
                                               col("OTHER_COUNT") + col("ACME_COUNT") + col("KROGER_COUNT") + col("STOPNSHOP_COUNT")
                            )
MTHMIN7 = MTHMIN7.withColumn("MTHMIN7RXCOUNT", col("CVS_COUNT") + col("RITE_AID_COUNT") + col("WAL_MART_COUNT") + col("PATHMARK_COUNT") + col("TARGET_COUNT") + 
                                               col("COSTCO_COUNT") + col("SHOPRITE_COUNT") + col("DUANE_COUNT") + col("GIANT_COUNT") +
                                               col("OTHER_COUNT") + col("ACME_COUNT") + col("KROGER_COUNT") + col("STOPNSHOP_COUNT")
                            )
MTHMIN8 = MTHMIN8.withColumn("MTHMIN8RXCOUNT", col("CVS_COUNT") + col("RITE_AID_COUNT") + col("WAL_MART_COUNT") + col("PATHMARK_COUNT") + col("TARGET_COUNT") + 
                                               col("COSTCO_COUNT") + col("SHOPRITE_COUNT") + col("DUANE_COUNT") + col("GIANT_COUNT") +
                                               col("OTHER_COUNT") + col("ACME_COUNT") + col("KROGER_COUNT") + col("STOPNSHOP_COUNT")
                            )
MTHMIN9 = MTHMIN9.withColumn("MTHMIN9RXCOUNT", col("CVS_COUNT") + col("RITE_AID_COUNT") + col("WAL_MART_COUNT") + col("PATHMARK_COUNT") + col("TARGET_COUNT") + 
                                               col("COSTCO_COUNT") + col("SHOPRITE_COUNT") + col("DUANE_COUNT") + col("GIANT_COUNT") +
                                               col("OTHER_COUNT") + col("ACME_COUNT") + col("KROGER_COUNT") + col("STOPNSHOP_COUNT")
                            )
MTHMIN10 = MTHMIN10.withColumn("MTHMIN10RXCOUNT", col("CVS_COUNT") + col("RITE_AID_COUNT") + col("WAL_MART_COUNT") + col("PATHMARK_COUNT") + col("TARGET_COUNT") + 
                                                  col("COSTCO_COUNT") + col("SHOPRITE_COUNT") + col("DUANE_COUNT") + col("GIANT_COUNT") +
                                                  col("OTHER_COUNT") + col("ACME_COUNT") + col("KROGER_COUNT") + col("STOPNSHOP_COUNT")
                              )
MTHMIN11 = MTHMIN11.withColumn("MTHMIN11RXCOUNT", col("CVS_COUNT") + col("RITE_AID_COUNT") + col("WAL_MART_COUNT") + col("PATHMARK_COUNT") + col("TARGET_COUNT") + 
                                                  col("COSTCO_COUNT") + col("SHOPRITE_COUNT") + col("DUANE_COUNT") + col("GIANT_COUNT") +
                                                  col("OTHER_COUNT") + col("ACME_COUNT") + col("KROGER_COUNT") + col("STOPNSHOP_COUNT")
                              )
MTHMIN12 = MTHMIN12.withColumn("MTHMIN12RXCOUNT", col("CVS_COUNT") + col("RITE_AID_COUNT") + col("WAL_MART_COUNT") + col("PATHMARK_COUNT") + col("TARGET_COUNT") + 
                                                  col("COSTCO_COUNT") + col("SHOPRITE_COUNT") + col("DUANE_COUNT") + col("GIANT_COUNT") +
                                                  col("OTHER_COUNT") + col("ACME_COUNT") + col("KROGER_COUNT") + col("STOPNSHOP_COUNT")
                              )


pharmcount = MTHMIN3.join(MTHMIN2, on="DIM_MBR_SK", how="left") \
                    .join(MTHMIN1, on="DIM_MBR_SK", how="left") \
                    .join(MTHMIN4, on="DIM_MBR_SK", how="left") \
                    .join(MTHMIN5, on="DIM_MBR_SK", how="left") \
                    .join(MTHMIN6, on="DIM_MBR_SK", how="left") \
                    .join(MTHMIN7, on="DIM_MBR_SK", how="left") \
                    .join(MTHMIN8, on="DIM_MBR_SK", how="left") \
                    .join(MTHMIN9, on="DIM_MBR_SK", how="left") \
                    .join(MTHMIN10, on="DIM_MBR_SK", how="left") \
                    .join(MTHMIN11, on="DIM_MBR_SK", how="left") \
                    .join(MTHMIN12, on="DIM_MBR_SK", how="left") \
                    .select("DIM_MBR_SK", "MTHMIN3RXCOUNT", "MTHMIN2RXCOUNT", "MTHMIN1RXCOUNT", "MTHMIN4RXCOUNT", "MTHMIN5RXCOUNT", "MTHMIN6RXCOUNT",
                            "MTHMIN7RXCOUNT", "MTHMIN8RXCOUNT", "MTHMIN9RXCOUNT", "MTHMIN10RXCOUNT", "MTHMIN11RXCOUNT", "MTHMIN12RXCOUNT")

In [ ]:
"""
data PharmCount;
                 set PharmCount;
      PHARM_COUNT= sum(MTHMIN3RXCOUNT) + sum(MTHMIN2RXCOUNT) + sum(MTHMIN1RXCOUNT)
+ sum(MTHMIN4RXCOUNT) + sum(MTHMIN5RXCOUNT) + sum(MTHMIN6RXCOUNT)
+ sum(MTHMIN7RXCOUNT) + sum(MTHMIN8RXCOUNT) + sum(MTHMIN9RXCOUNT)
+ sum(MTHMIN10RXCOUNT) + sum(MTHMIN11RXCOUNT) + sum(MTHMIN12RXCOUNT)
; run;
proc sql; create table PolyPharma AS(
      select DIM_MBR_SK,
           CASE WHEN MTHMIN3RXCOUNT > 1
                 THEN 1
                      ELSE 0
            END AS MTHMIN3RXPOLY,
      CASE WHEN MTHMIN2RXCOUNT > 1
           THEN 1
                 ELSE 0
      END AS MTHMIN2RXPOLY,
CASE WHEN MTHMIN1RXCOUNT > 1
      THEN 1
           ELSE 0
END AS MTHMIN1RXPOLY,
CASE WHEN MTHMIN4RXCOUNT > 1
      THEN 1
           ELSE 0
END AS MTHMIN4RXPOLY,
CASE WHEN MTHMIN5RXCOUNT > 1
      THEN 1
           ELSE 0
END AS MTHMIN5RXPOLY,
CASE WHEN MTHMIN6RXCOUNT > 1
      THEN 1
           ELSE 0
END AS MTHMIN6RXPOLY,
           CASE WHEN MTHMIN7RXCOUNT > 1
                 THEN 1
                      ELSE 0
           END AS MTHMIN7RXPOLY,
      CASE WHEN MTHMIN8RXCOUNT > 1
           THEN 1
                 ELSE 0
      END AS MTHMIN8RXPOLY,
CASE WHEN MTHMIN9RXCOUNT > 1
      THEN 1
           ELSE 0
END AS MTHMIN9RXPOLY,
CASE WHEN MTHMIN10RXCOUNT > 1
      THEN 1
           ELSE 0
END AS MTHMIN10RXPOLY,
CASE WHEN MTHMIN11RXCOUNT > 1
      THEN 1
           ELSE 0
END AS MTHMIN11RXPOLY,
CASE WHEN MTHMIN12RXCOUNT > 1
      THEN 1
           ELSE 0
END AS MTHMIN12RXPOLY
from PharmCount) ; quit;
"""



pharmcount = pharmcount.withColumn("PHARM_COUNT", col("MTHMIN3RXCOUNT") + col("MTHMIN2RXCOUNT") + col("MTHMIN1RXCOUNT") + col("MTHMIN4RXCOUNT") +
                                                  col("MTHMIN5RXCOUNT") + col("MTHMIN6RXCOUNT") + col("MTHMIN7RXCOUNT") + col("MTHMIN8RXCOUNT") +
                                                  col("MTHMIN9RXCOUNT") + col("MTHMIN10RXCOUNT") + col("MTHMIN11RXCOUNT") + col("MTHMIN12RXCOUNT")
                                  )

polypharma = pharmcount.select("DIM_MBR_SK",when(col("MTHMIN3RXCOUNT") > 1, 1).otherwise(0).alias("MTHMIN3RXPOLY"),
                                            when(col("MTHMIN2RXCOUNT") > 1, 1).otherwise(0).alias("MTHMIN2RXPOLY"),
                                            when(col("MTHMIN1RXCOUNT") > 1, 1).otherwise(0).alias("MTHMIN1RXPOLY"),
                                            when(col("MTHMIN4RXCOUNT") > 1, 1).otherwise(0).alias("MTHMIN4RXPOLY"),
                                            when(col("MTHMIN5RXCOUNT") > 1, 1).otherwise(0).alias("MTHMIN5RXPOLY"),
                                            when(col("MTHMIN6RXCOUNT") > 1, 1).otherwise(0).alias("MTHMIN6RXPOLY"),
                                            when(col("MTHMIN7RXCOUNT") > 1, 1).otherwise(0).alias("MTHMIN7RXPOLY"),
                                            when(col("MTHMIN8RXCOUNT") > 1, 1).otherwise(0).alias("MTHMIN8RXPOLY"),
                                            when(col("MTHMIN9RXCOUNT") > 1, 1).otherwise(0).alias("MTHMIN9RXPOLY"),
                                            when(col("MTHMIN10RXCOUNT") > 1, 1).otherwise(0).alias("MTHMIN10RXPOLY"),
                                            when(col("MTHMIN11RXCOUNT") > 1, 1).otherwise(0).alias("MTHMIN11RXPOLY"),
                                            when(col("MTHMIN12RXCOUNT") > 1, 1).otherwise(0).alias("MTHMIN12RXPOLY")
                              )

In [ ]:
"""
data PolyPharma;
set PolyPharma;
POLY_PHARM_COUNT= MTHMIN3RXPOLY + MTHMIN2RXPOLY + MTHMIN1RXPOLY
+MTHMIN4RXPOLY + MTHMIN5RXPOLY + MTHMIN6RXPOLY
+MTHMIN7RXPOLY + MTHMIN8RXPOLY + MTHMIN9RXPOLY
+MTHMIN10RXPOLY + MTHMIN11RXPOLY + MTHMIN12RXPOLY; run;
proc sql; create table Pharmacy_Output AS(
      select A.DIM_MBR_SK,
           PHARM_COUNT,
           POLY_PHARM_COUNT
      from PharmCount A
           inner join PolyPharma B
                 on a.dim_mbr_sk = b.dim_mbr_sk) ; quit;
"""



polypharma = polypharma.withColumn("POLY_PHARM_COUNT",  col("MTHMIN3RXPOLY") + col("MTHMIN2RXPOLY") + col("MTHMIN1RXPOLY") + col("MTHMIN4RXPOLY") +
                                                        col("MTHMIN5RXPOLY") + col("MTHMIN6RXPOLY") + col("MTHMIN7RXPOLY") + col("MTHMIN8RXPOLY") +
                                                        col("MTHMIN9RXPOLY") + col("MTHMIN10RXPOLY") + col("MTHMIN11RXPOLY") + col("MTHMIN12RXPOLY")
                                  ) 

pharmacy_output = pharmcount.join(polypharma, on="DIM_MBR_SK", how="inner") \
                            .select("DIM_MBR_SK", "PHARM_COUNT", "POLY_PHARM_COUNT")

In [ ]:
"""
proc datasets; delete polypharma pharmcount MTHMIN1-MTHMIN12 ; run;
"""

#### delete all the listed tables

In [ ]:
"""
proc sql; create table OPIMEDMTHMIN12 AS(
      SELECT
           B.DIM_MBR_SK,
CASE WHEN sum(OPI) IS NULL THEN 0  ELSE  sum(OPI) END AS OPI,
      CASE WHEN sum(MAT)  IS NULL THEN 0  ELSE sum(MAT) END AS MAT,
           CASE WHEN sum(STIM)  IS NULL THEN 0  ELSE sum(STIM) END AS STIM
      FROM
                 (SELECT distinct
                      DIM_RX_PDT_SK,
                      PDT_NM_GEN,
                      DSG_FROM_DSC,
                 CASE WHEN PDT_NM_RX IS NULL THEN PDT_NM_GEN  ELSE PDT_NM_RX END AS MED,
CASE WHEN PDT_GEN_ID in (&OPI) THEN 1 END AS OPI,
CASE WHEN PDT_GEN_ID in (&MAT) THEN 1 END AS MAT,
CASE WHEN PDT_GEN_ID in (&STIM) THEN 1 END AS STIM
FROM TDPRD.SMC_DIM_PDT_RX) DIM
RIGHT JOIN
(select distinct PDT_RX_SK,
DIM_MBR_SK,    
PRSC_DT,
PHRM_CLM_STAT_CD
FROM TDPRD.SMC_FACT_PHRM_CLM WHERE PHRM_CLM_STAT_CD IN ('P', 'R') AND PRSC_DT BETWEEN &BEG12  AND &END12  ) CLM           
ON dim.DIM_RX_PDT_SK = clm.PDT_RX_SK
RIGHT JOIN
(SELECT * FROM LOCK1) B
ON CLM.DIM_MBR_SK = B.DIM_MBR_SK
group by B.DIM_MBR_SK) ; quit;
"""



dimx = spark.table("TDPRD.SMC_DIM_PDT_RX") \
            .select("DIM_RX_PDT_SK", "PDT_NM_GEN", "DSG_FROM_DSC", 
                    when(col("PDT_NM_RX").isNull(), col("PDT_NM_GEN")).otherwise(col("PDT_NM_RX")).alias("MED"),
                    when(col("PDT_GEN_ID").isin(OPI), 1).alias("OPI"),
                    when(col("PDT_GEN_ID").isin(MAT), 1).alias("MAT"),
                    when(col("PDT_GEN_ID").isin(STIM), 1).alias("STIM")) \
            .distinct()

clmx = spark.table("TDPRD.SMC_FACT_PHRM_CLM") \
            .select("PDT_RX_SK", "DIM_MBR_SK", "PRSC_DT", "PHRM_CLM_STAT_CD") \
            .filter(col("PHRM_CLM_STAT_CD").isin('P', 'R')) \
            .filter(col("PRSC_DT").between(BEG12, END12)) \
            .distinct()

joint = clmx.join(LOCK1, on="DIM_MBR_SK", how="right")


OPIMEDMTHMIN12 = dimx.join(joint, col("DIM_RX_PDT_SK") == col("PDT_RX_SK"), "right") \
                     .groupBy("DIM_MBR_SK") \
                     .agg(when(sum("OPI").isNull(), 0).otherwise(sum("OPI")).alias("OPI"),
                          when(sum("MAT").isNull(), 0).otherwise(sum("MAT")).alias("MAT"),
                          when(sum("STIM").isNull(), 0).otherwise(sum("STIM")).alias("STIM")
                         )

In [ ]:
"""
proc sql; create table OPIMEDMTHMIN11 AS(
      SELECT
           B.DIM_MBR_SK,
CASE WHEN sum(OPI) IS NULL THEN 0  ELSE  sum(OPI) END AS OPI,
      CASE WHEN sum(MAT)  IS NULL THEN 0  ELSE sum(MAT) END AS MAT,
           CASE WHEN sum(STIM)  IS NULL THEN 0  ELSE sum(STIM) END AS STIM
      FROM
                 (SELECT distinct
                      DIM_RX_PDT_SK,
                      PDT_NM_GEN,
                      DSG_FROM_DSC,
                 CASE WHEN PDT_NM_RX IS NULL THEN PDT_NM_GEN  ELSE PDT_NM_RX END AS MED,
CASE WHEN PDT_GEN_ID in (&OPI) THEN 1 END AS OPI,
CASE WHEN PDT_GEN_ID in (&MAT) THEN 1 END AS MAT,
CASE WHEN PDT_GEN_ID in (&STIM) THEN 1 END AS STIM
FROM TDPRD.SMC_DIM_PDT_RX) DIM
RIGHT JOIN
(select distinct PDT_RX_SK,
DIM_MBR_SK,    
PRSC_DT,
PHRM_CLM_STAT_CD
FROM TDPRD.SMC_FACT_PHRM_CLM WHERE PHRM_CLM_STAT_CD IN ('P', 'R') AND PRSC_DT BETWEEN &BEG11  AND &END11  ) CLM           
ON dim.DIM_RX_PDT_SK = clm.PDT_RX_SK
RIGHT JOIN
(SELECT * FROM LOCK1) B
ON CLM.DIM_MBR_SK = B.DIM_MBR_SK
group by B.DIM_MBR_SK) ; quit;
"""


clmx1 = spark.table("TDPRD.SMC_FACT_PHRM_CLM") \
             .select("PDT_RX_SK", "DIM_MBR_SK", "PRSC_DT", "PHRM_CLM_STAT_CD") \
             .filter(col("PHRM_CLM_STAT_CD").isin('P', 'R')) \
             .filter(col("PRSC_DT").between(BEG11, END11)) \
             .distinct()

joint1 = clmx1.join(LOCK1, on="DIM_MBR_SK", how="right")


OPIMEDMTHMIN11 = dimx.join(joint1, col("DIM_RX_PDT_SK") == col("PDT_RX_SK"), "right") \
                     .groupBy("DIM_MBR_SK") \
                     .agg(when(sum("OPI").isNull(), 0).otherwise(sum("OPI")).alias("OPI"),
                          when(sum("MAT").isNull(), 0).otherwise(sum("MAT")).alias("MAT"),
                          when(sum("STIM").isNull(), 0).otherwise(sum("STIM")).alias("STIM")
                         )

In [ ]:
"""
proc sql; create table OPIMEDMTHMIN10 AS(
      SELECT
           B.DIM_MBR_SK,
CASE WHEN sum(OPI) IS NULL THEN 0  ELSE  sum(OPI) END AS OPI,
      CASE WHEN sum(MAT)  IS NULL THEN 0  ELSE sum(MAT) END AS MAT,
           CASE WHEN sum(STIM)  IS NULL THEN 0  ELSE sum(STIM) END AS STIM
      FROM
                 (SELECT distinct
                      DIM_RX_PDT_SK,
                      PDT_NM_GEN,
                      DSG_FROM_DSC,
                 CASE WHEN PDT_NM_RX IS NULL THEN PDT_NM_GEN  ELSE PDT_NM_RX END AS MED,
CASE WHEN PDT_GEN_ID in (&OPI) THEN 1 END AS OPI,
CASE WHEN PDT_GEN_ID in (&MAT) THEN 1 END AS MAT,
CASE WHEN PDT_GEN_ID in (&STIM) THEN 1 END AS STIM
FROM TDPRD.SMC_DIM_PDT_RX) DIM
RIGHT JOIN
(select distinct PDT_RX_SK,
DIM_MBR_SK,    
PRSC_DT,
PHRM_CLM_STAT_CD
FROM TDPRD.SMC_FACT_PHRM_CLM WHERE PHRM_CLM_STAT_CD IN ('P', 'R') AND PRSC_DT BETWEEN &BEG10  AND &END10  ) CLM           
ON dim.DIM_RX_PDT_SK = clm.PDT_RX_SK
RIGHT JOIN
(SELECT * FROM LOCK1) B
ON CLM.DIM_MBR_SK = B.DIM_MBR_SK
group by B.DIM_MBR_SK) ; quit;
"""


clmx2 = spark.table("TDPRD.SMC_FACT_PHRM_CLM") \
             .select("PDT_RX_SK", "DIM_MBR_SK", "PRSC_DT", "PHRM_CLM_STAT_CD") \
             .filter(col("PHRM_CLM_STAT_CD").isin('P', 'R')) \
             .filter(col("PRSC_DT").between(BEG10, END10)) \
             .distinct()

joint2 = clmx2.join(LOCK1, on="DIM_MBR_SK", how="right")


OPIMEDMTHMIN10 = dimx.join(joint2, col("DIM_RX_PDT_SK") == col("PDT_RX_SK"), "right") \
                     .groupBy("DIM_MBR_SK") \
                     .agg(when(sum("OPI").isNull(), 0).otherwise(sum("OPI")).alias("OPI"),
                          when(sum("MAT").isNull(), 0).otherwise(sum("MAT")).alias("MAT"),
                          when(sum("STIM").isNull(), 0).otherwise(sum("STIM")).alias("STIM")
                         )

In [ ]:
"""
proc sql; create table OPIMEDMTHMIN9 AS(
      SELECT
           B.DIM_MBR_SK,
CASE WHEN sum(OPI) IS NULL THEN 0  ELSE  sum(OPI) END AS OPI,
      CASE WHEN sum(MAT)  IS NULL THEN 0  ELSE sum(MAT) END AS MAT,
           CASE WHEN sum(STIM)  IS NULL THEN 0  ELSE sum(STIM) END AS STIM
      FROM
                 (SELECT distinct
                      DIM_RX_PDT_SK,
                      PDT_NM_GEN,
                      DSG_FROM_DSC,
                 CASE WHEN PDT_NM_RX IS NULL THEN PDT_NM_GEN  ELSE PDT_NM_RX END AS MED,
CASE WHEN PDT_GEN_ID in (&OPI) THEN 1 END AS OPI,
CASE WHEN PDT_GEN_ID in (&MAT) THEN 1 END AS MAT,
CASE WHEN PDT_GEN_ID in (&STIM) THEN 1 END AS STIM
FROM TDPRD.SMC_DIM_PDT_RX) DIM
RIGHT JOIN
(select distinct PDT_RX_SK,
DIM_MBR_SK,    
PRSC_DT,
PHRM_CLM_STAT_CD
FROM TDPRD.SMC_FACT_PHRM_CLM WHERE PHRM_CLM_STAT_CD IN ('P', 'R') AND PRSC_DT BETWEEN &BEG9  AND &END9  ) CLM           
ON dim.DIM_RX_PDT_SK = clm.PDT_RX_SK
RIGHT JOIN
(SELECT * FROM LOCK1) B
ON CLM.DIM_MBR_SK = B.DIM_MBR_SK
group by B.DIM_MBR_SK) ; quit;
"""


clmx3 = spark.table("TDPRD.SMC_FACT_PHRM_CLM") \
             .select("PDT_RX_SK", "DIM_MBR_SK", "PRSC_DT", "PHRM_CLM_STAT_CD") \
             .filter(col("PHRM_CLM_STAT_CD").isin('P', 'R')) \
             .filter(col("PRSC_DT").between(BEG9, END9)) \
             .distinct()

joint3 = clmx3.join(LOCK1, on="DIM_MBR_SK", how="right")


OPIMEDMTHMIN9 = dimx.join(joint3, col("DIM_RX_PDT_SK") == col("PDT_RX_SK"), "right") \
                     .groupBy("DIM_MBR_SK") \
                     .agg(when(sum("OPI").isNull(), 0).otherwise(sum("OPI")).alias("OPI"),
                          when(sum("MAT").isNull(), 0).otherwise(sum("MAT")).alias("MAT"),
                          when(sum("STIM").isNull(), 0).otherwise(sum("STIM")).alias("STIM")
                         )

In [ ]:
"""
proc sql; create table OPIMEDMTHMIN8 AS(
      SELECT
           B.DIM_MBR_SK,
CASE WHEN sum(OPI) IS NULL THEN 0  ELSE  sum(OPI) END AS OPI,
      CASE WHEN sum(MAT)  IS NULL THEN 0  ELSE sum(MAT) END AS MAT,
           CASE WHEN sum(STIM)  IS NULL THEN 0  ELSE sum(STIM) END AS STIM
      FROM
                 (SELECT distinct
                      DIM_RX_PDT_SK,
                      PDT_NM_GEN,
                      DSG_FROM_DSC,
                 CASE WHEN PDT_NM_RX IS NULL THEN PDT_NM_GEN  ELSE PDT_NM_RX END AS MED,
CASE WHEN PDT_GEN_ID in (&OPI) THEN 1 END AS OPI,
CASE WHEN PDT_GEN_ID in (&MAT) THEN 1 END AS MAT,
CASE WHEN PDT_GEN_ID in (&STIM) THEN 1 END AS STIM
FROM TDPRD.SMC_DIM_PDT_RX) DIM
RIGHT JOIN
(select distinct PDT_RX_SK,
DIM_MBR_SK,    
PRSC_DT,
PHRM_CLM_STAT_CD
FROM TDPRD.SMC_FACT_PHRM_CLM WHERE PHRM_CLM_STAT_CD IN ('P', 'R') AND PRSC_DT BETWEEN &BEG8  AND &END8  ) CLM           
ON dim.DIM_RX_PDT_SK = clm.PDT_RX_SK
RIGHT JOIN
(SELECT * FROM LOCK1) B
ON CLM.DIM_MBR_SK = B.DIM_MBR_SK
group by B.DIM_MBR_SK) ; quit;
"""


clmx4 = spark.table("TDPRD.SMC_FACT_PHRM_CLM") \
             .select("PDT_RX_SK", "DIM_MBR_SK", "PRSC_DT", "PHRM_CLM_STAT_CD") \
             .filter(col("PHRM_CLM_STAT_CD").isin('P', 'R')) \
             .filter(col("PRSC_DT").between(BEG8, END8)) \
             .distinct()

joint4 = clmx4.join(LOCK1, on="DIM_MBR_SK", how="right")


OPIMEDMTHMIN8 = dimx.join(joint4, col("DIM_RX_PDT_SK") == col("PDT_RX_SK"), "right") \
                     .groupBy("DIM_MBR_SK") \
                     .agg(when(sum("OPI").isNull(), 0).otherwise(sum("OPI")).alias("OPI"),
                          when(sum("MAT").isNull(), 0).otherwise(sum("MAT")).alias("MAT"),
                          when(sum("STIM").isNull(), 0).otherwise(sum("STIM")).alias("STIM")
                         )

In [ ]:
"""
proc sql; create table OPIMEDMTHMIN7 AS(
      SELECT
           B.DIM_MBR_SK,
CASE WHEN sum(OPI) IS NULL THEN 0  ELSE  sum(OPI) END AS OPI,
      CASE WHEN sum(MAT)  IS NULL THEN 0  ELSE sum(MAT) END AS MAT,
           CASE WHEN sum(STIM)  IS NULL THEN 0  ELSE sum(STIM) END AS STIM
      FROM
                 (SELECT distinct
                      DIM_RX_PDT_SK,
                      PDT_NM_GEN,
                      DSG_FROM_DSC,
                 CASE WHEN PDT_NM_RX IS NULL THEN PDT_NM_GEN  ELSE PDT_NM_RX END AS MED,
CASE WHEN PDT_GEN_ID in (&OPI) THEN 1 END AS OPI,
CASE WHEN PDT_GEN_ID in (&MAT) THEN 1 END AS MAT,
CASE WHEN PDT_GEN_ID in (&STIM) THEN 1 END AS STIM
FROM TDPRD.SMC_DIM_PDT_RX) DIM
RIGHT JOIN
(select distinct PDT_RX_SK,
DIM_MBR_SK,    
PRSC_DT,
PHRM_CLM_STAT_CD
FROM TDPRD.SMC_FACT_PHRM_CLM WHERE PHRM_CLM_STAT_CD IN ('P', 'R') AND PRSC_DT BETWEEN &BEG7  AND &END7  ) CLM           
ON dim.DIM_RX_PDT_SK = clm.PDT_RX_SK
RIGHT JOIN
(SELECT * FROM LOCK1) B
ON CLM.DIM_MBR_SK = B.DIM_MBR_SK
group by B.DIM_MBR_SK) ; quit;
"""


clmx5 = spark.table("TDPRD.SMC_FACT_PHRM_CLM") \
             .select("PDT_RX_SK", "DIM_MBR_SK", "PRSC_DT", "PHRM_CLM_STAT_CD") \
             .filter(col("PHRM_CLM_STAT_CD").isin('P', 'R')) \
             .filter(col("PRSC_DT").between(BEG7, END7)) \
             .distinct()

joint5 = clmx5.join(LOCK1, on="DIM_MBR_SK", how="right")


OPIMEDMTHMIN7 = dimx.join(joint5, col("DIM_RX_PDT_SK") == col("PDT_RX_SK"), "right") \
                     .groupBy("DIM_MBR_SK") \
                     .agg(when(sum("OPI").isNull(), 0).otherwise(sum("OPI")).alias("OPI"),
                          when(sum("MAT").isNull(), 0).otherwise(sum("MAT")).alias("MAT"),
                          when(sum("STIM").isNull(), 0).otherwise(sum("STIM")).alias("STIM")
                         )

In [ ]:
"""
proc sql; create table OPIMEDMTHMIN6 AS(
      SELECT
           B.DIM_MBR_SK,
CASE WHEN sum(OPI) IS NULL THEN 0  ELSE  sum(OPI) END AS OPI,
      CASE WHEN sum(MAT)  IS NULL THEN 0  ELSE sum(MAT) END AS MAT,
           CASE WHEN sum(STIM)  IS NULL THEN 0  ELSE sum(STIM) END AS STIM
      FROM
                 (SELECT distinct
                      DIM_RX_PDT_SK,
                      PDT_NM_GEN,
                      DSG_FROM_DSC,
                 CASE WHEN PDT_NM_RX IS NULL THEN PDT_NM_GEN  ELSE PDT_NM_RX END AS MED,
CASE WHEN PDT_GEN_ID in (&OPI) THEN 1 END AS OPI,
CASE WHEN PDT_GEN_ID in (&MAT) THEN 1 END AS MAT,
CASE WHEN PDT_GEN_ID in (&STIM) THEN 1 END AS STIM
FROM TDPRD.SMC_DIM_PDT_RX) DIM
RIGHT JOIN
(select distinct PDT_RX_SK,
DIM_MBR_SK,    
PRSC_DT,
PHRM_CLM_STAT_CD
FROM TDPRD.SMC_FACT_PHRM_CLM WHERE PHRM_CLM_STAT_CD IN ('P', 'R') AND PRSC_DT BETWEEN &BEG6  AND &END6  ) CLM           
ON dim.DIM_RX_PDT_SK = clm.PDT_RX_SK
RIGHT JOIN
(SELECT * FROM LOCK1) B
ON CLM.DIM_MBR_SK = B.DIM_MBR_SK
group by B.DIM_MBR_SK) ; quit;
"""


clmx6 = spark.table("TDPRD.SMC_FACT_PHRM_CLM") \
             .select("PDT_RX_SK", "DIM_MBR_SK", "PRSC_DT", "PHRM_CLM_STAT_CD") \
             .filter(col("PHRM_CLM_STAT_CD").isin('P', 'R')) \
             .filter(col("PRSC_DT").between(BEG6, END6)) \
             .distinct()

joint6 = clmx6.join(LOCK1, on="DIM_MBR_SK", how="right")


OPIMEDMTHMIN6 = dimx.join(joint6, col("DIM_RX_PDT_SK") == col("PDT_RX_SK"), "right") \
                     .groupBy("DIM_MBR_SK") \
                     .agg(when(sum("OPI").isNull(), 0).otherwise(sum("OPI")).alias("OPI"),
                          when(sum("MAT").isNull(), 0).otherwise(sum("MAT")).alias("MAT"),
                          when(sum("STIM").isNull(), 0).otherwise(sum("STIM")).alias("STIM")
                         )

In [ ]:
"""
proc sql; create table OPIMEDMTHMIN5 AS(
      SELECT
           B.DIM_MBR_SK,
CASE WHEN sum(OPI) IS NULL THEN 0  ELSE  sum(OPI) END AS OPI,
      CASE WHEN sum(MAT)  IS NULL THEN 0  ELSE sum(MAT) END AS MAT,
           CASE WHEN sum(STIM)  IS NULL THEN 0  ELSE sum(STIM) END AS STIM
      FROM
                 (SELECT distinct
                      DIM_RX_PDT_SK,
                      PDT_NM_GEN,
                      DSG_FROM_DSC,
                 CASE WHEN PDT_NM_RX IS NULL THEN PDT_NM_GEN  ELSE PDT_NM_RX END AS MED,
CASE WHEN PDT_GEN_ID in (&OPI) THEN 1 END AS OPI,
CASE WHEN PDT_GEN_ID in (&MAT) THEN 1 END AS MAT,
CASE WHEN PDT_GEN_ID in (&STIM) THEN 1 END AS STIM
FROM TDPRD.SMC_DIM_PDT_RX) DIM
RIGHT JOIN
(select distinct PDT_RX_SK,
DIM_MBR_SK,    
PRSC_DT,
PHRM_CLM_STAT_CD
FROM TDPRD.SMC_FACT_PHRM_CLM WHERE PHRM_CLM_STAT_CD IN ('P', 'R') AND PRSC_DT BETWEEN &BEG5  AND &END5  ) CLM           
ON dim.DIM_RX_PDT_SK = clm.PDT_RX_SK
RIGHT JOIN
(SELECT * FROM LOCK1) B
ON CLM.DIM_MBR_SK = B.DIM_MBR_SK
group by B.DIM_MBR_SK) ; quit;
"""


clmx7 = spark.table("TDPRD.SMC_FACT_PHRM_CLM") \
             .select("PDT_RX_SK", "DIM_MBR_SK", "PRSC_DT", "PHRM_CLM_STAT_CD") \
             .filter(col("PHRM_CLM_STAT_CD").isin('P', 'R')) \
             .filter(col("PRSC_DT").between(BEG5, END5)) \
             .distinct()

joint7 = clmx7.join(LOCK1, on="DIM_MBR_SK", how="right")


OPIMEDMTHMIN5 = dimx.join(joint7, col("DIM_RX_PDT_SK") == col("PDT_RX_SK"), "right") \
                     .groupBy("DIM_MBR_SK") \
                     .agg(when(sum("OPI").isNull(), 0).otherwise(sum("OPI")).alias("OPI"),
                          when(sum("MAT").isNull(), 0).otherwise(sum("MAT")).alias("MAT"),
                          when(sum("STIM").isNull(), 0).otherwise(sum("STIM")).alias("STIM")
                         )

In [ ]:
"""
proc sql; create table OPIMEDMTHMIN4 AS(
      SELECT
           B.DIM_MBR_SK,
CASE WHEN sum(OPI) IS NULL THEN 0  ELSE  sum(OPI) END AS OPI,
      CASE WHEN sum(MAT)  IS NULL THEN 0  ELSE sum(MAT) END AS MAT,
           CASE WHEN sum(STIM)  IS NULL THEN 0  ELSE sum(STIM) END AS STIM
      FROM
                 (SELECT distinct
                      DIM_RX_PDT_SK,
                      PDT_NM_GEN,
                      DSG_FROM_DSC,
                 CASE WHEN PDT_NM_RX IS NULL THEN PDT_NM_GEN  ELSE PDT_NM_RX END AS MED,
CASE WHEN PDT_GEN_ID in (&OPI) THEN 1 END AS OPI,
CASE WHEN PDT_GEN_ID in (&MAT) THEN 1 END AS MAT,
CASE WHEN PDT_GEN_ID in (&STIM) THEN 1 END AS STIM
FROM TDPRD.SMC_DIM_PDT_RX) DIM
RIGHT JOIN
(select distinct PDT_RX_SK,
DIM_MBR_SK,    
PRSC_DT,
PHRM_CLM_STAT_CD
FROM TDPRD.SMC_FACT_PHRM_CLM WHERE PHRM_CLM_STAT_CD IN ('P', 'R') AND PRSC_DT BETWEEN &BEG4  AND &END4  ) CLM           
ON dim.DIM_RX_PDT_SK = clm.PDT_RX_SK
RIGHT JOIN
(SELECT * FROM LOCK1) B
ON CLM.DIM_MBR_SK = B.DIM_MBR_SK
group by B.DIM_MBR_SK) ; quit;
"""


clmx8 = spark.table("TDPRD.SMC_FACT_PHRM_CLM") \
             .select("PDT_RX_SK", "DIM_MBR_SK", "PRSC_DT", "PHRM_CLM_STAT_CD") \
             .filter(col("PHRM_CLM_STAT_CD").isin('P', 'R')) \
             .filter(col("PRSC_DT").between(BEG4, END4)) \
             .distinct()

joint8 = clmx8.join(LOCK1, on="DIM_MBR_SK", how="right")


OPIMEDMTHMIN4 = dimx.join(joint8, col("DIM_RX_PDT_SK") == col("PDT_RX_SK"), "right") \
                    .groupBy("DIM_MBR_SK") \
                    .agg(when(sum("OPI").isNull(), 0).otherwise(sum("OPI")).alias("OPI"),
                          when(sum("MAT").isNull(), 0).otherwise(sum("MAT")).alias("MAT"),
                          when(sum("STIM").isNull(), 0).otherwise(sum("STIM")).alias("STIM")
                        )

In [ ]:
"""
proc sql; create table OPIMEDMTHMIN3 AS(
      SELECT
           B.DIM_MBR_SK,
CASE WHEN sum(OPI) IS NULL THEN 0  ELSE  sum(OPI) END AS OPI,
      CASE WHEN sum(MAT)  IS NULL THEN 0  ELSE sum(MAT) END AS MAT,
           CASE WHEN sum(STIM)  IS NULL THEN 0  ELSE sum(STIM) END AS STIM
      FROM
                 (SELECT distinct
                      DIM_RX_PDT_SK,
                      PDT_NM_GEN,
                      DSG_FROM_DSC,
                 CASE WHEN PDT_NM_RX IS NULL THEN PDT_NM_GEN  ELSE PDT_NM_RX END AS MED,
CASE WHEN PDT_GEN_ID in (&OPI) THEN 1 END AS OPI,
CASE WHEN PDT_GEN_ID in (&MAT) THEN 1 END AS MAT,
CASE WHEN PDT_GEN_ID in (&STIM) THEN 1 END AS STIM
FROM TDPRD.SMC_DIM_PDT_RX) DIM
RIGHT JOIN
(select distinct PDT_RX_SK,
DIM_MBR_SK,    
PRSC_DT,
PHRM_CLM_STAT_CD
FROM TDPRD.SMC_FACT_PHRM_CLM WHERE PHRM_CLM_STAT_CD IN ('P', 'R') AND PRSC_DT BETWEEN &BEG3  AND &END3  ) CLM           
ON dim.DIM_RX_PDT_SK = clm.PDT_RX_SK
RIGHT JOIN
(SELECT * FROM LOCK1) B
ON CLM.DIM_MBR_SK = B.DIM_MBR_SK
group by B.DIM_MBR_SK) ; quit;
"""


clmx9 = spark.table("TDPRD.SMC_FACT_PHRM_CLM") \
             .select("PDT_RX_SK", "DIM_MBR_SK", "PRSC_DT", "PHRM_CLM_STAT_CD") \
             .filter(col("PHRM_CLM_STAT_CD").isin('P', 'R')) \
             .filter(col("PRSC_DT").between(BEG3, END3)) \
             .distinct()

joint9 = clmx9.join(LOCK1, on="DIM_MBR_SK", how="right")


OPIMEDMTHMIN3 = dimx.join(joint9, col("DIM_RX_PDT_SK") == col("PDT_RX_SK"), "right") \
                    .groupBy("DIM_MBR_SK") \
                    .agg(when(sum("OPI").isNull(), 0).otherwise(sum("OPI")).alias("OPI"),
                          when(sum("MAT").isNull(), 0).otherwise(sum("MAT")).alias("MAT"),
                          when(sum("STIM").isNull(), 0).otherwise(sum("STIM")).alias("STIM")
                         )

In [ ]:
"""
proc sql; create table OPIMEDMTHMIN2 AS(
      SELECT
           B.DIM_MBR_SK,
CASE WHEN sum(OPI) IS NULL THEN 0  ELSE  sum(OPI) END AS OPI,
      CASE WHEN sum(MAT)  IS NULL THEN 0  ELSE sum(MAT) END AS MAT,
           CASE WHEN sum(STIM)  IS NULL THEN 0  ELSE sum(STIM) END AS STIM
      FROM
                 (SELECT distinct
                      DIM_RX_PDT_SK,
                      PDT_NM_GEN,
                      DSG_FROM_DSC,
                 CASE WHEN PDT_NM_RX IS NULL THEN PDT_NM_GEN  ELSE PDT_NM_RX END AS MED,
CASE WHEN PDT_GEN_ID in (&OPI) THEN 1 END AS OPI,
CASE WHEN PDT_GEN_ID in (&MAT) THEN 1 END AS MAT,
CASE WHEN PDT_GEN_ID in (&STIM) THEN 1 END AS STIM
FROM TDPRD.SMC_DIM_PDT_RX) DIM
RIGHT JOIN
(select distinct PDT_RX_SK,
DIM_MBR_SK,    
PRSC_DT,
PHRM_CLM_STAT_CD
FROM TDPRD.SMC_FACT_PHRM_CLM WHERE PHRM_CLM_STAT_CD IN ('P', 'R') AND PRSC_DT BETWEEN &BEG2  AND &END2  ) CLM           
ON dim.DIM_RX_PDT_SK = clm.PDT_RX_SK
RIGHT JOIN
(SELECT * FROM LOCK1) B
ON CLM.DIM_MBR_SK = B.DIM_MBR_SK
group by B.DIM_MBR_SK) ; quit;
"""


clmx10 = spark.table("TDPRD.SMC_FACT_PHRM_CLM").select("PDT_RX_SK", "DIM_MBR_SK", "PRSC_DT", "PHRM_CLM_STAT_CD") \
                                             .filter(col("PHRM_CLM_STAT_CD").isin('P', 'R')) \
                                             .filter(col("PRSC_DT").between(BEG2, END2)) \
                                             .distinct()

joint10 = clmx10.join(lock1, on="DIM_MBR_SK", how="right")


OPIMEDMTHMIN2 = dimx.join(joint10, dimx.DIM_RX_PDT_SK == joint10.PDT_RX_SK, "right") \
                     .groupBy("DIM_MBR_SK") \
                     .agg(when(sum("OPI").isNull(), 0).otherwise(sum("OPI")).alias("OPI"),
                          when(sum("MAT").isNull(), 0).otherwise(sum("MAT")).alias("MAT"),
                          when(sum("STIM").isNull(), 0).otherwise(sum("STIM")).alias("STIM")
                         )

In [ ]:
"""
proc sql; create table OPIMEDMTHMIN1 AS(
      SELECT
           B.DIM_MBR_SK,
CASE WHEN sum(OPI) IS NULL THEN 0  ELSE  sum(OPI) END AS OPI,
      CASE WHEN sum(MAT)  IS NULL THEN 0  ELSE sum(MAT) END AS MAT,
           CASE WHEN sum(STIM)  IS NULL THEN 0  ELSE sum(STIM) END AS STIM
      FROM
                 (SELECT distinct
                      DIM_RX_PDT_SK,
                      PDT_NM_GEN,
                      DSG_FROM_DSC,
                 CASE WHEN PDT_NM_RX IS NULL THEN PDT_NM_GEN  ELSE PDT_NM_RX END AS MED,
CASE WHEN PDT_GEN_ID in (&OPI) THEN 1 END AS OPI,
CASE WHEN PDT_GEN_ID in (&MAT) THEN 1 END AS MAT,
CASE WHEN PDT_GEN_ID in (&STIM) THEN 1 END AS STIM
FROM TDPRD.SMC_DIM_PDT_RX) DIM
RIGHT JOIN
(select distinct PDT_RX_SK,
DIM_MBR_SK,    
PRSC_DT,
PHRM_CLM_STAT_CD
FROM TDPRD.SMC_FACT_PHRM_CLM WHERE PHRM_CLM_STAT_CD IN ('P', 'R') AND PRSC_DT BETWEEN &BEG1  AND &END1  ) CLM           
ON dim.DIM_RX_PDT_SK = clm.PDT_RX_SK
RIGHT JOIN
(SELECT * FROM LOCK1) B
ON CLM.DIM_MBR_SK = B.DIM_MBR_SK
group by B.DIM_MBR_SK) ; quit;
"""


clmx11 = spark.table("TDPRD.SMC_FACT_PHRM_CLM") \
              .select("PDT_RX_SK", "DIM_MBR_SK", "PRSC_DT", "PHRM_CLM_STAT_CD") \
              .filter(col("PHRM_CLM_STAT_CD").isin('P', 'R')) \
              .filter(col("PRSC_DT").between(BEG1, END1)) \
              .distinct()

joint11 = clmx11.join(LOCK1, on="DIM_MBR_SK", how="right")


OPIMEDMTHMIN1 = dimx.join(joint11, col("DIM_RX_PDT_SK") == col("PDT_RX_SK"), "right") \
                    .groupBy("DIM_MBR_SK") \
                    .agg(when(sum("OPI").isNull(), 0).otherwise(sum("OPI")).alias("OPI"),
                         when(sum("MAT").isNull(), 0).otherwise(sum("MAT")).alias("MAT"),
                         when(sum("STIM").isNull(), 0).otherwise(sum("STIM")).alias("STIM")
                        )

In [ ]:
"""
proc sql; create table OPIOIDMEDS_1 AS(
      select A.DIM_MBR_SK,
           A.OPI AS OPIMTHMIN3,
           B.OPI AS OPIMTHMIN2,
           C.OPI AS OPIMTHMIN1,
           D.OPI AS OPIMTHMIN4,
           E.OPI AS OPIMTHMIN5,
           F.OPI AS OPIMTHMIN6,
           G.OPI AS OPIMTHMIN7,
           H.OPI AS OPIMTHMIN8,
           I.OPI AS OPIMTHMIN9,
           J.OPI AS OPIMTHMIN10,
           K.OPI AS OPIMTHMIN11,
           L.OPI AS OPIMTHMIN12,
           A.MAT AS TREATMTHMIN3,
           B.MAT AS TREATMTHMIN2,
           C.MAT AS TREATMTHMIN1,
           D.MAT AS TREATMTHMIN4,
           E.MAT AS TREATMTHMIN5,
           F.MAT AS TREATMTHMIN6,
           G.MAT AS TREATMTHMIN7,
           H.MAT AS TREATMTHMIN8,
           I.MAT AS TREATMTHMIN9,
           J.MAT AS TREATMTHMIN10,
           K.MAT AS TREATMTHMIN11,
           L.MAT AS TREATMTHMIN12,
           A.STIM AS STIMMTHMIN3,
           B.STIM AS STIMMTHMIN2,
           C.STIM AS STIMMTHMIN1,
           D.STIM AS STIMMTHMIN4,
           E.STIM AS STIMMTHMIN5,
           F.STIM AS STIMMTHMIN6,
           G.STIM AS STIMMTHMIN7,
           H.STIM AS STIMMTHMIN8,
           I.STIM AS STIMMTHMIN9,
           J.STIM AS STIMMTHMIN10,
           K.STIM AS STIMMTHMIN11,
           L.STIM AS STIMMTHMIN12
      FROM OPIMEDMTHMIN3 A
           LEFT JOIN OPIMEDMTHMIN2 B
                 ON A.DIM_MBR_SK = B.DIM_MBR_SK
           LEFT JOIN OPIMEDMTHMIN1 C
                 ON A.DIM_MBR_SK = C.DIM_MBR_SK
                 LEFT JOIN OPIMEDMTHMIN4 D
                 ON A.DIM_MBR_SK = D.DIM_MBR_SK
           LEFT JOIN OPIMEDMTHMIN5 E
                 ON A.DIM_MBR_SK = E.DIM_MBR_SK
                 LEFT JOIN OPIMEDMTHMIN6 F
                 ON A.DIM_MBR_SK = F.DIM_MBR_SK
           LEFT JOIN OPIMEDMTHMIN7 G
                 ON A.DIM_MBR_SK = G.DIM_MBR_SK
                 LEFT JOIN OPIMEDMTHMIN8 H
                 ON A.DIM_MBR_SK = H.DIM_MBR_SK
           LEFT JOIN OPIMEDMTHMIN9 I
                 ON A.DIM_MBR_SK = I.DIM_MBR_SK
                 LEFT JOIN OPIMEDMTHMIN10 J
                 ON A.DIM_MBR_SK = J.DIM_MBR_SK
           LEFT JOIN OPIMEDMTHMIN11 K
                 ON A.DIM_MBR_SK = K.DIM_MBR_SK
                 LEFT JOIN OPIMEDMTHMIN12 L
                 ON A.DIM_MBR_SK = L.DIM_MBR_SK
                 ) ; quit;
"""


join3 = OPIMEDMTHMIN3.select("DIM_MBR_SK", col("OPI").alias("OPIMTHMIN3"), col("MAT").alias("TREATMTHMIN3"), col("STIM").alias("STIMMTHMIN3"))
join2 = OPIMEDMTHMIN2.select("DIM_MBR_SK", col("OPI").alias("OPIMTHMIN2"), col("MAT").alias("TREATMTHMIN2"), col("STIM").alias("STIMMTHMIN2"))
join1 = OPIMEDMTHMIN1.select("DIM_MBR_SK", col("OPI").alias("OPIMTHMIN1"), col("MAT").alias("TREATMTHMIN1"), col("STIM").alias("STIMMTHMIN1"))
join4 = OPIMEDMTHMIN4.select("DIM_MBR_SK", col("OPI").alias("OPIMTHMIN4"), col("MAT").alias("TREATMTHMIN4"), col("STIM").alias("STIMMTHMIN4"))
join5 = OPIMEDMTHMIN5.select("DIM_MBR_SK", col("OPI").alias("OPIMTHMIN5"), col("MAT").alias("TREATMTHMIN5"), col("STIM").alias("STIMMTHMIN5"))
join6 = OPIMEDMTHMIN6.select("DIM_MBR_SK", col("OPI").alias("OPIMTHMIN6"), col("MAT").alias("TREATMTHMIN6"), col("STIM").alias("STIMMTHMIN6"))
join7 = OPIMEDMTHMIN7.select("DIM_MBR_SK", col("OPI").alias("OPIMTHMIN7"), col("MAT").alias("TREATMTHMIN7"), col("STIM").alias("STIMMTHMIN7"))
join8 = OPIMEDMTHMIN8.select("DIM_MBR_SK", col("OPI").alias("OPIMTHMIN8"), col("MAT").alias("TREATMTHMIN8"), col("STIM").alias("STIMMTHMIN8"))
join9 = OPIMEDMTHMIN9.select("DIM_MBR_SK", col("OPI").alias("OPIMTHMIN9"), col("MAT").alias("TREATMTHMIN9"), col("STIM").alias("STIMMTHMIN9"))
join10 = OPIMEDMTHMIN10.select("DIM_MBR_SK", col("OPI").alias("OPIMTHMIN10"), col("MAT").alias("TREATMTHMIN10"), col("STIM").alias("STIMMTHMIN10"))
join11 = OPIMEDMTHMIN11.select("DIM_MBR_SK", col("OPI").alias("OPIMTHMIN11"), col("MAT").alias("TREATMTHMIN11"), col("STIM").alias("STIMMTHMIN11"))
join12 = OPIMEDMTHMIN12.select("DIM_MBR_SK", col("OPI").alias("OPIMTHMIN12"), col("MAT").alias("TREATMTHMIN12"), col("STIM").alias("STIMMTHMIN12"))

OPIOIDMEDS_1 = join3.join(join2, on="DIM_MBR_SK", how="left") \
                    .join(join1, on="DIM_MBR_SK", how="left") \
                    .join(join4, on="DIM_MBR_SK", how="left") \
                    .join(join5, on="DIM_MBR_SK", how="left") \
                    .join(join6, on="DIM_MBR_SK", how="left") \
                    .join(join7, on="DIM_MBR_SK", how="left") \
                    .join(join8, on="DIM_MBR_SK", how="left") \
                    .join(join9, on="DIM_MBR_SK", how="left") \
                    .join(join10, on="DIM_MBR_SK", how="left") \
                    .join(join11, on="DIM_MBR_SK", how="left") \
                    .join(join12, on="DIM_MBR_SK", how="left")

In [ ]:
"""
proc sql; create table OPIOIDMEDS AS(
      select A.*,
           sum(OPIMTHMIN3) +  sum( OPIMTHMIN2) + sum( OPIMTHMIN1) + sum(OPIMTHMIN4) +  sum( OPIMTHMIN5) + sum( OPIMTHMIN6) +
sum(OPIMTHMIN7) +  sum( OPIMTHMIN8) + sum( OPIMTHMIN9) + sum(OPIMTHMIN10) +  sum( OPIMTHMIN11) + sum( OPIMTHMIN12) AS OPIOID_COUNT,
           sum(TREATMTHMIN3) +  sum( TREATMTHMIN2) + sum( TREATMTHMIN1) + sum(TREATMTHMIN4) +  sum( TREATMTHMIN5) + sum( TREATMTHMIN6) +
sum(TREATMTHMIN7) +  sum( TREATMTHMIN8) + sum( TREATMTHMIN9) + sum(TREATMTHMIN10) +  sum( TREATMTHMIN11) + sum( TREATMTHMIN12) AS TREATMENT_COUNT,
           sum(STIMMTHMIN3) +  sum( STIMMTHMIN2) + sum( STIMMTHMIN1) + sum(STIMMTHMIN4) +  sum( STIMMTHMIN5) + sum( STIMMTHMIN6) +
sum(STIMMTHMIN7) +  sum( STIMMTHMIN8) + sum( STIMMTHMIN9) + sum(STIMMTHMIN10) +  sum( STIMMTHMIN11) + sum( STIMMTHMIN12) AS STIM_COUNT
      FROM OPIOIDMEDS_1 A
           GROUP BY A.DIM_MBR_SK
,OPIMTHMIN3, OPIMTHMIN2, OPIMTHMIN1, OPIMTHMIN4, OPIMTHMIN5, OPIMTHMIN6,
OPIMTHMIN7, OPIMTHMIN8, OPIMTHMIN9, OPIMTHMIN10, OPIMTHMIN11, OPIMTHMIN12,
TREATMTHMIN3, TREATMTHMIN2, TREATMTHMIN1, TREATMTHMIN4, TREATMTHMIN5, TREATMTHMIN6,
TREATMTHMIN7, TREATMTHMIN8, TREATMTHMIN9, TREATMTHMIN10, TREATMTHMIN11, TREATMTHMIN12,
STIMMTHMIN3, STIMMTHMIN2, STIMMTHMIN1, STIMMTHMIN4, STIMMTHMIN5, STIMMTHMIN6,
STIMMTHMIN7, STIMMTHMIN8, STIMMTHMIN9, STIMMTHMIN10, STIMMTHMIN11, STIMMTHMIN12) ;
quit; 
"""


OPIOIDMEDS = OPIOIDMEDS_1.groupBy("DIM_MBR_SK", "OPIMTHMIN3", "OPIMTHMIN2", "OPIMTHMIN1", "OPIMTHMIN4", "OPIMTHMIN5", "OPIMTHMIN6", "OPIMTHMIN7", "OPIMTHMIN8", "OPIMTHMIN9",
                                   "OPIMTHMIN10", "OPIMTHMIN11", "OPIMTHMIN12", "TREATMTHMIN3", "TREATMTHMIN2", "TREATMTHMIN1", "TREATMTHMIN4", "TREATMTHMIN5", "TREATMTHMIN6",
                                   "TREATMTHMIN7", "TREATMTHMIN8", "TREATMTHMIN9", "TREATMTHMIN10", "TREATMTHMIN11", "TREATMTHMIN12", "STIMMTHMIN3", "STIMMTHMIN2", "STIMMTHMIN1",
                                   "STIMMTHMIN4", "STIMMTHMIN5", "STIMMTHMIN6", "STIMMTHMIN7", "STIMMTHMIN8", "STIMMTHMIN9", "STIMMTHMIN10", "STIMMTHMIN11", "STIMMTHMIN12") \
                         .agg((sum('OPIMTHMIN3') + sum('OPIMTHMIN2') + sum('OPIMTHMIN1') + sum('OPIMTHMIN4') + sum('OPIMTHMIN5') + sum('OPIMTHMIN6') +
                               sum('OPIMTHMIN7') + sum('OPIMTHMIN8') + sum('OPIMTHMIN9') + sum('OPIMTHMIN10') + sum('OPIMTHMIN11') + sum('OPIMTHMIN12')).alias('OPIOID_COUNT'),
                              (sum('TREATMTHMIN3') + sum('TREATMTHMIN2') + sum('TREATMTHMIN1') + sum('TREATMTHMIN4') + sum('TREATMTHMIN5') + sum('TREATMTHMIN6') +
                               sum('TREATMTHMIN7') + sum('TREATMTHMIN8') + sum('TREATMTHMIN9') + sum('TREATMTHMIN10') + sum('TREATMTHMIN11') + sum('TREATMTHMIN12')).alias('TREATMENT_COUNT'),
                              (sum('STIMMTHMIN3') + sum('STIMMTHMIN2') + sum('STIMMTHMIN1') + sum('STIMMTHMIN4') + sum('STIMMTHMIN5') + sum('STIMMTHMIN6') +
                               sum('STIMMTHMIN7') + sum('STIMMTHMIN8') + sum('STIMMTHMIN9') + sum('STIMMTHMIN10') + sum('STIMMTHMIN11') + sum('STIMMTHMIN12')).alias('STIM_COUNT')
                             )

In [ ]:
"""
proc sql; create table POLYOPIOIDa AS(
      select DIM_MBR_SK,
           CASE WHEN OPIMTHMIN3 > 1 THEN 1  ELSE 0      END AS OPIPOLY3,
      CASE WHEN OPIMTHMIN2 > 1 THEN 1  ELSE 0     END AS OPIPOLY2,
CASE WHEN OPIMTHMIN1 > 1 THEN 1  ELSE 0 END AS OPIPOLY1,
           CASE WHEN OPIMTHMIN4 > 1 THEN 1  ELSE 0      END AS OPIPOLY4,
      CASE WHEN OPIMTHMIN5 > 1 THEN 1  ELSE 0     END AS OPIPOLY5,
CASE WHEN OPIMTHMIN6 > 1 THEN 1  ELSE 0 END AS OPIPOLY6,
           CASE WHEN OPIMTHMIN7 > 1 THEN 1  ELSE 0      END AS OPIPOLY7,
      CASE WHEN OPIMTHMIN8 > 1 THEN 1  ELSE 0     END AS OPIPOLY8,
CASE WHEN OPIMTHMIN9 > 1 THEN 1  ELSE 0 END AS OPIPOLY9,
           CASE WHEN OPIMTHMIN10 > 1 THEN 1 ELSE 0      END AS OPIPOLY10,
      CASE WHEN OPIMTHMIN11 > 1 THEN 1 ELSE 0     END AS OPIPOLY11,
CASE WHEN OPIMTHMIN12 > 1 THEN 1 ELSE 0 END AS OPIPOLY12
from OPIOIDMEDS) ; quit;
"""


POLYOPIOIDa = OPIOIDMEDS.select("DIM_MBR_SK", when(col("OPIMTHMIN3") > 1, 1).otherwise(0).alias("OPIPOLY3"),
                                              when(col("OPIMTHMIN2") > 1, 1).otherwise(0).alias("OPIPOLY2"),
                                              when(col("OPIMTHMIN1") > 1, 1).otherwise(0).alias("OPIPOLY1"),
                                              when(col("OPIMTHMIN4") > 1, 1).otherwise(0).alias("OPIPOLY4"),
                                              when(col("OPIMTHMIN5") > 1, 1).otherwise(0).alias("OPIPOLY5"),
                                              when(col("OPIMTHMIN6") > 1, 1).otherwise(0).alias("OPIPOLY6"),
                                              when(col("OPIMTHMIN7") > 1, 1).otherwise(0).alias("OPIPOLY7"),
                                              when(col("OPIMTHMIN8") > 1, 1).otherwise(0).alias("OPIPOLY8"),
                                              when(col("OPIMTHMIN9") > 1, 1).otherwise(0).alias("OPIPOLY9"),
                                              when(col("OPIMTHMIN10") > 1, 1).otherwise(0).alias("OPIPOLY10"),
                                              when(col("OPIMTHMIN11") > 1, 1).otherwise(0).alias("OPIPOLY11"),
                                              when(col("OPIMTHMIN12") > 1, 1).otherwise(0).alias("OPIPOLY12")
                                )

In [ ]:
"""
proc sql; create table POLYOPIOID AS select a.*,
OPIPOLY3 + OPIPOLY2 + OPIPOLY1 + OPIPOLY4 + OPIPOLY5 + OPIPOLY6 + OPIPOLY7 + OPIPOLY8 + OPIPOLY9 + OPIPOLY10 + OPIPOLY12 + OPIPOLY11  AS POLYOPIOID
from POLYOPIOIDa a; quit;
"""

POLYOPIOID = POLYOPIOIDa.withColumn("POLYOPIOID", col("OPIPOLY3") + col("OPIPOLY2") + col("OPIPOLY1") + col("OPIPOLY4") + col("OPIPOLY5") + col("OPIPOLY6") + 
                                                  col("OPIPOLY7") + col("OPIPOLY8") + col("OPIPOLY9") + col("OPIPOLY10") + col("OPIPOLY11") + col("OPIPOLY12")
                                   )

In [ ]:
"""
proc sql; create table POLYTREATa AS(
      select DIM_MBR_SK,
           CASE WHEN TREATMTHMIN3 > 1 THEN 1     ELSE 0     END AS TREATPOLY3,
      CASE WHEN TREATMTHMIN2 > 1 THEN 1 ELSE 0 END AS TREATPOLY2,
CASE WHEN TREATMTHMIN1 > 1 THEN 1     ELSE 0 END AS TREATPOLY1,
           CASE WHEN TREATMTHMIN4 > 1 THEN 1     ELSE 0     END AS TREATPOLY4,
      CASE WHEN TREATMTHMIN5 > 1 THEN 1 ELSE 0 END AS TREATPOLY5,
CASE WHEN TREATMTHMIN6 > 1 THEN 1     ELSE 0 END AS TREATPOLY6,
           CASE WHEN TREATMTHMIN7 > 1 THEN 1     ELSE 0     END AS TREATPOLY7,
      CASE WHEN TREATMTHMIN8 > 1 THEN 1 ELSE 0 END AS TREATPOLY8,
CASE WHEN TREATMTHMIN9 > 1 THEN 1     ELSE 0 END AS TREATPOLY9,
           CASE WHEN TREATMTHMIN10 > 1 THEN 1     ELSE 0     END AS TREATPOLY10,
      CASE WHEN TREATMTHMIN11 > 1 THEN 1 ELSE 0 END AS TREATPOLY11,
CASE WHEN TREATMTHMIN12 > 1 THEN 1     ELSE 0 END AS TREATPOLY12
from OPIOIDMEDS) ; quit;
"""


POLYTREATa = OPIOIDMEDS.select("DIM_MBR_SK",when(col("TREATMTHMIN3") > 1, 1).otherwise(0).alias("TREATPOLY3"),
                                            when(col("TREATMTHMIN2") > 1, 1).otherwise(0).alias("TREATPOLY2"),
                                            when(col("TREATMTHMIN1") > 1, 1).otherwise(0).alias("TREATPOLY1"),
                                            when(col("TREATMTHMIN4") > 1, 1).otherwise(0).alias("TREATPOLY4"),
                                            when(col("TREATMTHMIN5") > 1, 1).otherwise(0).alias("TREATPOLY5"),
                                            when(col("TREATMTHMIN6") > 1, 1).otherwise(0).alias("TREATPOLY6"),
                                            when(col("TREATMTHMIN7") > 1, 1).otherwise(0).alias("TREATPOLY7"),
                                            when(col("TREATMTHMIN8") > 1, 1).otherwise(0).alias("TREATPOLY8"),
                                            when(col("TREATMTHMIN9") > 1, 1).otherwise(0).alias("TREATPOLY9"),
                                            when(col("TREATMTHMIN10") > 1, 1).otherwise(0).alias("TREATPOLY10"),
                                            when(col("TREATMTHMIN11") > 1, 1).otherwise(0).alias("TREATPOLY11"),
                                            when(col("TREATMTHMIN12") > 1, 1).otherwise(0).alias("TREATPOLY12")
                               )

In [ ]:
"""
proc datasets; delete  OPIOIDMEDS_1 OPIMEDMTHMIN1-OPIMEDMTHMIN12; run;
"""

#### delete all the listed tables

In [ ]:
"""
proc sql; create table POLYTREAT AS select a.*,
TREATPOLY3 + TREATPOLY2 + TREATPOLY1 + TREATPOLY4 + TREATPOLY5 + TREATPOLY6  + TREATPOLY7 + TREATPOLY8 + TREATPOLY9  + TREATPOLY10 + TREATPOLY11 + TREATPOLY12  AS POLYTREAT
from POLYTREATa a; quit;
"""

POLYTREAT = POLYTREATa.withColumn("POLYTREAT", col("TREATPOLY3") + col("TREATPOLY2") + col("TREATPOLY1") + col("TREATPOLY4") + col("TREATPOLY5") + col("TREATPOLY6") + 
                                               col("TREATPOLY7") + col("TREATPOLY8") + col("TREATPOLY9") + col("TREATPOLY10") + col("TREATPOLY11") + col("TREATPOLY12")
                                 )

In [ ]:
"""
proc sql; create table OPIOID_EXTRACT AS(
      select
           A.DIM_MBR_SK,
           OPIOID_COUNT,
           TREATMENT_COUNT,
           STIM_COUNT,
           POLYOPIOID,
           POLYTREAT
      from POLYOPIOID A
           inner join POLYTREAT B
                 on A.DIM_MBR_SK = B.DIM_MBR_SK
           inner join OPIOIDMEDS C
                 on A.DIM_MBR_SK = C.DIM_MBR_SK) ; quit;
"""


OPIOID_EXTRACT = POLYOPIOID.join(POLYTREAT, on="DIM_MBR_SK", how="inner") \
                           .join(OPIOIDMEDS, on="DIM_MBR_SK", how="inner") \
                           .select("DIM_MBR_SK", "OPIOID_COUNT", "TREATMENT_COUNT", "STIM_COUNT", "POLYOPIOID", "POLYTREAT")

In [ ]:
"""
proc datasets; delete POLYOPIOID POLYTREAT OPIOIDMEDS POLYTREATA; run;
"""

#### delete all the listed tables

In [ ]:
"""
proc sql; create table DOCMTHMIN1 AS(
      SELECT DISTINCT
           B.DIM_MBR_SK, COUNT(DISTINCT(PRSB_NPI_ID)) AS NUM_OF_MD
      FROM (SELECT distinct      DIM_RX_PDT_SK   FROM TDPRD.SMC_DIM_PDT_RX  WHERE PDT_GEN_ID in (&OPI)
) DIM
                 RIGHT JOIN
                 (select distinct PDT_RX_SK,
                      DIM_MBR_SK,
                      PRSB_NPI_ID,
                      PRSB_ADDR_LN
                 FROM TDPRD.SMC_FACT_PHRM_CLM WHERE PHRM_CLM_STAT_CD IN ('P') AND PRSC_DT BETWEEN &BEG1  AND &END1 ) CLM      
                      ON dim.DIM_RX_PDT_SK = clm.PDT_RX_SK
                 RIGHT JOIN
                 (SELECT * FROM LOCK1) B
                      ON CLM.DIM_MBR_SK = B.DIM_MBR_SK
                 WHERE B.DIM_MBR_SK <> -1
                      GROUP BY B.DIM_MBR_SK) ; quit;
"""

dimt = spark.table("TDPRD.SMC_DIM_PDT_RX") \
            .filter(col("PDT_GEN_ID").isin(OPI)) \
            .select("DIM_RX_PDT_SK") \
            .distinct()

clmt = spark.table("TDPRD.SMC_FACT_PHRM_CLM") \
            .filter(col("PHRM_CLM_STAT_CD").isin('P')) \
            .filter(col("PRSC_DT").between(BEG1, END1)) \
            .select("PDT_RX_SK", "DIM_MBR_SK", "PRSB_NPI_ID", "PRSB_ADDR_LN") \
            .distinct()

jointt = clmt.join(LOCK1, on="DIM_MBR_SK", how="right")


DOCMTHMIN1 = dimt.join(jointt, col("DIM_RX_PDT_SK") == col("PDT_RX_SK"), "right") \
                 .filter(col("DIM_MBR_SK") != -1 ) \
                 .groupBy("DIM_MBR_SK") \
                 .agg(countDistinct("PRSB_NPI_ID").alias("NUM_OF_MD"))

In [ ]:
"""
proc sql; create table DOCMTHMIN2 AS(
      SELECT DISTINCT
           B.DIM_MBR_SK,
           COUNT(DISTINCT(PRSB_NPI_ID)) AS NUM_OF_MD
      FROM
           (SELECT distinct
                 DIM_RX_PDT_SK
           FROM TDPRD.SMC_DIM_PDT_RX
WHERE PDT_GEN_ID in (&OPI)
) DIM
                 RIGHT JOIN
                 (select distinct PDT_RX_SK,
                      DIM_MBR_SK,
                      PRSB_NPI_ID,
                      PRSB_ADDR_LN
                 FROM TDPRD.SMC_FACT_PHRM_CLM WHERE PHRM_CLM_STAT_CD IN ('P') AND PRSC_DT BETWEEN &BEG2  AND &END2) CLM       
                      ON dim.DIM_RX_PDT_SK = clm.PDT_RX_SK
                 RIGHT JOIN
                 (SELECT * FROM LOCK1) B
                      ON CLM.DIM_MBR_SK = B.DIM_MBR_SK
                 WHERE B.DIM_MBR_SK <> -1
                      GROUP BY B.DIM_MBR_SK) ; quit;
"""


clmt1 = spark.table("TDPRD.SMC_FACT_PHRM_CLM") \
             .filter(col("PHRM_CLM_STAT_CD").isin('P')) \
             .filter(col("PRSC_DT").between(BEG2, END2)) \
             .select("PDT_RX_SK", "DIM_MBR_SK", "PRSB_NPI_ID", "PRSB_ADDR_LN") \
             .distinct()

jointt1 = clmt1.join(LOCK1, on="DIM_MBR_SK", how="right")


DOCMTHMIN2 = dimt.join(jointt1, col("DIM_RX_PDT_SK") == col("PDT_RX_SK"), "right") \
                 .filter(col("DIM_MBR_SK") != -1 ) \
                 .groupBy("DIM_MBR_SK") \
                 .agg(countDistinct("PRSB_NPI_ID").alias("NUM_OF_MD"))

In [ ]:
"""
proc sql; create table DOCMTHMIN3 AS(
      SELECT DISTINCT
           B.DIM_MBR_SK,
           COUNT(DISTINCT(PRSB_NPI_ID)) AS NUM_OF_MD
      FROM
           (SELECT distinct
                 DIM_RX_PDT_SK
           FROM TDPRD.SMC_DIM_PDT_RX
WHERE PDT_GEN_ID in (&OPI)
) DIM
                 RIGHT JOIN
                 (select distinct PDT_RX_SK,
                      DIM_MBR_SK,
                      PRSB_NPI_ID,
                      PRSB_ADDR_LN
                 FROM TDPRD.SMC_FACT_PHRM_CLM WHERE PHRM_CLM_STAT_CD IN ('P') AND PRSC_DT BETWEEN &BEG3  AND &END3) CLM       
                      ON dim.DIM_RX_PDT_SK = clm.PDT_RX_SK
                 RIGHT JOIN
                 (SELECT * FROM LOCK1) B
                      ON CLM.DIM_MBR_SK = B.DIM_MBR_SK
                 WHERE B.DIM_MBR_SK <> -1
                      GROUP BY B.DIM_MBR_SK) ; quit;
"""


clmt2 = spark.table("TDPRD.SMC_FACT_PHRM_CLM") \
             .filter(col("PHRM_CLM_STAT_CD").isin('P')) \
             .filter(col("PRSC_DT").between(BEG3, END3)) \
             .select("PDT_RX_SK", "DIM_MBR_SK", "PRSB_NPI_ID", "PRSB_ADDR_LN") \
             .distinct()

jointt2 = clmt2.join(LOCK1, on="DIM_MBR_SK", how="right")


DOCMTHMIN3 = dimt.join(jointt2, col("DIM_RX_PDT_SK") == col("PDT_RX_SK"), "right") \
                 .filter(col("DIM_MBR_SK") != -1 ) \
                 .groupBy("DIM_MBR_SK") \
                 .agg(countDistinct("PRSB_NPI_ID").alias("NUM_OF_MD"))

In [ ]:
"""
proc sql; create table DOCMTHMIN4 AS(
      SELECT DISTINCT
           B.DIM_MBR_SK,
           COUNT(DISTINCT(PRSB_NPI_ID)) AS NUM_OF_MD
      FROM
           (SELECT distinct
                 DIM_RX_PDT_SK
           FROM TDPRD.SMC_DIM_PDT_RX
WHERE PDT_GEN_ID in (&OPI)
) DIM
                 RIGHT JOIN
                 (select distinct PDT_RX_SK,
                      DIM_MBR_SK,
                      PRSB_NPI_ID,
                      PRSB_ADDR_LN
                 FROM TDPRD.SMC_FACT_PHRM_CLM WHERE PHRM_CLM_STAT_CD IN ('P') AND PRSC_DT BETWEEN &BEG4  AND &END4) CLM       
                      ON dim.DIM_RX_PDT_SK = clm.PDT_RX_SK
                 RIGHT JOIN
                 (SELECT * FROM LOCK1) B
                      ON CLM.DIM_MBR_SK = B.DIM_MBR_SK
                 WHERE B.DIM_MBR_SK <> -1
                      GROUP BY B.DIM_MBR_SK) ; quit;
"""


clmt3 = spark.table("TDPRD.SMC_FACT_PHRM_CLM") \
             .filter(col("PHRM_CLM_STAT_CD").isin('P')) \
             .filter(col("PRSC_DT").between(BEG4, END4)) \
             .select("PDT_RX_SK", "DIM_MBR_SK", "PRSB_NPI_ID", "PRSB_ADDR_LN") \
             .distinct()

jointt3 = clmt3.join(LOCK1, on="DIM_MBR_SK", how="right")


DOCMTHMIN4 = dimt.join(jointt3, col("DIM_RX_PDT_SK") == col("PDT_RX_SK"), "right") \
                 .filter(col("DIM_MBR_SK") != -1 ) \
                 .groupBy("DIM_MBR_SK") \
                 .agg(countDistinct("PRSB_NPI_ID").alias("NUM_OF_MD"))

In [ ]:
"""
proc sql; create table DOCMTHMIN5 AS(
      SELECT DISTINCT
           B.DIM_MBR_SK,
           COUNT(DISTINCT(PRSB_NPI_ID)) AS NUM_OF_MD
      FROM
           (SELECT distinct
                 DIM_RX_PDT_SK
           FROM TDPRD.SMC_DIM_PDT_RX
WHERE PDT_GEN_ID in (&OPI)
) DIM
                 RIGHT JOIN
                 (select distinct PDT_RX_SK,
                      DIM_MBR_SK,
                      PRSB_NPI_ID,
                      PRSB_ADDR_LN
                 FROM TDPRD.SMC_FACT_PHRM_CLM WHERE PHRM_CLM_STAT_CD IN ('P') AND PRSC_DT BETWEEN &BEG5  AND &END5) CLM       
                      ON dim.DIM_RX_PDT_SK = clm.PDT_RX_SK
                 RIGHT JOIN
                 (SELECT * FROM LOCK1) B
                      ON CLM.DIM_MBR_SK = B.DIM_MBR_SK
                 WHERE B.DIM_MBR_SK <> -1
                      GROUP BY B.DIM_MBR_SK) ; quit;
"""


clmt4 = spark.table("TDPRD.SMC_FACT_PHRM_CLM") \
             .filter(col("PHRM_CLM_STAT_CD").isin('P')) \
             .filter(col("PRSC_DT").between(BEG5, END5)) \
             .select("PDT_RX_SK", "DIM_MBR_SK", "PRSB_NPI_ID", "PRSB_ADDR_LN") \
             .distinct()

jointt4 = clmt4.join(LOCK1, on="DIM_MBR_SK", how="right")


DOCMTHMIN5 = dimt.join(jointt4, col("DIM_RX_PDT_SK") == col("PDT_RX_SK"), "right") \
                 .filter(col("DIM_MBR_SK") != -1 ) \
                 .groupBy("DIM_MBR_SK") \
                 .agg(countDistinct("PRSB_NPI_ID").alias("NUM_OF_MD"))

In [ ]:
"""
proc sql; create table DOCMTHMIN6 AS(
      SELECT DISTINCT
           B.DIM_MBR_SK,
           COUNT(DISTINCT(PRSB_NPI_ID)) AS NUM_OF_MD
      FROM
           (SELECT distinct
                 DIM_RX_PDT_SK
           FROM TDPRD.SMC_DIM_PDT_RX
WHERE PDT_GEN_ID in (&OPI)
) DIM
                 RIGHT JOIN
                 (select distinct PDT_RX_SK,
                      DIM_MBR_SK,
                      PRSB_NPI_ID,
                      PRSB_ADDR_LN
                 FROM TDPRD.SMC_FACT_PHRM_CLM WHERE PHRM_CLM_STAT_CD IN ('P') AND PRSC_DT BETWEEN &BEG6  AND &END6) CLM       
                      ON dim.DIM_RX_PDT_SK = clm.PDT_RX_SK
                 RIGHT JOIN
                 (SELECT * FROM LOCK1) B
                      ON CLM.DIM_MBR_SK = B.DIM_MBR_SK
                 WHERE B.DIM_MBR_SK <> -1
                      GROUP BY B.DIM_MBR_SK) ; quit;
"""


clmt5 = spark.table("TDPRD.SMC_FACT_PHRM_CLM") \
             .filter(col("PHRM_CLM_STAT_CD").isin('P')) \
             .filter(col("PRSC_DT").between(BEG6, END6)) \
             .select("PDT_RX_SK", "DIM_MBR_SK", "PRSB_NPI_ID", "PRSB_ADDR_LN") \
             .distinct()

jointt5 = clmt5.join(LOCK1, on="DIM_MBR_SK", how="right")


DOCMTHMIN6 = dimt.join(jointt5, col("DIM_RX_PDT_SK") == col("PDT_RX_SK"), "right") \
                 .filter(col("DIM_MBR_SK") != -1 ) \
                 .groupBy("DIM_MBR_SK") \
                 .agg(countDistinct("PRSB_NPI_ID").alias("NUM_OF_MD")) \

In [ ]:
"""
proc sql; create table DOCMTHMIN7 AS(
      SELECT DISTINCT
           B.DIM_MBR_SK,
           COUNT(DISTINCT(PRSB_NPI_ID)) AS NUM_OF_MD
      FROM
           (SELECT distinct
                 DIM_RX_PDT_SK
           FROM TDPRD.SMC_DIM_PDT_RX
WHERE PDT_GEN_ID in (&OPI)
) DIM
                 RIGHT JOIN
                 (select distinct PDT_RX_SK,
                      DIM_MBR_SK,
                      PRSB_NPI_ID,
                      PRSB_ADDR_LN
                 FROM TDPRD.SMC_FACT_PHRM_CLM WHERE PHRM_CLM_STAT_CD IN ('P') AND PRSC_DT BETWEEN &BEG7  AND &END7) CLM       
                      ON dim.DIM_RX_PDT_SK = clm.PDT_RX_SK
                 RIGHT JOIN
                 (SELECT * FROM LOCK1) B
                      ON CLM.DIM_MBR_SK = B.DIM_MBR_SK
                 WHERE B.DIM_MBR_SK <> -1
                      GROUP BY B.DIM_MBR_SK) ; quit;
"""


clmt6 = spark.table("TDPRD.SMC_FACT_PHRM_CLM") \
             .filter(col("PHRM_CLM_STAT_CD").isin('P')) \
             .filter(col("PRSC_DT").between(BEG7, END7)) \
             .select("PDT_RX_SK", "DIM_MBR_SK", "PRSB_NPI_ID", "PRSB_ADDR_LN") \
             .distinct()

jointt6 = clmt6.join(LOCK1, on="DIM_MBR_SK", how="right")


DOCMTHMIN7 = dimt.join(jointt6, col("DIM_RX_PDT_SK") == col("PDT_RX_SK"), "right") \
                 .filter(col("DIM_MBR_SK") != -1 ) \
                 .groupBy("DIM_MBR_SK") \
                 .agg(countDistinct("PRSB_NPI_ID").alias("NUM_OF_MD"))

In [ ]:
"""
proc sql; create table DOCMTHMIN8 AS(
      SELECT DISTINCT
           B.DIM_MBR_SK,
           COUNT(DISTINCT(PRSB_NPI_ID)) AS NUM_OF_MD
      FROM
           (SELECT distinct
                 DIM_RX_PDT_SK
           FROM TDPRD.SMC_DIM_PDT_RX
WHERE PDT_GEN_ID in (&OPI)
) DIM
                 RIGHT JOIN
                 (select distinct PDT_RX_SK,
                      DIM_MBR_SK,
                      PRSB_NPI_ID,
                      PRSB_ADDR_LN
                 FROM TDPRD.SMC_FACT_PHRM_CLM WHERE PHRM_CLM_STAT_CD IN ('P') AND PRSC_DT BETWEEN &BEG8  AND &END8) CLM       
                      ON dim.DIM_RX_PDT_SK = clm.PDT_RX_SK
                 RIGHT JOIN
                 (SELECT * FROM LOCK1) B
                      ON CLM.DIM_MBR_SK = B.DIM_MBR_SK
                 WHERE B.DIM_MBR_SK <> -1
                      GROUP BY B.DIM_MBR_SK) ; quit;
"""


clmt7 = spark.table("TDPRD.SMC_FACT_PHRM_CLM") \
             .filter(col("PHRM_CLM_STAT_CD").isin('P')) \
             .filter(col("PRSC_DT").between(BEG8, END8)) \
             .select("PDT_RX_SK", "DIM_MBR_SK", "PRSB_NPI_ID", "PRSB_ADDR_LN") \
             .distinct()

jointt7 = clmt7.join(LOCK1, on="DIM_MBR_SK", how="right")


DOCMTHMIN8 = dimt.join(jointt7, col("DIM_RX_PDT_SK") == col("PDT_RX_SK"), "right") \
                 .filter(col("DIM_MBR_SK") != -1 ) \
                 .groupBy("DIM_MBR_SK") \
                 .agg(countDistinct("PRSB_NPI_ID").alias("NUM_OF_MD")) \
                 .select("DIM_MBR_SK", "NUM_OF_MD")
                #.distinct()

In [ ]:
"""
proc sql; create table DOCMTHMIN9 AS(
      SELECT DISTINCT
           B.DIM_MBR_SK,
           COUNT(DISTINCT(PRSB_NPI_ID)) AS NUM_OF_MD
      FROM
           (SELECT distinct
                 DIM_RX_PDT_SK
           FROM TDPRD.SMC_DIM_PDT_RX
WHERE PDT_GEN_ID in (&OPI)
) DIM
                 RIGHT JOIN
                 (select distinct PDT_RX_SK,
                      DIM_MBR_SK,
                      PRSB_NPI_ID,
                      PRSB_ADDR_LN
                 FROM TDPRD.SMC_FACT_PHRM_CLM WHERE PHRM_CLM_STAT_CD IN ('P') AND PRSC_DT BETWEEN &BEG9  AND &END9) CLM       
                      ON dim.DIM_RX_PDT_SK = clm.PDT_RX_SK
                 RIGHT JOIN
                 (SELECT * FROM LOCK1) B
                      ON CLM.DIM_MBR_SK = B.DIM_MBR_SK
                 WHERE B.DIM_MBR_SK <> -1
                      GROUP BY B.DIM_MBR_SK) ; quit;
"""


clmt8 = spark.table("TDPRD.SMC_FACT_PHRM_CLM").filter(col("PHRM_CLM_STAT_CD").isin('P')) \
                                              .filter(col("PRSC_DT").between(BEG9, END9)) \
                                              .select("PDT_RX_SK", "DIM_MBR_SK", "PRSB_NPI_ID", "PRSB_ADDR_LN") \
                                              .distinct()

jointt8 = clmt8.join(lock1, on="DIM_MBR_SK", how="right")


DOCMTHMIN9 = dimt.join(jointt8, dimt.DIM_RX_PDT_SK == jointt8.PDT_RX_SK, "right") \
                 .filter(col("DIM_MBR_SK") != -1 ) \
                 .groupBy("DIM_MBR_SK") \
                 .agg(countDistinct("PRSB_NPI_ID").alias("NUM_OF_MD")) \
                 .select("DIM_MBR_SK", "NUM_OF_MD")
                #.distinct()

In [ ]:
"""
proc sql; create table DOCMTHMIN10 AS(
      SELECT DISTINCT
           B.DIM_MBR_SK,
           COUNT(DISTINCT(PRSB_NPI_ID)) AS NUM_OF_MD
      FROM
           (SELECT distinct
                 DIM_RX_PDT_SK
           FROM TDPRD.SMC_DIM_PDT_RX
WHERE PDT_GEN_ID in (&OPI)
) DIM
                 RIGHT JOIN
                 (select distinct PDT_RX_SK,
                      DIM_MBR_SK,
                      PRSB_NPI_ID,
                      PRSB_ADDR_LN
                 FROM TDPRD.SMC_FACT_PHRM_CLM WHERE PHRM_CLM_STAT_CD IN ('P') AND PRSC_DT BETWEEN &BEG10  AND &END10) CLM       
                      ON dim.DIM_RX_PDT_SK = clm.PDT_RX_SK
                 RIGHT JOIN
                 (SELECT * FROM LOCK1) B
                      ON CLM.DIM_MBR_SK = B.DIM_MBR_SK
                 WHERE B.DIM_MBR_SK <> -1
                      GROUP BY B.DIM_MBR_SK) ; quit;
"""


clmt9 = spark.table("TDPRD.SMC_FACT_PHRM_CLM").filter(col("PHRM_CLM_STAT_CD").isin('P')) \
                                              .filter(col("PRSC_DT").between(BEG10, END10)) \
                                              .select("PDT_RX_SK", "DIM_MBR_SK", "PRSB_NPI_ID", "PRSB_ADDR_LN") \
                                              .distinct()

jointt9 = clmt9.join(lock1, on="DIM_MBR_SK", how="right")


DOCMTHMIN10 = dimt.join(jointt9, dimt.DIM_RX_PDT_SK == jointt9.PDT_RX_SK, "right") \
                 .filter(col("DIM_MBR_SK") != -1 ) \
                 .groupBy("DIM_MBR_SK") \
                 .agg(countDistinct("PRSB_NPI_ID").alias("NUM_OF_MD")) \
                 .select("DIM_MBR_SK", "NUM_OF_MD")
                #.distinct()

In [ ]:
"""
proc sql; create table DOCMTHMIN11 AS(
      SELECT DISTINCT
           B.DIM_MBR_SK,
           COUNT(DISTINCT(PRSB_NPI_ID)) AS NUM_OF_MD
      FROM
           (SELECT distinct
                 DIM_RX_PDT_SK
           FROM TDPRD.SMC_DIM_PDT_RX
WHERE PDT_GEN_ID in (&OPI)
) DIM
                 RIGHT JOIN
                 (select distinct PDT_RX_SK,
                      DIM_MBR_SK,
                      PRSB_NPI_ID,
                      PRSB_ADDR_LN
                 FROM TDPRD.SMC_FACT_PHRM_CLM WHERE PHRM_CLM_STAT_CD IN ('P') AND PRSC_DT BETWEEN &BEG11  AND &END11) CLM       
                      ON dim.DIM_RX_PDT_SK = clm.PDT_RX_SK
                 RIGHT JOIN
                 (SELECT * FROM LOCK1) B
                      ON CLM.DIM_MBR_SK = B.DIM_MBR_SK
                 WHERE B.DIM_MBR_SK <> -1
                      GROUP BY B.DIM_MBR_SK) ; quit;
"""


clmt10 = spark.table("TDPRD.SMC_FACT_PHRM_CLM").filter(col("PHRM_CLM_STAT_CD").isin('P')) \
                                              .filter(col("PRSC_DT").between(BEG11, END11)) \
                                              .select("PDT_RX_SK", "DIM_MBR_SK", "PRSB_NPI_ID", "PRSB_ADDR_LN") \
                                              .distinct()

jointt10 = clmt10.join(lock1, on="DIM_MBR_SK", how="right")


DOCMTHMIN11 = dimt.join(jointt10, dimt.DIM_RX_PDT_SK == jointt10.PDT_RX_SK, "right") \
                 .filter(col("DIM_MBR_SK") != -1 ) \
                 .groupBy("DIM_MBR_SK") \
                 .agg(countDistinct("PRSB_NPI_ID").alias("NUM_OF_MD")) \
                 .select("DIM_MBR_SK", "NUM_OF_MD")
                #.distinct()

In [ ]:
"""
proc sql; create table DOCMTHMIN12 AS(
      SELECT DISTINCT
           B.DIM_MBR_SK,
           COUNT(DISTINCT(PRSB_NPI_ID)) AS NUM_OF_MD
      FROM
           (SELECT distinct
                 DIM_RX_PDT_SK
           FROM TDPRD.SMC_DIM_PDT_RX
WHERE PDT_GEN_ID in (&OPI)
) DIM
                 RIGHT JOIN
                 (select distinct PDT_RX_SK,
                      DIM_MBR_SK,
                      PRSB_NPI_ID,
                      PRSB_ADDR_LN
                 FROM TDPRD.SMC_FACT_PHRM_CLM WHERE PHRM_CLM_STAT_CD IN ('P') AND PRSC_DT BETWEEN &BEG12  AND &END12) CLM       
                      ON dim.DIM_RX_PDT_SK = clm.PDT_RX_SK
                 RIGHT JOIN
                 (SELECT * FROM LOCK1) B
                      ON CLM.DIM_MBR_SK = B.DIM_MBR_SK
                 WHERE B.DIM_MBR_SK <> -1
                      GROUP BY B.DIM_MBR_SK) ; quit;
"""


clmt11 = spark.table("TDPRD.SMC_FACT_PHRM_CLM").filter(col("PHRM_CLM_STAT_CD").isin('P')) \
                                              .filter(col("PRSC_DT").between(BEG12, END12)) \
                                              .select("PDT_RX_SK", "DIM_MBR_SK", "PRSB_NPI_ID", "PRSB_ADDR_LN") \
                                              .distinct()

jointt11 = clmt11.join(lock1, on="DIM_MBR_SK", how="right")


DOCMTHMIN12 = dimt.join(jointt11, dimt.DIM_RX_PDT_SK == jointt11.PDT_RX_SK, "right") \
                 .filter(col("DIM_MBR_SK") != -1 ) \
                 .groupBy("DIM_MBR_SK") \
                 .agg(countDistinct("PRSB_NPI_ID").alias("NUM_OF_MD")) \
                 .select("DIM_MBR_SK", "NUM_OF_MD")
                #.distinct()

In [ ]:
"""
proc sql; create table DOCCOUNTa AS(
      select A.DIM_MBR_SK,
           A.NUM_OF_MD AS MTHMIN3,
           B.NUM_OF_MD AS MTHMIN2,
           C.NUM_OF_MD AS MTHMIN1,
           D.NUM_OF_MD AS MTHMIN4,
           E.NUM_OF_MD AS MTHMIN5,
           F.NUM_OF_MD AS MTHMIN6,
           G.NUM_OF_MD AS MTHMIN7,
           H.NUM_OF_MD AS MTHMIN8,
           I.NUM_OF_MD AS MTHMIN9,
           J.NUM_OF_MD AS MTHMIN10,
           K.NUM_OF_MD AS MTHMIN11,
           L.NUM_OF_MD AS MTHMIN12
      FROM DOCMTHMIN3 A
           LEFT JOIN DOCMTHMIN2 B
                 ON A.DIM_MBR_SK = B.DIM_MBR_SK
           LEFT JOIN DOCMTHMIN1 C
                 ON A.DIM_MBR_SK = C.DIM_MBR_SK
           LEFT JOIN DOCMTHMIN4 D
                 ON A.DIM_MBR_SK = D.DIM_MBR_SK
           LEFT JOIN DOCMTHMIN5 E
                 ON A.DIM_MBR_SK = E.DIM_MBR_SK
           LEFT JOIN DOCMTHMIN6 F
                 ON A.DIM_MBR_SK = F.DIM_MBR_SK
           LEFT JOIN DOCMTHMIN7 G
                 ON A.DIM_MBR_SK = G.DIM_MBR_SK
           LEFT JOIN DOCMTHMIN8 H
                 ON A.DIM_MBR_SK = H.DIM_MBR_SK
           LEFT JOIN DOCMTHMIN9 I
                 ON A.DIM_MBR_SK = I.DIM_MBR_SK
           LEFT JOIN DOCMTHMIN10 J
                 ON A.DIM_MBR_SK = J.DIM_MBR_SK
           LEFT JOIN DOCMTHMIN11 K
                 ON A.DIM_MBR_SK = K.DIM_MBR_SK
           LEFT JOIN DOCMTHMIN12 L
                 ON A.DIM_MBR_SK = L.DIM_MBR_SK
) ; quit;
"""


joint3 = DOCMTHMIN3.select("DIM_MBR_SK", col("NUM_OF_MD").alias("MTHMIN3"))
joint2 = DOCMTHMIN2.select("DIM_MBR_SK", col("NUM_OF_MD").alias("MTHMIN2"))
joint1 = DOCMTHMIN1.select("DIM_MBR_SK", col("NUM_OF_MD").alias("MTHMIN1"))
joint4 = DOCMTHMIN4.select("DIM_MBR_SK", col("NUM_OF_MD").alias("MTHMIN4"))
joint5 = DOCMTHMIN5.select("DIM_MBR_SK", col("NUM_OF_MD").alias("MTHMIN5"))
joint6 = DOCMTHMIN6.select("DIM_MBR_SK", col("NUM_OF_MD").alias("MTHMIN6"))
joint7 = DOCMTHMIN7.select("DIM_MBR_SK", col("NUM_OF_MD").alias("MTHMIN7"))
joint8 = DOCMTHMIN8.select("DIM_MBR_SK", col("NUM_OF_MD").alias("MTHMIN8"))
joint9 = DOCMTHMIN9.select("DIM_MBR_SK", col("NUM_OF_MD").alias("MTHMIN9"))
joint10 = DOCMTHMIN10.select("DIM_MBR_SK", col("NUM_OF_MD").alias("MTHMIN10"))
joint11 = DOCMTHMIN11.select("DIM_MBR_SK", col("NUM_OF_MD").alias("MTHMIN11"))
joint12 = DOCMTHMIN12.select("DIM_MBR_SK", col("NUM_OF_MD").alias("MTHMIN12"))

DOCCOUNTa = joint3.join(joint2, on="DIM_MBR_SK", how="left") \
                    .join(joint1, on="DIM_MBR_SK", how="left") \
                    .join(joint4, on="DIM_MBR_SK", how="left") \
                    .join(joint5, on="DIM_MBR_SK", how="left") \
                    .join(joint6, on="DIM_MBR_SK", how="left") \
                    .join(joint7, on="DIM_MBR_SK", how="left") \
                    .join(joint8, on="DIM_MBR_SK", how="left") \
                    .join(joint9, on="DIM_MBR_SK", how="left") \
                    .join(joint10, on="DIM_MBR_SK", how="left") \
                    .join(joint11, on="DIM_MBR_SK", how="left") \
                    .join(joint12, on="DIM_MBR_SK", how="left")

In [ ]:
"""
proc sql; create table DOCCOUNT as select a.*,
                            MTHMIN3 + MTHMIN2 + MTHMIN1 + MTHMIN4 + MTHMIN5 + MTHMIN6 + MTHMIN7 + MTHMIN8 + MTHMIN9 + MTHMIN10 + MTHMIN11 + MTHMIN12
AS DOC_SUM
                            from DOCCOUNTa a; quit;
"""


DOCCOUNT = DOCCOUNTa.agg(sum(DOCCOUNTa.columns[1:]).alias("DOC_SUM"))              #### <---------------------------- TEST THIS PART ------------------------------>

#DOCCOUNT = DOCCOUNTa.agg(sum(DOCCOUNTa[col] for col in DOCCOUNTa.columns[1:]).alias("DOC_SUM"))
#
#DOCCOUNT = DOCCOUNTa.agg(sum("MTHMIN3") + sum("MTHMIN2") + sum("MTHMIN1") + sum("MTHMIN4") + sum("MTHMIN5") + sum("MTHMIN6") + 
#                             sum("MTHMIN7") + sum("MTHMIN8") + sum("MTHMIN9") + sum("MTHMIN10") + sum("MTHMIN11") + sum("MTHMIN12").alias("DOC_SUM")
#                            )

In [ ]:
"""
proc sql; create table POLYDOCCOUNTa AS(
      select DIM_MBR_SK,                                                                             #### There are a few typing error in the sas code
           CASE WHEN MTHMIN3 > 1 THEN 1     ELSE 0      END AS MONTHMIN3,
      CASE WHEN MTHMIN2 > 1 THEN 1     ELSE 0 END AS MONTHMIN2,
CASE WHEN MTHMIN2 > 1 THEN 1 ELSE 0 END AS MONTHMIN1,
           CASE WHEN MTHMIN4 > 1 THEN 1           ELSE 0          END AS MONTHMIN4,
      CASE WHEN MTHMIN5 > 1      THEN 1           ELSE 0 END AS MONTHMIN5,
CASE WHEN MTHMIN6 > 1 THEN 1           ELSE 0 END AS MONTHMIN6,
CASE WHEN MTHMIN7 > 1 THEN 1     ELSE 0           END AS MONTHMIN7,
      CASE WHEN MTHMIN8 > 1 THEN 1     ELSE 0     END AS MONTHMIN8,
CASE WHEN MTHMIN9 > 1 THEN 1     ELSE 0 END AS MONTHMIN9,
           CASE WHEN MTHMIN3 > 1 THEN 1     ELSE 0      END AS MONTHMIN10,
      CASE WHEN MTHMIN2 > 1 THEN 1     ELSE 0     END AS MONTHMIN11,
CASE WHEN MTHMIN2 > 1 THEN 1     ELSE 0 END AS MONTHMIN12
from DOCCOUNT) ; quit;
"""



POLYDOCCOUNTa = DOCCOUNT.select("DIM_MBR_SK", when(col("MTHMIN3") > 1, 1).otherwise(0).alias("MONTHMIN3"),
                                              when(col("MTHMIN2") > 1, 1).otherwise(0).alias("MONTHMIN2"),
                                              when(col("MTHMIN1") > 1, 1).otherwise(0).alias("MONTHMIN1"),
                                              when(col("MTHMIN4") > 1, 1).otherwise(0).alias("MONTHMIN4"),
                                              when(col("MTHMIN5") > 1, 1).otherwise(0).alias("MONTHMIN5"),
                                              when(col("MTHMIN6") > 1, 1).otherwise(0).alias("MONTHMIN6"),
                                              when(col("MTHMIN7") > 1, 1).otherwise(0).alias("MONTHMIN7"),
                                              when(col("MTHMIN8") > 1, 1).otherwise(0).alias("MONTHMIN8"),
                                              when(col("MTHMIN9") > 1, 1).otherwise(0).alias("MONTHMIN9"),
                                              when(col("MTHMIN10") > 1, 1).otherwise(0).alias("MONTHMIN10"),
                                              when(col("MTHMIN11") > 1, 1).otherwise(0).alias("MONTHMIN11"),
                                              when(col("MTHMIN12") > 1, 1).otherwise(0).alias("MONTHMIN12")
                                )

In [ ]:
"""
proc sql; create table POLYDOCCOUNT as select a.*,
                            MONTHMIN3 + MONTHMIN2 + MONTHMIN1 +
MONTHMIN4 + MONTHMIN5 + MONTHMIN6 +
MONTHMIN7 + MONTHMIN8 + MONTHMIN9 +
MONTHMIN10 + MONTHMIN12 + MONTHMIN11 AS POLY_DOC_COUNT
                            from POLYDOCCOUNTa a; quit;
"""

## Check group aggregate 

POLYDOCCOUNT = POLYDOCCOUNTa.agg(sum(POLYDOCCOUNTa.columns[1:]).alias("POLY_DOC_COUNT"))

#POLYDOCCOUNT = POLYDOCCOUNTa.agg(sum(POLYDOCCOUNTa[col] for col in POLYDOCCOUNTa.columns[1:]).alias("POLY_DOC_COUNT"))
#
#POLYDOCCOUNT = POLYDOCCOUNTa.agg(sum("MONTHMIN3") + sum("MONTHMIN2") + sum("MONTHMIN1") + sum("MONTHMIN4") + sum("MONTHMIN5") + sum("MONTHMIN6") + 
#                             sum("MONTHMIN7") + sum("MONTHMIN8") + sum("MONTHMIN9") + sum("MONTHMIN10") + sum("MONTHMIN11") + sum("MONTHMIN12").alias("POLY_DOC_COUNT")
#                            )

In [ ]:
"""
proc sql; create table DOC_EXTRACT AS(
      select A.DIM_MBR_SK,
           DOC_SUM,
           POLY_DOC_COUNT
      from DOCCOUNT A
           inner join POLYDOCCOUNT B
                 on a.dim_mbr_sk = b.dim_mbr_sk) ; quit;
"""


DOC_EXTRACT = DOCCOUNT.join(POLYDOCCOUNT, on="DIM_MBR_SK", how="inner") \
                      .select("DOCCOUNT.DIM_MBR_SK", "DOC_SUM", "POLY_DOC_COUNT")

In [ ]:
"""
proc datasets; delete DOCCOUNT POLYDOCCOUNT DOCMTHMIN1-DOCMTHMIN12; run;
"""
#### delete all the listed tables

In [ ]:
"""
proc sql; create table LOCK2 AS(
      SELECT DISTINCT O.DIM_MBR_SK,
           AGE,
           PAT_SEX_CD,
           count(DX_OPI) AS OPIOID_DIAGNOSIS,
           count(PROC_OPI) AS OPIOID_PROCEDURE,
           count(INTESTINAL_INFECTIOUS) AS INTESTINAL_INFECTIOUS,
           count(TB) AS TB,
           count(ZOONOTIC) AS ZOONOTIC,
           count(OTHER_BACTERIAL) AS OTHER_BACTERIAL,
           count(STI) AS STI,
           count(RICKETTS_CHLAMY) AS RICKETTS_CHLAMY,
           count(VIRAL_CNS) AS VIRAL_CNS,
           count(VIRAL_SKIN) AS VIRAL_SKIN,
           count(HEP_HERPES) AS HEP_HERPES,
           count(HIV) AS HIV,
           count(OTHER_VIRAL) AS OTHER_VIRAL,
           count(OTHER_INFECTIOUS) AS OTHER_INFECTIOUS,
           count(NEOPLASMS) AS CANCER,
           count(ENDOCRINE) AS ENDOCRINE,
           count(DIABETES) AS DIABETES,
           count(MENTAL_DISORDERS) AS MENTAL_DISORDERS,
           count(PSYCHOACTIVE_DISORDERS) AS PSYCHOACTIVE_DISORDERS,
           count(SCHIZO_DISORDERS) AS SCHIZO_DISORDERS,
           count(MOOD_DISORDERS) AS MOOD_DISORDERS,
           count(ANXIETY_DISORDERS) AS ANXIETY_DISORDERS,
           count(PHYMEN_DISORDERS) AS PHYMEN_DISORDERS,
           count(PERSONALITY_DISORDERS) AS PERSONALITY_DISORDERS,
           count(INTELLECTUAL_DISORDERS) AS INTELLECTUAL_DISORDERS,
           count(DEVELOP_DISORDERS) AS DEVELOP_DISORDERS,
           count(EMOTIONAL_DISORDERS) AS EMOTIONAL_DISORDERS,
           count(NERVOUS_DISORDERS) AS NERVOUS_DIS,
           count(URINARY) AS URINARY,
           count(ARTHRITIS) AS ARTHRITIS,
           count(JOINTS) AS JOINTS,
           count(CONNECTIVE_TISSUE) AS CONNECTIVE_TISSUE,
           count(DORSOPATHIES) AS DORSOPATHIES,
           count(SOFTTISSUE) AS SOFTTISSUE,
           count(OSTEOPOROSIS) AS OSTEOPOROSIS,
           count(OSTEOARTIFICIAL) AS OSTEOARTIFICIAL,
           count(ORAL) AS ORAL,
           count(DIGESTIVE_TOP) AS DIGESTIVE_TOP,
           count(HERNIA) AS HERNIA,
           count(INTESTINES) AS INTESTINES,
           count(LIVER) AS LIVER,
           count(DIGENDO) AS DIGENDO,
           count(DIGOTHER) AS DIGOTHER,
           count(AB_LAB) AS ABNORMAL_LAB_DX,
           count(INJURY) AS INJURY,
           count(POISONINGS_BURNS) AS POISONINGS_BURNS,
           count(REHAB) AS REHAB,
           count(DRUG_ADMIN) AS DRUG_ADMIN
      FROM (
           SELECT DIM_MBR_SK, 
                 DGN_CD_1,
                 DGN_CD_2,
                 DGN_CD_3,
                 DGN_CD_4,
           CASE WHEN DGN_CD_1 LIKE '%F11%'
                 THEN 1
                      WHEN DGN_CD_2 LIKE '%F11%'
                      THEN 1
                 WHEN DGN_CD_3 LIKE '%F11%'
                 THEN 1
           WHEN DGN_CD_4 LIKE '%F11%'
           THEN 1
           END AS DX_OPI,
      CASE WHEN DGN_CD_1 LIKE '%A0%'
           THEN 1
                 WHEN DGN_CD_2 LIKE '%A0%'
                 THEN 1
           WHEN DGN_CD_3 LIKE '%A0%'
           THEN 1
      WHEN DGN_CD_4 LIKE '%A0%'
      THEN 1
      END AS INTESTINAL_INFECTIOUS,
CASE WHEN DGN_CD_1 LIKE '%A1%'
      THEN 1
           WHEN DGN_CD_2 LIKE '%A1%'
           THEN 1
      WHEN DGN_CD_3 LIKE '%A1%'
      THEN 1
WHEN DGN_CD_4 LIKE '%A1%'
THEN 1
END AS TB,
CASE WHEN DGN_CD_1 LIKE '%A2%'
THEN 1
      WHEN DGN_CD_2 LIKE '%A2%'
      THEN 1
WHEN DGN_CD_3 LIKE '%A2%'
THEN 1
WHEN DGN_CD_4 LIKE '%A2%'
THEN 1
END AS ZOONOTIC,
CASE WHEN DGN_CD_1 LIKE '%A3%' OR  DGN_CD_1 LIKE '%A4%'
THEN 1
WHEN DGN_CD_2 LIKE '%A3%' OR  DGN_CD_2 LIKE '%A4%'
THEN 1
WHEN DGN_CD_3 LIKE '%A3%' OR  DGN_CD_3 LIKE '%A4%'
THEN 1
WHEN DGN_CD_4 LIKE '%A3%' OR  DGN_CD_4 LIKE '%A4%'
THEN 1
END AS OTHER_BACTERIAL,
CASE WHEN DGN_CD_1 LIKE '%A5%' OR  DGN_CD_1 LIKE '%A6%'
THEN 1
WHEN DGN_CD_2 LIKE '%A5%' OR  DGN_CD_2 LIKE '%A6%'
THEN 1
WHEN DGN_CD_3 LIKE '%A5%' OR  DGN_CD_3 LIKE '%A6%'
THEN 1
WHEN DGN_CD_4 LIKE '%A5%' OR  DGN_CD_4 LIKE '%A6%'
THEN 1
END AS STI,
CASE WHEN DGN_CD_1 LIKE '%A7%'
THEN 1
WHEN DGN_CD_2 LIKE '%A7%'
THEN 1
WHEN DGN_CD_3 LIKE '%A7%'
THEN 1
WHEN DGN_CD_4 LIKE '%A7%'
THEN 1
END AS RICKETTS_CHLAMY,
CASE WHEN DGN_CD_1 LIKE '%A8%'
THEN 1
WHEN DGN_CD_2 LIKE '%A8%'
THEN 1
WHEN DGN_CD_3 LIKE '%A8%'
THEN 1
WHEN DGN_CD_4 LIKE '%A8%'
THEN 1
END AS VIRAL_CNS,
CASE WHEN DGN_CD_1 LIKE '%B0%'
THEN 1
WHEN DGN_CD_2 LIKE '%B0%'
THEN 1
WHEN DGN_CD_3 LIKE '%B0%'
THEN 1
WHEN DGN_CD_4 LIKE '%B0%'
THEN 1
END AS VIRAL_SKIN,
CASE WHEN DGN_CD_1 LIKE '%B1%'
THEN 1
WHEN DGN_CD_2 LIKE '%B1%'
THEN 1
WHEN DGN_CD_3 LIKE '%B1%' 
THEN 1
WHEN DGN_CD_4 LIKE '%B1%'
THEN 1
END AS HEP_HERPES,
CASE WHEN DGN_CD_1 LIKE '%B20%'
THEN 1
WHEN DGN_CD_2 LIKE '%B20%'
THEN 1
WHEN DGN_CD_3 LIKE '%B20%'
THEN 1
WHEN DGN_CD_4 LIKE '%B20%'
THEN 1
END AS HIV,
CASE WHEN DGN_CD_1 LIKE '%B25%' OR  DGN_CD_1 LIKE '%B33%' OR  DGN_CD_1 LIKE '%B34%'
THEN 1
WHEN DGN_CD_2 LIKE '%B25%' OR  DGN_CD_2 LIKE '%B33%' OR  DGN_CD_2 LIKE '%B34%'
THEN 1
WHEN DGN_CD_3 LIKE '%B25%' OR  DGN_CD_3 LIKE '%B33%' OR  DGN_CD_3 LIKE '%B34%'
THEN 1
WHEN DGN_CD_4 LIKE '%B25%' OR  DGN_CD_4 LIKE '%B33%' OR  DGN_CD_4 LIKE '%B34%'
THEN 1
END AS OTHER_VIRAL,
CASE WHEN DGN_CD_1 LIKE '%B9%'
THEN 1
WHEN DGN_CD_2 LIKE '%B9%'
THEN 1
WHEN DGN_CD_3 LIKE '%B9%'
THEN 1
WHEN DGN_CD_4 LIKE '%B9%'
THEN 1
END AS OTHER_INFECTIOUS,
CASE WHEN DGN_CD_1 LIKE '%C%' OR  DGN_CD_1 LIKE '%D1%' OR  DGN_CD_1 LIKE '%D2%' OR  DGN_CD_1 LIKE '%D3%' OR  DGN_CD_1 LIKE '%D4%'
THEN 1
WHEN DGN_CD_2 LIKE '%C%' OR  DGN_CD_2 LIKE '%D1%' OR  DGN_CD_2 LIKE '%D2%' OR  DGN_CD_2 LIKE '%D3%' OR  DGN_CD_2 LIKE '%D4%'
THEN 1
WHEN DGN_CD_3 LIKE '%C%' OR  DGN_CD_3 LIKE '%D1%' OR  DGN_CD_3 LIKE '%D2%' OR  DGN_CD_3 LIKE '%D3%' OR  DGN_CD_3 LIKE '%D4%'
THEN 1
WHEN DGN_CD_4 LIKE '%C%' OR  DGN_CD_4 LIKE '%D1%' OR  DGN_CD_4 LIKE '%D2%' OR  DGN_CD_4 LIKE '%D3%' OR  DGN_CD_4 LIKE '%D4%'
THEN 1
END AS NEOPLASMS,
CASE WHEN DGN_CD_1 LIKE '%D5%' OR  DGN_CD_1 LIKE '%D6%' OR  DGN_CD_1 LIKE '%D7%' OR  DGN_CD_1 LIKE '%D8%'
THEN 1
WHEN  DGN_CD_2 LIKE '%D5%' OR  DGN_CD_2 LIKE '%D6%' OR  DGN_CD_2 LIKE '%D7%' OR  DGN_CD_2 LIKE '%D8%'
THEN 1
WHEN   DGN_CD_3 LIKE '%D5%' OR  DGN_CD_3 LIKE '%D6%' OR  DGN_CD_3 LIKE '%D7%' OR  DGN_CD_3 LIKE '%D8%'
THEN 1
WHEN  DGN_CD_4 LIKE '%D5%' OR  DGN_CD_4 LIKE '%D6%' OR  DGN_CD_4 LIKE '%D7%' OR  DGN_CD_4 LIKE '%D8%'
THEN 1
END AS BLOOD_DISORDERS,
CASE WHEN DGN_CD_1 LIKE '%E0%'
THEN 1
WHEN  DGN_CD_2 LIKE '%E0%'
THEN 1
WHEN   DGN_CD_3 LIKE '%E0%'
THEN 1
WHEN  DGN_CD_4 LIKE '%E0%'
THEN 1
END AS ENDOCRINE,    
CASE WHEN DGN_CD_1 LIKE '%E1%' AND DGN_CD_1 <> 'E15' AND DGN_CD_1 <> 'E16'
THEN 1
WHEN  DGN_CD_2 LIKE '%E1%' AND DGN_CD_2 <> 'E15' AND DGN_CD_2 <> 'E16'
THEN 1
WHEN   DGN_CD_3 LIKE '%E1%' AND DGN_CD_3 <> 'E15' AND DGN_CD_3 <> 'E16'
THEN 1
WHEN  DGN_CD_4 LIKE '%E1%' AND DGN_CD_4 <> 'E15' AND  DGN_CD_4 <> 'E16'
THEN 1
END AS DIABETES,
CASE WHEN DGN_CD_1 LIKE '%F0%'
THEN 1
WHEN  DGN_CD_2 LIKE '%F0%'
THEN 1
WHEN   DGN_CD_3 LIKE '%F0%'
THEN 1
WHEN  DGN_CD_4 LIKE '%F0%'
THEN 1
END AS MENTAL_DISORDERS,  
CASE WHEN DGN_CD_1 LIKE '%F1%' AND DGN_CD_1 NOT LIKE '%F11%'
THEN 1
WHEN  DGN_CD_2 LIKE '%F1%' AND DGN_CD_2 NOT LIKE '%F11%'
THEN 1
WHEN   DGN_CD_3 LIKE '%F1%' AND DGN_CD_3 NOT LIKE '%F11%'
THEN 1
WHEN  DGN_CD_4 LIKE '%F1%' AND DGN_CD_4 NOT LIKE '%F11%'
THEN 1
END AS PSYCHOACTIVE_DISORDERS,  
CASE WHEN DGN_CD_1 LIKE '%F2%'
THEN 1
WHEN  DGN_CD_2 LIKE '%F2%'
THEN 1
WHEN   DGN_CD_3 LIKE '%F2%'
THEN 1
WHEN  DGN_CD_4 LIKE '%F2%'
THEN 1
END AS SCHIZO_DISORDERS,  
CASE WHEN DGN_CD_1 LIKE '%F3%'
THEN 1
WHEN  DGN_CD_2 LIKE '%F3%'
THEN 1
WHEN   DGN_CD_3 LIKE '%F3%'
THEN 1
WHEN  DGN_CD_4 LIKE '%F3%'
THEN 1
END AS MOOD_DISORDERS,    
CASE WHEN DGN_CD_1 LIKE '%F4%'
THEN 1
WHEN  DGN_CD_2 LIKE '%F4%'
THEN 1
WHEN   DGN_CD_3 LIKE '%F4%'
THEN 1
WHEN  DGN_CD_4 LIKE '%F4%'
THEN 1
END AS ANXIETY_DISORDERS,       
CASE WHEN DGN_CD_1 LIKE '%F5%'
THEN 1
WHEN  DGN_CD_2 LIKE '%F5%'
THEN 1
WHEN   DGN_CD_3 LIKE '%F5%'
THEN 1
WHEN  DGN_CD_4 LIKE '%F5%'
THEN 1
END AS PHYMEN_DISORDERS,        
CASE WHEN DGN_CD_1 LIKE '%F6%'
THEN 1
WHEN  DGN_CD_2 LIKE '%F6%'
THEN 1
WHEN   DGN_CD_3 LIKE '%F6%'
THEN 1
WHEN  DGN_CD_4 LIKE '%F6%'
THEN 1
END AS PERSONALITY_DISORDERS,        
CASE WHEN DGN_CD_1 LIKE '%F7%'
THEN 1
WHEN  DGN_CD_2 LIKE '%F7%'
THEN 1
WHEN   DGN_CD_3 LIKE '%F7%'
THEN 1
WHEN  DGN_CD_4 LIKE '%F7%'
THEN 1
END AS INTELLECTUAL_DISORDERS,
CASE WHEN DGN_CD_1 LIKE '%F8%'
THEN 1
WHEN  DGN_CD_2 LIKE '%F8%'
THEN 1
WHEN   DGN_CD_3 LIKE '%F8%'
THEN 1
WHEN  DGN_CD_4 LIKE '%F8%'
THEN 1
END AS DEVELOP_DISORDERS, 
CASE WHEN DGN_CD_1 LIKE '%F9%'
THEN 1
WHEN  DGN_CD_2 LIKE '%F9%'
THEN 1
WHEN   DGN_CD_3 LIKE '%F9%'
THEN 1
WHEN  DGN_CD_4 LIKE '%F9%'
THEN 1
END AS EMOTIONAL_DISORDERS,
CASE WHEN DGN_CD_1 LIKE '%G%'
THEN 1
WHEN  DGN_CD_2 LIKE '%G%'
THEN 1
WHEN   DGN_CD_3 LIKE '%G%'
THEN 1
WHEN  DGN_CD_4 LIKE '%G%'
THEN 1
END AS NERVOUS_DISORDERS, 
CASE WHEN DGN_CD_1 LIKE '%H%'
THEN 1
WHEN  DGN_CD_2 LIKE '%H%'
THEN 1
WHEN   DGN_CD_3 LIKE '%H%'
THEN 1
WHEN  DGN_CD_4 LIKE '%H%'
THEN 1
END AS EYE_AND_EAR,  
CASE WHEN DGN_CD_1 LIKE '%I%'
THEN 1
WHEN  DGN_CD_2 LIKE '%I%'
THEN 1
WHEN   DGN_CD_3 LIKE '%I%'
THEN 1
WHEN  DGN_CD_4 LIKE '%I%'
THEN 1
END AS CIRCULATORY,
CASE WHEN DGN_CD_1 LIKE '%J%'
THEN 1
WHEN  DGN_CD_2 LIKE '%J%'
THEN 1
WHEN   DGN_CD_3 LIKE '%J%'
THEN 1
WHEN  DGN_CD_4 LIKE '%J%'
THEN 1
END AS RESPIRATORY,
CASE WHEN DGN_CD_1 LIKE '%K1%'
THEN 1
WHEN  DGN_CD_2 LIKE '%K1%'
THEN 1
WHEN   DGN_CD_3 LIKE '%K1%'
THEN 1
WHEN  DGN_CD_4 LIKE '%K1%'
THEN 1
END AS ORAL,
CASE WHEN DGN_CD_1 LIKE '%K3%' OR  DGN_CD_1 LIKE '%K2%'
THEN 1
WHEN  DGN_CD_2 LIKE '%K3%' OR  DGN_CD_2 LIKE '%K2%'
THEN 1
WHEN   DGN_CD_3 LIKE '%K3%' OR  DGN_CD_3 LIKE '%K2%'
THEN 1
WHEN  DGN_CD_4 LIKE '%K3%' OR  DGN_CD_4 LIKE '%K2%'
THEN 1
END AS DIGESTIVE_TOP,
CASE WHEN DGN_CD_1 LIKE '%K4%'
THEN 1
WHEN  DGN_CD_2 LIKE '%K4%'
THEN 1
WHEN   DGN_CD_3 LIKE '%K4%'
THEN 1
WHEN  DGN_CD_4 LIKE '%K4%'
THEN 1
END AS HERNIA,
CASE WHEN DGN_CD_1 LIKE '%K5%' OR  DGN_CD_1 LIKE '%K6%'
THEN 1
WHEN  DGN_CD_2 LIKE '%K5%' OR  DGN_CD_1 LIKE '%K6%'
THEN 1
WHEN   DGN_CD_3 LIKE '%K5%' OR  DGN_CD_1 LIKE '%K6%'
THEN 1
WHEN  DGN_CD_4 LIKE '%K5%' OR  DGN_CD_1 LIKE '%K6%'
THEN 1
END AS INTESTINES,
CASE WHEN DGN_CD_1 LIKE '%K7%'
THEN 1
WHEN  DGN_CD_2 LIKE '%K7%'
THEN 1
WHEN   DGN_CD_3 LIKE '%K7%'
THEN 1
WHEN  DGN_CD_4 LIKE '%K7%'
THEN 1
END AS LIVER,
CASE WHEN DGN_CD_1 LIKE '%K8%'
THEN 1
WHEN  DGN_CD_2 LIKE '%K8%'
THEN 1
WHEN   DGN_CD_3 LIKE '%K8%'
THEN 1
WHEN  DGN_CD_4 LIKE '%K8%'
THEN 1
END AS DIGENDO,
CASE WHEN DGN_CD_1 LIKE '%K9%'
THEN 1
WHEN  DGN_CD_2 LIKE '%K9%'
THEN 1
WHEN   DGN_CD_3 LIKE '%K9%'
THEN 1
WHEN  DGN_CD_4 LIKE '%K9%'
THEN 1
END AS DIGOTHER,
CASE WHEN DGN_CD_1 LIKE '%L%'
THEN 1
WHEN  DGN_CD_2 LIKE '%L%'
THEN 1
WHEN   DGN_CD_3 LIKE '%L%'
THEN 1
WHEN  DGN_CD_4 LIKE '%L%'
THEN 1
END AS SKIN,
CASE WHEN DGN_CD_1 LIKE '%M0%' OR  DGN_CD_1 LIKE '%M1%'
THEN 1
WHEN  DGN_CD_2 LIKE '%M0%' OR  DGN_CD_2 LIKE '%M1%'
THEN 1
WHEN   DGN_CD_3 LIKE '%M0%' OR  DGN_CD_3 LIKE '%M1%'
THEN 1
WHEN  DGN_CD_4 LIKE '%M0%' OR  DGN_CD_4 LIKE '%M1%'
THEN 1
END AS ARTHRITIS,
CASE WHEN DGN_CD_1 LIKE '%M2%'
THEN 1
WHEN  DGN_CD_2 LIKE '%M2%'
THEN 1
WHEN   DGN_CD_3 LIKE '%M2%'
THEN 1
WHEN  DGN_CD_4 LIKE '%M2%'
THEN 1
END AS JOINTS,
CASE WHEN DGN_CD_1 LIKE '%M3%'
THEN 1
WHEN  DGN_CD_2 LIKE '%M3%'
THEN 1
WHEN   DGN_CD_3 LIKE '%M3%'
THEN 1
WHEN  DGN_CD_4 LIKE '%M3%'
THEN 1
END AS CONNECTIVE_TISSUE,
CASE WHEN DGN_CD_1 LIKE '%M4%' OR  DGN_CD_1 LIKE '%M5%'
THEN 1
WHEN  DGN_CD_2 LIKE '%M4%' OR  DGN_CD_2 LIKE '%M5%'
THEN 1
WHEN   DGN_CD_3 LIKE '%M4%' OR  DGN_CD_3 LIKE '%M5%'
THEN 1
WHEN  DGN_CD_4 LIKE '%M4%' OR  DGN_CD_4 LIKE '%M5%'
THEN 1
END AS DORSOPATHIES,
CASE WHEN DGN_CD_1 LIKE '%M6%' OR  DGN_CD_1 LIKE '%M7%'
THEN 1
WHEN  DGN_CD_2 LIKE '%M6%' OR  DGN_CD_2 LIKE '%M7%'
THEN 1
WHEN   DGN_CD_3 LIKE '%M6%' OR  DGN_CD_3 LIKE '%M7%'
THEN 1
WHEN  DGN_CD_4 LIKE '%M6%' OR  DGN_CD_4 LIKE '%M7%'
THEN 1
END AS SOFTTISSUE,
CASE WHEN DGN_CD_1 LIKE '%M8%'
THEN 1
WHEN  DGN_CD_2 LIKE '%M8%'
THEN 1
WHEN   DGN_CD_3 LIKE '%M8%'
THEN 1
WHEN  DGN_CD_4 LIKE '%M8%'
THEN 1
END AS OSTEOPOROSIS,
CASE WHEN DGN_CD_1 LIKE '%M9%'
THEN 1
WHEN  DGN_CD_2 LIKE '%M9%'
THEN 1
WHEN   DGN_CD_3 LIKE '%M9%'
THEN 1
WHEN  DGN_CD_4 LIKE '%M9%'
THEN 1
END AS OSTEOARTIFICIAL,
CASE WHEN DGN_CD_1 LIKE '%N%'
THEN 1
WHEN  DGN_CD_2 LIKE '%N%'
THEN 1
WHEN   DGN_CD_3 LIKE '%N%'
THEN 1
WHEN  DGN_CD_4 LIKE '%N%'
THEN 1
END AS URINARY,
CASE WHEN DGN_CD_1 LIKE '%Q%'
THEN 1
WHEN  DGN_CD_2 LIKE '%Q%'
THEN 1
WHEN   DGN_CD_3 LIKE '%Q%'
THEN 1
WHEN  DGN_CD_4 LIKE '%Q%'
THEN 1
END AS GENETIC,
CASE WHEN DGN_CD_1 LIKE '%R%'
THEN 1
WHEN  DGN_CD_2 LIKE '%R%'
THEN 1
WHEN   DGN_CD_3 LIKE '%R%'
THEN 1
WHEN  DGN_CD_4 LIKE '%R%'
THEN 1
END AS AB_LAB,
CASE WHEN DGN_CD_1 LIKE '%S%'
THEN 1
WHEN DGN_CD_2 LIKE '%S%'
THEN 1
WHEN DGN_CD_3 LIKE '%S%'
THEN 1
WHEN DGN_CD_4 LIKE '%S%'
THEN 1
END AS INJURY,
CASE WHEN DGN_CD_1 LIKE '%T%'
THEN 1
WHEN DGN_CD_2 LIKE '%T%'
THEN 1
WHEN DGN_CD_3 LIKE '%T%'
THEN 1
WHEN DGN_CD_4 LIKE '%T%'
THEN 1
END AS POISONINGS_BURNS,
CASE WHEN CLM_LN_PROC_CD  LIKE 'J%' AND CLM_LN_PROC_CD <> 'J0570' AND CLM_LN_PROC_CD <> 'J2315'
THEN 1
END AS DRUG_ADMIN,
CASE WHEN CLM_LN_PROC_CD  LIKE 'H%' AND CLM_LN_PROC_CD <> 'H0020'
THEN 1
END AS REHAB,                         
CASE WHEN CLM_LN_PROC_CD  = 'J0570'
THEN 1
WHEN CLM_LN_PROC_CD  = 'J2315'
THEN 1
WHEN CLM_LN_PROC_CD = 'H0020'
THEN 1                          
END AS PROC_OPI
FROM TDPRD.SMC_FACT_HLTHCR_CLM_DTL WHERE CLM_LN_SERV_STRT_DT GE &END6 )dtl                                   ##### this line of code does not seem correct as
                                                                                                             #####in filter what is being used is not very clear
RIGHT JOIN
(SELECT * FROM LOCK1) O
ON O.DIM_MBR_SK = dtl.DIM_MBR_SK
WHERE O.DIM_MBR_SK <> -1
GROUP BY  O.DIM_MBR_SK,
O.AGE,
O.PAT_SEX_CD) ; quit;
"""






dtl = spark.table("TDPRD.SMC_FACT_HLTHCR_CLM_DTL").filter(col("CLM_LN_SERV_STRT_DT GE") == END6) \
           .select("DIM_MBR_SK", "DGN_CD_1", "DGN_CD_2", "DGN_CD_3", "DGN_CD_4",
                   when(col('DGN_CD_1').like('%F11%') | col('DGN_CD_2').like('%F11%') | col('DGN_CD_3').like('%F11%') | col('DGN_CD_4').like('%F11%'), 1).otherwise(None).alias('DX_OPI'),
                   when(col('DGN_CD_1').like('%A0%') | col('DGN_CD_2').like('%A0%') | col('DGN_CD_3').like('%A0%') | col('DGN_CD_4').like('%A0%'), 1).otherwise(None).alias('INTESTINAL_INFECTIOUS'),
                   when(col('DGN_CD_1').like('%A1%') | col('DGN_CD_2').like('%A1%') | col('DGN_CD_3').like('%A1%') | col('DGN_CD_4').like('%A1%'), 1).otherwise(None).alias('TB'),
                   when(col('DGN_CD_1').like('%A2%') | col('DGN_CD_2').like('%A2%') | col('DGN_CD_3').like('%A2%') | col('DGN_CD_4').like('%A2%'), 1).otherwise(None).alias('ZOONOTIC'),
                   when(col('DGN_CD_1').like('%A3%') | col('DGN_CD_1').like('%A4%') | col('DGN_CD_2').like('%A3%') | col('DGN_CD_2').like('%A4%') | col('DGN_CD_3').like('%A3%') 
                   | col('DGN_CD_3').like('%A4%') | col('DGN_CD_4').like('%A3%') | col('DGN_CD_4').like('%A4%'), 1).otherwise(None).alias('OTHER_BACTERIAL'),
                   when(col('DGN_CD_1').like('%A5%') | col('DGN_CD_1').like('%A6%') | col('DGN_CD_2').like('%A5%') | col('DGN_CD_2').like('%A6%') | col('DGN_CD_3').like('%A5%') 
                   | col('DGN_CD_3').like('%A6%') | col('DGN_CD_4').like('%A5%') | col('DGN_CD_4').like('%A6%'), 1).otherwise(None).alias('STI'),
                   when(col('DGN_CD_1').like('%A7%') | col('DGN_CD_2').like('%A7%') | col('DGN_CD_3').like('%A7%') | col('DGN_CD_4').like('%A7%'), 1).otherwise(None).alias('RICKETTS_CHLAMY'),
                   when(col('DGN_CD_1').like('%A8%') | col('DGN_CD_2').like('%A8%') | col('DGN_CD_3').like('%A8%') | col('DGN_CD_4').like('%A8%'), 1).otherwise(None).alias('VIRAL_CNS'),
                   when(col('DGN_CD_1').like('%B0%') | col('DGN_CD_2').like('%B0%') | col('DGN_CD_3').like('%B0%') | col('DGN_CD_4').like('%B0%'), 1).otherwise(None).alias('VIRAL_SKIN'),
                   when(col('DGN_CD_1').like('%B1%') | col('DGN_CD_2').like('%B1%') | col('DGN_CD_3').like('%B1%') | col('DGN_CD_4').like('%B1%'), 1).otherwise(None).alias('HEP_HERPES'),
                   when(col('DGN_CD_1').like('%B20%') | col('DGN_CD_2').like('%B20%') | col('DGN_CD_3').like('%B20%') | col('DGN_CD_4').like('%B20%'), 1).otherwise(None).alias('HIV'),
                   when(col('DGN_CD_1').like('%B25%') | col('DGN_CD_1').like('%B33%') | col('DGN_CD_1').like('%B34%') | col('DGN_CD_2').like('%B25%') | col('DGN_CD_2').like('%B33%') 
                   | col('DGN_CD_2').like('%B34%') | col('DGN_CD_3').like('%B25%') | col('DGN_CD_3').like('%B33%') | col('DGN_CD_3').like('%B34%') | col('DGN_CD_4').like('%B25%') 
                   | col('DGN_CD_4').like('%B33%') | col('DGN_CD_4').like('%B34%'), 1).otherwise(None).alias('OTHER_VIRAL'),
                   when(col('DGN_CD_1').like('%B9%') | col('DGN_CD_2').like('%B9%') | col('DGN_CD_3').like('%B9%') | col('DGN_CD_4').like('%B9%'), 1).otherwise(None).alias('OTHER_INFECTIOUS'),
                   when(col('DGN_CD_1').like('%C%') | col('DGN_CD_1').like('%D1%') | col('DGN_CD_1').like('%D2%') | col('DGN_CD_1').like('%D3%') | col('DGN_CD_1').like('%D4%')
                   | col('DGN_CD_2').like('%C%') | col('DGN_CD_2').like('%D1%') | col('DGN_CD_2').like('%D2%') | col('DGN_CD_2').like('%D3%') | col('DGN_CD_2').like('%D4%')
                   | col('DGN_CD_3').like('%C%') | col('DGN_CD_3').like('%D1%') | col('DGN_CD_3').like('%D2%') | col('DGN_CD_3').like('%D3%') | col('DGN_CD_3').like('%D4%')
                   | col('DGN_CD_4').like('%C%') | col('DGN_CD_4').like('%D1%') | col('DGN_CD_4').like('%D3%') | col('DGN_CD_4').like('%D3%') 
                   | col('DGN_CD_4').like('%D4%'), 1).otherwise(None).alias("NEOPLASMS"),
                   when(col('DGN_CD_1').like('%D5%') | col('DGN_CD_1').like('%D6%') | col('DGN_CD_1').like('%D7%') | col('DGN_CD_1').like('%D8%')
                   | col('DGN_CD_2').like('%D5%') | col('DGN_CD_2').like('%D6%') | col('DGN_CD_2').like('%D7%') | col('DGN_CD_2').like('%D8%')
                   | col('DGN_CD_3').like('%D5%') | col('DGN_CD_3').like('%D6%') | col('DGN_CD_3').like('%D7%') | col('DGN_CD_3').like('%D8%')
                   | col('DGN_CD_4').like('%D5%') | col('DGN_CD_4').like('%D6%') | col('DGN_CD_4').like('%D7%') 
                   | col('DGN_CD_4').like('%D8%'), 1).otherwise(None).alias("BLOOD_DISORDERS"),
                   when(col('DGN_CD_1').like('%E0%') | col('DGN_CD_2').like('%E0%') | col('DGN_CD_3').like('%E0%') | col('DGN_CD_4').like('%E0%'), 1).otherwise(None).alias('ENDOCRINE'),
                   when(col('DGN_CD_1').like('%E1%') & (col('DGN_CD_1') != 'E15') & (col('DGN_CD_1') != 'E16')
                   | col('DGN_CD_2').like('%E1%') & (col('DGN_CD_2') != 'E15') & (col('DGN_CD_2') != 'E16')
                   | col('DGN_CD_3').like('%E1%') & (col('DGN_CD_3') != 'E15') & (col('DGN_CD_3') != 'E16')
                   | col('DGN_CD_4').like('%E1%') & (col('DGN_CD_4') != 'E15') & (col('DGN_CD_4') != 'E16'), 1).otherwise(None).alias('DIABETES'),
                   when(col('DGN_CD_1').like('%F0%') | col('DGN_CD_2').like('%F0%') | col('DGN_CD_3').like('%F0%') | col('DGN_CD_4').like('%F0%'), 1).otherwise(None).alias('MENTAL_DISORDERS'),
                   when(col('DGN_CD_1').like('%F1%') & ~col('DGN_CD_1').like('%F11%')
                   | col('DGN_CD_2').like('%F1%') & ~col('DGN_CD_2').like('%F11%')
                   | col('DGN_CD_3').like('%F1%') & ~col('DGN_CD_3').like('%F11%')
                   | col('DGN_CD_4').like('%F1%') & ~col('DGN_CD_4').like('%F11%'), 1).otherwise(None).alias('PSYCHOACTIVE_DISORDERS'),
                   when(col('DGN_CD_1').like('%F2%') | col('DGN_CD_2').like('%F2%') | col('DGN_CD_3').like('%F2%') | col('DGN_CD_4').like('%F2%'), 1).otherwise(None).alias('SCHIZO_DISORDERS'),
                   when(col('DGN_CD_1').like('%F3%') | col('DGN_CD_2').like('%F3%') | col('DGN_CD_3').like('%F3%') | col('DGN_CD_4').like('%F3%'), 1).otherwise(None).alias('MOOD_DISORDERS'),
                   when(col('DGN_CD_1').like('%F4%') | col('DGN_CD_2').like('%F4%') | col('DGN_CD_3').like('%F4%') | col('DGN_CD_4').like('%F4%'), 1).otherwise(None).alias('ANXIETY_DISORDERS'),
                   when(col('DGN_CD_1').like('%F5%') | col('DGN_CD_2').like('%F5%') | col('DGN_CD_3').like('%F5%') | col('DGN_CD_4').like('%F5%'), 1).otherwise(None).alias('PHYMEN_DISORDERS'),
                   when(col('DGN_CD_1').like('%F6%') | col('DGN_CD_2').like('%F6%') | col('DGN_CD_3').like('%F6%') | col('DGN_CD_4').like('%F6%'), 1).otherwise(None).alias('PERSONALITY_DISORDERS'),
                   when(col('DGN_CD_1').like('%F7%') | col('DGN_CD_2').like('%F7%') | col('DGN_CD_3').like('%F7%') | col('DGN_CD_4').like('%F7%'), 1).otherwise(None).alias('INTELLECTUAL_DISORDERS'),
                   when(col('DGN_CD_1').like('%F8%') | col('DGN_CD_2').like('%F8%') | col('DGN_CD_3').like('%F8%') | col('DGN_CD_4').like('%F8%'), 1).otherwise(None).alias('DEVELOP_DISORDERS'),
                   when(col('DGN_CD_1').like('%F9%') | col('DGN_CD_2').like('%F9%') | col('DGN_CD_3').like('%F9%') | col('DGN_CD_4').like('%F9%'), 1).otherwise(None).alias('EMOTIONAL_DISORDERS'),
                   when(col('DGN_CD_1').like('%G%') | col('DGN_CD_2').like('%G%') | col('DGN_CD_3').like('%G%') | col('DGN_CD_4').like('%G%'), 1).otherwise(None).alias('NERVOUS_DISORDERS'),
                   when(col('DGN_CD_1').like('%H%') | col('DGN_CD_2').like('%H%') | col('DGN_CD_3').like('%H%') | col('DGN_CD_4').like('%H%'), 1).otherwise(None).alias('EYE_AND_EAR'),
                   when(col('DGN_CD_1').like('%I%') | col('DGN_CD_2').like('%I%') | col('DGN_CD_3').like('%I%') | col('DGN_CD_4').like('%I%'), 1).otherwise(None).alias('CIRCULATORY'),
                   when(col('DGN_CD_1').like('%J%') | col('DGN_CD_2').like('%J%') | col('DGN_CD_3').like('%J%') | col('DGN_CD_4').like('%J%'), 1).otherwise(None).alias('RESPIRATORY'),
                   when(col('DGN_CD_1').like('%K1%') | col('DGN_CD_2').like('%K1%') | col('DGN_CD_3').like('%K1%') | col('DGN_CD_4').like('%K1%'), 1).otherwise(None).alias('ORAL'),
                   when(col('DGN_CD_1').like('%K3%') | col('DGN_CD_1').like('%K2%') | col('DGN_CD_2').like('%K3%')
                   | col('DGN_CD_2').like('%K2%') |col('DGN_CD_3').like('%K3%') | col('DGN_CD_3').like('%K2%')
                   | col('DGN_CD_4').like('%K3%') | col('DGN_CD_4').like('%K2%'), 1).otherwise(None).alias('DIGESTIVE_TOP'),
                   when(col('DGN_CD_1').like('%K4%') | col('DGN_CD_2').like('%K4%') | col('DGN_CD_3').like('%K4%') | col('DGN_CD_4').like('%K4%'), 1).otherwise(None).alias('HERNIA'),
                   when(col('DGN_CD_1').like('%K5%') | col('DGN_CD_1').like('%K6%') | col('DGN_CD_2').like('%K5%')
                   | col('DGN_CD_2').like('%K6%') |col('DGN_CD_3').like('%K5%') | col('DGN_CD_3').like('%K6%')
                   | col('DGN_CD_4').like('%K5%') | col('DGN_CD_4').like('%K6%'), 1).otherwise(None).alias('INTESTINES'),
                   when(col('DGN_CD_1').like('%K7%') | col('DGN_CD_2').like('%K7%') | col('DGN_CD_3').like('%K7%') | col('DGN_CD_4').like('%K7%'), 1).otherwise(None).alias('LIVER'),
                   when(col('DGN_CD_1').like('%K8%') | col('DGN_CD_2').like('%K8%') | col('DGN_CD_3').like('%K8%') | col('DGN_CD_4').like('%K8%'), 1).otherwise(None).alias('DIGENDO'),
                   when(col('DGN_CD_1').like('%K9%') | col('DGN_CD_2').like('%K9%') | col('DGN_CD_3').like('%K9%') | col('DGN_CD_4').like('%K9%'), 1).otherwise(None).alias('DIGOTHER'),
                   when(col('DGN_CD_1').like('%L%') | col('DGN_CD_2').like('%L%') | col('DGN_CD_3').like('%L%') | col('DGN_CD_4').like('%L%'), 1).otherwise(None).alias('SKIN'),
                   when(col('DGN_CD_1').like('%M0%') | col('DGN_CD_1').like('%M1%') | col('DGN_CD_2').like('%M0%')
                   | col('DGN_CD_2').like('%M1%') |col('DGN_CD_3').like('%M0%') | col('DGN_CD_3').like('%M1%')
                   | col('DGN_CD_4').like('%M0%') | col('DGN_CD_4').like('%M1%'), 1).otherwise(None).alias('ARTHRITIS'),
                   when(col('DGN_CD_1').like('%M2%') | col('DGN_CD_2').like('%M2%') | col('DGN_CD_3').like('%M2%') | col('DGN_CD_4').like('%M2%'), 1).otherwise(None).alias('JOINTS'),
                   when(col('DGN_CD_1').like('%M3%') | col('DGN_CD_2').like('%M3%') | col('DGN_CD_3').like('%M3%') | col('DGN_CD_4').like('%M3%'), 1).otherwise(None).alias('CONNECTIVE_TISSUE'),
                   when(col('DGN_CD_1').like('%M4%') | col('DGN_CD_1').like('%M5%') | col('DGN_CD_2').like('%M4%')
                   | col('DGN_CD_2').like('%M5%') |col('DGN_CD_3').like('%M4%') | col('DGN_CD_3').like('%M5%')
                   | col('DGN_CD_4').like('%M4%') | col('DGN_CD_4').like('%M5%'), 1).otherwise(None).alias('DORSOPATHIES'),
                   when(col('DGN_CD_1').like('%M6%') | col('DGN_CD_1').like('%M7%') | col('DGN_CD_2').like('%M6%')
                   | col('DGN_CD_2').like('%M7%') |col('DGN_CD_3').like('%M6%') | col('DGN_CD_3').like('%M7%')
                   | col('DGN_CD_4').like('%M6%') | col('DGN_CD_4').like('%M7%'), 1).otherwise(None).alias('SOFTTISSUE'),
                   when(col('DGN_CD_1').like('%M8%') | col('DGN_CD_2').like('%M8%') | col('DGN_CD_3').like('%M8%') | col('DGN_CD_4').like('%M8%'), 1).otherwise(None).alias('OSTEOPOROSIS'),
                   when(col('DGN_CD_1').like('%M9%') | col('DGN_CD_2').like('%M9%') | col('DGN_CD_3').like('%M9%') | col('DGN_CD_4').like('%M9%'), 1).otherwise(None).alias('OSTEOARTIFICIAL'),
                   when(col('DGN_CD_1').like('%N%') | col('DGN_CD_2').like('%N%') | col('DGN_CD_3').like('%N%') | col('DGN_CD_4').like('%N%'), 1).otherwise(None).alias('URINARY'),
                   when(col('DGN_CD_1').like('%Q%') | col('DGN_CD_2').like('%Q%') | col('DGN_CD_3').like('%Q%') | col('DGN_CD_4').like('%Q%'), 1).otherwise(None).alias('GENETIC'),
                   when(col('DGN_CD_1').like('%R%') | col('DGN_CD_2').like('%R%') | col('DGN_CD_3').like('%R%') | col('DGN_CD_4').like('%R%'), 1).otherwise(None).alias('AB_LAB'),
                   when(col('DGN_CD_1').like('%S%') | col('DGN_CD_2').like('%S%') | col('DGN_CD_3').like('%S%') | col('DGN_CD_4').like('%S%'), 1).otherwise(None).alias('INJURY'),
                   when(col('DGN_CD_1').like('%T%') | col('DGN_CD_2').like('%T%') | col('DGN_CD_3').like('%T%') | col('DGN_CD_4').like('%T%'), 1).otherwise(None).alias('POISONINGS_BURNS'),
                   when((col('CLM_LN_PROC_CD').like('J%')) & (col('CLM_LN_PROC_CD') != 'J0570') & (col('CLM_LN_PROC_CD') != 'J2315'), 1).alias('DRUG_ADMIN'),
                   when((col('CLM_LN_PROC_CD').like('H%')) & (col('CLM_LN_PROC_CD') != 'H0020'), 1).alias('REHAB'),
                   when((col('CLM_LN_PROC_CD') == 'J0570') | (col('CLM_LN_PROC_CD') == 'J2315') | (col('CLM_LN_PROC_CD') == 'H0020'),1).alias('PROC_OPI')

                  )


LOCK2 = dtl.join(lock1, on="DIM_MBR_SK", how="right") \
           .groupBy("DIM_MBR_SK", "AGE", "PAT_SEX_CD") \
           .agg(count("DX_OPI").alias("OPIOID_DIAGNOSIS"), count("PROC_OPI").alias("OPIOID_PROCEDURE"),
                   count("INTESTINAL_INFECTIOUS").alias("INTESTINAL_INFECTIOUS"), count("TB").alias("TB"), count("ZOONOTIC").alias("ZOONOTIC"),
                   count("OTHER_BACTERIAL").alias("OTHER_BACTERIAL"), count("STI").alias("STI"), count("RICKETTS_CHLAMY").alias("RICKETTS_CHLAMY"),
                   count("VIRAL_CNS").alias("VIRAL_CNS"), count("VIRAL_SKIN").alias("VIRAL_SKIN"), count("HEP_HERPES").alias("HEP_HERPES"),
                   count("HIV").alias("HIV"), count("OTHER_VIRAL").alias("OTHER_VIRAL"), count("OTHER_INFECTIOUS").alias("OTHER_INFECTIOUS"),
                   count("NEOPLASMS").alias("CANCER"), count("ENDOCRINE").alias("ENDOCRINE"), count("DIABETES").alias("DIABETES"),
                   count("MENTAL_DISORDERS").alias("MENTAL_DISORDERS"), count("PSYCHOACTIVE_DISORDERS").alias("PSYCHOACTIVE_DISORDERS"),
                   count("SCHIZO_DISORDERS").alias("SCHIZO_DISORDERS"), count("MOOD_DISORDERS").alias("MOOD_DISORDERS"),
                   count("ANXIETY_DISORDERS").alias("ANXIETY_DISORDERS"), count("PHYMEN_DISORDERS").alias("PHYMEN_DISORDERS"),
                   count("PERSONALITY_DISORDERS").alias("PERSONALITY_DISORDERS"), count("INTELLECTUAL_DISORDERS").alias("INTELLECTUAL_DISORDERS"),
                   count("DEVELOP_DISORDERS").alias("DEVELOP_DISORDERS"), count("EMOTIONAL_DISORDERS").alias("EMOTIONAL_DISORDERS"),
                   count("NERVOUS_DISORDERS").alias("NERVOUS_DIS"), count("URINARY").alias("URINARY"), count("ARTHRITIS").alias("ARTHRITIS"),
                   count("JOINTS").alias("JOINTS"), count("CONNECTIVE_TISSUE").alias("CONNECTIVE_TISSUE"), count("DORSOPATHIES").alias("DORSOPATHIES"),
                   count("SOFTTISSUE").alias("SOFTTISSUE"), count("OSTEOPOROSIS").alias("OSTEOPOROSIS"), count("OSTEOARTIFICIAL").alias("OSTEOARTIFICIAL"),
                   count("ORAL").alias("ORAL"), count("DIGESTIVE_TOP").alias("DIGESTIVE_TOP"), count("HERNIA").alias("HERNIA"), count("INTESTINES").alias("INTESTINES"),
                   count("LIVER").alias("LIVER"), count("DIGENDO").alias("DIGENDO"), count("DIGOTHER").alias("DIGOTHER"), count("AB_LAB").alias("AB_LAB"),
                   count("INJURY").alias("INJURY"), count("POISONINGS_BURNS").alias("POISONINGS_BURNS"), count("REHAB").alias("REHAB"), count("DRUG_ADMIN").alias("DRUG_ADMIN")) \
          #.distinct()
          #May need to replace count() with countDistinct()

In [ ]:
"""
proc sql; create table LOCK3 AS( SELECT DISTINCT
O.DIM_MBR_SK,
AGE,
PAT_SEX_CD, OPIOID_DIAGNOSIS, OPIOID_PROCEDURE, INTESTINAL_INFECTIOUS, TB,
ZOONOTIC, OTHER_BACTERIAL, STI, RICKETTS_CHLAMY, VIRAL_CNS, VIRAL_SKIN,

 HEP_HERPES,
HIV,
OTHER_VIRAL, OTHER_INFECTIOUS, CANCER,
ENDOCRINE,
DIABETES, MENTAL_DISORDERS, PSYCHOACTIVE_DISORDERS, SCHIZO_DISORDERS, MOOD_DISORDERS, ANXIETY_DISORDERS, PERSONALITY_DISORDERS, INTELLECTUAL_DISORDERS, DEVELOP_DISORDERS, EMOTIONAL_DISORDERS, NERVOUS_DIS,
URINARY,
ARTHRITIS,
JOINTS, CONNECTIVE_TISSUE, DORSOPATHIES,

 SOFTTISSUE, OSTEOPOROSIS, OSTEOARTIFICIAL, ORAL, DIGESTIVE_TOP, HERNIA, INTESTINES, LIVER,
DIGENDO,
DIGOTHER,
ABNORMAL_LAB_DX,
INJURY,
POISONINGS_BURNS,
REHAB,
DRUG_ADMIN,
count(SERVICE_ADDICTION) AS SERVICE_ADDICTION, count(SERVICE_HOMECARE) AS SERVICE_HOMECARE, count(SERVICE_SURGERY) AS SERVICE_SURGERY, count(SERVICE_DRUGABUSE) AS SERVICE_DRUGABUSE, count(SERVICE_PSYCH) AS SERVICE_PSYCH, count(SERVICE_ONCOLOGY) AS SERVICE_ONCOLOGY,

 count(SERVICE_PHYSICAL) AS SERVICE_PHYSICAL, count(SERVICE_ALCOHOL) AS SERVICE_ALCOHOL,
count(SERVICE_CHIRO) AS SERVICE_CHIRO,
count(SERVICE_ORAL) AS SERVICE_ORAL,
count(SERVICE_EMERGENCY) AS SERVICE_EMERGENCY, count(SERVICE_CARDIAC) AS SERVICE_CARDIAC, count(SERVICE_AMBULANCE) AS SERVICE_AMBULANCE, count(SERVICE_PATHOLOGY) AS SERVICE_PATHOLOGY, count(SERVICE_CLINIC) AS SERVICE_CLINIC,
count(SERVICE_DME) AS SERVICE_DME,
count(SERVICE_EXTENDED_CARE) AS SERVICE_EXTENDED_CARE, count(SERVICE_CONSULTATIONS) AS SERVICE_CONSULTATIONS, count(SERVICE_DIALYSIS) AS SERVICE_DIALYSIS, count(SERVICE_ENDOCRINOLOGY) AS SERVICE_ENDOCRINOLOGY, count(SERVICE_FAMILY) AS SERVICE_FAMILY,
count(SERVICE_GERIATRICS) AS SERVICE_GERIATRICS, count(SERVICE_GASTROENTEROLOGY) AS SERVICE_GASTROENTEROLOGY, count(SERVICE_HEMATOLOGY) AS SERVICE_HEMATOLOGY, count(SERVICE_INFECTIOUS_DISEASE) AS SERVICE_INFECTIOUS_DISEASE, count(SERVICE_AMBULANCE) AS SERVICE_MEDICAL, count(SERVICE_NEPHROLOGY) AS SERVICE_NEPHROLOGY, count(SERVICE_NEURO) AS SERVICE_NEURO,

 count(SERVICE_NUCLEAR_MEDICINE) AS SERVICE_NUCLEAR_MEDICINE,
count(SERVICE_OCCUPATIONAL_THERAPY) AS SERVICE_OCCUPATIONAL_THERAPY,
count(SERVICE_OTOLARYNGOLOGY) AS SERVICE_OTOLARYNGOLOGY, count(SERVICE_EYES) AS SERVICE_EYES,
count(SERVICE_RN) AS SERVICE_RN,
count(SERVICE_RX) AS SERVICE_RX,
count(SERVICE_PLASTIC) AS SERVICE_PLASTIC, count(SERVICE_LAB) AS SERVICE_LAB, count(SERVICE_PODIATRIST) AS SERVICE_PODIATRIST, count(SERVICE_PROCTOLOGY) AS SERVICE_PROCTOLOGY, count(SERVICE_RADIOLOGY) AS SERVICE_RADIOLOGY, count(SERVICE_THERAPY) AS SERVICE_THERAPY, count(SERVICE_UROLOGY) AS SERVICE_UROLOGY, count(SERVICE_RESPITE) AS SERVICE_RESPITE
FROM (
SELECT DIM_MBR_SK,
CASE WHEN CLM_LN_TOS_CD LIKE '%ADDICTION%' THEN 1
END AS SERVICE_ADDICTION,
CASE WHEN CLM_LN_TOS_CD LIKE '%HOME HEALTH%'

 THEN 1
END AS SERVICE_HOMECARE,
CASE WHEN CLM_LN_TOS_CD LIKE '%SURGERY%' THEN 1
END AS SERVICE_SURGERY,
CASE WHEN CLM_LN_TOS_CD LIKE '%DRUG%'
THEN 1
END AS SERVICE_DRUGABUSE,
CASE WHEN CLM_LN_TOS_CD LIKE '%PSYCH%'
THEN 1
END AS SERVICE_PSYCH,
CASE WHEN CLM_LN_TOS_CD LIKE '%ONCOLOGY%' OR CLM_LN_TOS_CD LIKE '%CHEMOTHERAPY%'
THEN 1
END AS SERVICE_ONCOLOGY,
CASE WHEN CLM_LN_TOS_CD LIKE '%PHYSICAL%' THEN 1
END AS SERVICE_PHYSICAL,
CASE WHEN CLM_LN_TOS_CD LIKE '%ALCOHOL%' THEN 1
END AS SERVICE_ALCOHOL,
CASE WHEN CLM_LN_TOS_CD LIKE '%CHIROPRACTIC%'

 THEN 1
END AS SERVICE_CHIRO,
CASE WHEN CLM_LN_TOS_CD LIKE '%ORAL%' OR CLM_LN_TOS_CD LIKE '%DENTIST%' OR CLM_LN_TOS_CD LIKE '%ORTHODONTICS%'
THEN 1
END AS SERVICE_ORAL,
CASE WHEN CLM_LN_TOS_CD LIKE '%EMERGENCY%' THEN 1
END AS SERVICE_EMERGENCY,
CASE WHEN CLM_LN_TOS_CD LIKE '%CARDIAC%' THEN 1
END AS SERVICE_CARDIAC,
CASE WHEN CLM_LN_TOS_CD LIKE '%AMBULANCE%' THEN 1
END AS SERVICE_AMBULANCE,
CASE WHEN CLM_LN_TOS_CD LIKE '%PATHOLOGY%' THEN 1
END AS SERVICE_PATHOLOGY,
CASE WHEN CLM_LN_TOS_CD = 'CLINIC'
THEN 1
END AS SERVICE_CLINIC,
CASE WHEN CLM_LN_TOS_CD LIKE '%DME%'

 THEN 1
END AS SERVICE_DME,
CASE WHEN CLM_LN_TOS_CD LIKE '%EXTENDED CARE FACILI%' THEN 1
END AS SERVICE_EXTENDED_CARE,
CASE WHEN CLM_LN_TOS_CD LIKE '%CONSULTATIONS%' THEN 1
END AS SERVICE_CONSULTATIONS,
CASE WHEN CLM_LN_TOS_CD LIKE '%DERMATOLOGY%' THEN 1
END AS SERVICE_DERMATOLOGY,
CASE WHEN CLM_LN_TOS_CD LIKE '%DIALYSIS%' THEN 1
END AS SERVICE_DIALYSIS,
CASE WHEN CLM_LN_TOS_CD LIKE '%ENDOCRINOLOGY%' THEN 1
END AS SERVICE_ENDOCRINOLOGY,
CASE WHEN CLM_LN_TOS_CD LIKE '%FAMILY PRACTICE%' THEN 1
END AS SERVICE_FAMILY,
CASE WHEN CLM_LN_TOS_CD LIKE '%GERIATRICS%' THEN 1
END AS SERVICE_GERIATRICS,
CASE WHEN CLM_LN_TOS_CD LIKE '%GASTROENTEROLOGY%'
THEN 1
END AS SERVICE_GASTROENTEROLOGY,
CASE WHEN CLM_LN_TOS_CD LIKE '%HEMATOLOGY%'
THEN 1
END AS SERVICE_HEMATOLOGY,
CASE WHEN CLM_LN_TOS_CD LIKE '%INFECTIOUS DISEASE%'
THEN 1
END AS SERVICE_INFECTIOUS_DISEASE,
CASE WHEN CLM_LN_TOS_CD LIKE '%INTERNAL%' OR CLM_LN_TOS_CD LIKE '%MEDICAL%'
THEN 1
END AS SERVICE_MEDICAL,
CASE WHEN CLM_LN_TOS_CD LIKE '%NEPHROLOGY%' THEN 1
END AS SERVICE_NEPHROLOGY,
CASE WHEN CLM_LN_TOS_CD LIKE '%NEURO%'
THEN 1
END AS SERVICE_NEURO,
CASE WHEN CLM_LN_TOS_CD LIKE '%NURS%' OR CLM_LN_TOS_CD LIKE '%SKILLED NURSING%'

 THEN 1
END AS SERVICE_RN,
CASE WHEN CLM_LN_TOS_CD LIKE '%NUCLEAR MEDICINE%'
THEN 1
END AS SERVICE_NUCLEAR_MEDICINE,
CASE WHEN CLM_LN_TOS_CD LIKE '%OCCUPATIONAL THERAPY%'
THEN 1
END AS SERVICE_OCCUPATIONAL_THERAPY,
CASE WHEN CLM_LN_TOS_CD LIKE '%OTOLARYNGOLOGY%'
THEN 1
END AS SERVICE_OTOLARYNGOLOGY,
CASE WHEN CLM_LN_TOS_CD LIKE '%OPHTHALMOLOGY%' OR CLM_LN_TOS_CD LIKE '%OPTICIAN%' OR CLM_LN_TOS_CD LIKE '%OPTOMETRIST%'
THEN 1
END AS SERVICE_EYES,
CASE WHEN CLM_LN_TOS_CD LIKE '%PHARM%' THEN 1
END AS SERVICE_RX,
CASE WHEN CLM_LN_TOS_CD LIKE '%PLASTIC%' THEN 1
END AS SERVICE_PLASTIC,
CASE WHEN CLM_LN_TOS_CD LIKE '%LAB%'

 THEN 1
END AS SERVICE_LAB,
CASE WHEN CLM_LN_TOS_CD LIKE '%PODIATRIST%'
THEN 1
END AS SERVICE_PODIATRIST,
CASE WHEN CLM_LN_TOS_CD LIKE '%PROCTOLOGY%'
THEN 1
END AS SERVICE_PROCTOLOGY,
CASE WHEN CLM_LN_TOS_CD LIKE '%RADIOLOGY%' OR CLM_LN_TOS_CD LIKE '%X RAY%'
THEN 1
END AS SERVICE_RADIOLOGY,
CASE WHEN CLM_LN_TOS_CD LIKE '%THERAPY%'
THEN 1
END AS SERVICE_THERAPY,
CASE WHEN CLM_LN_TOS_CD LIKE '%UROLOGY%'
THEN 1
END AS SERVICE_UROLOGY,
CASE WHEN CLM_LN_TOS_CD LIKE '%RESPITE CARE%'
THEN 1
END AS SERVICE_RESPITE
FROM TDPRD.SMC_FACT_HLTHCR_CLM_DTL WHERE CLM_LN_SERV_STRT_DT GE

 &END6 ) dtl
INNER JOIN
(SELECT * FROM LOCK2) O
ON O.DIM_MBR_SK = dtl.DIM_MBR_SK GROUP BY O.DIM_MBR_SK,
O.AGE,
O.PAT_SEX_CD,
OPIOID_DIAGNOSIS, OPIOID_PROCEDURE, INTESTINAL_INFECTIOUS,
TB,
ZOONOTIC,
OTHER_BACTERIAL,
STI,
RICKETTS_CHLAMY,
VIRAL_CNS,
VIRAL_SKIN,
HEP_HERPES,
HIV,
OTHER_VIRAL,
OTHER_INFECTIOUS,
CANCER,

 ENDOCRINE,
DIABETES, MENTAL_DISORDERS, PSYCHOACTIVE_DISORDERS, SCHIZO_DISORDERS, MOOD_DISORDERS, ANXIETY_DISORDERS, PERSONALITY_DISORDERS, INTELLECTUAL_DISORDERS, DEVELOP_DISORDERS, EMOTIONAL_DISORDERS, NERVOUS_DIS,
URINARY,
ARTHRITIS,
JOINTS, CONNECTIVE_TISSUE, DORSOPATHIES, SOFTTISSUE, OSTEOPOROSIS, OSTEOARTIFICIAL, ORAL,

 DIGESTIVE_TOP, HERNIA,
INTESTINES,
LIVER,
DIGENDO, DIGOTHER, ABNORMAL_LAB_DX, INJURY, POISONINGS_BURNS, REHAB, DRUG_ADMIN
) ; quit;
"""

## Need to check this command



dtl1 = spark.table("TDPRD.SMC_FACT_HLTHCR_CLM_DTL").filter(col("CLM_LN_SERV_STRT_DT GE") == END6) \
            .select("DIM_MBR_SK", when(col('CLM_LN_TOS_CD').like('%ADDICTION%'), 1).otherwise(None).alias('SERVICE_ADDICTION'),
                                  when(col('CLM_LN_TOS_CD').like('%HOME HEALTH%'), 1).otherwise(None).alias('SERVICE_HOMECARE'),
                                  when(col('CLM_LN_TOS_CD').like('%SURGERY%'), 1).otherwise(None).alias('SERVICE_SURGERY'),
                                  when(col('CLM_LN_TOS_CD').like('%DRUG%'), 1).otherwise(None).alias('SERVICE_DRUGABUSE'),
                                  when(col('CLM_LN_TOS_CD').like('%PSYCH%'), 1).otherwise(None).alias('SERVICE_PSYCH'),
                                  when(col('CLM_LN_TOS_CD').like('%ONCOLOGY%') | col('CLM_LN_TOS_CD').like('%CHEMOTHERAPY%'), 1).otherwise(None).alias('SERVICE_ONCOLOGY'),
                                  when(col('CLM_LN_TOS_CD').like('%PHYSICAL%'), 1).otherwise(None).alias('SERVICE_PHYSICAL'),
                                  when(col('CLM_LN_TOS_CD').like('%ALCOHOL%'), 1).otherwise(None).alias('SERVICE_ALCOHOL'),
                                  when(col('CLM_LN_TOS_CD').like('%CHIROPRACTIC%'), 1).otherwise(None).alias('SERVICE_CHIRO'),
                                  when(col('CLM_LN_TOS_CD').like('%ORAL%') | col('CLM_LN_TOS_CD').like('%DENTIST%') | col('CLM_LN_TOS_CD').like('%ORTHODONTICS%'), 1).otherwise(None).alias('SERVICE_ORAL'),
                                  when(col('CLM_LN_TOS_CD').like('%EMERGENCY%'), 1).otherwise(None).alias('SERVICE_EMERGENCY'),
                                  when(col('CLM_LN_TOS_CD').like('%CARDIAC%'), 1).otherwise(None).alias('SERVICE_CARDIAC'),
                                  when(col('CLM_LN_TOS_CD').like('%AMBULANCE%'), 1).otherwise(None).alias('SERVICE_AMBULANCE'),
                                  when(col('CLM_LN_TOS_CD').like('%PATHOLOGY%'), 1).otherwise(None).alias('SERVICE_PATHOLOGY'),
                                  when(col('CLM_LN_TOS_CD') == 'CLINIC', 1).otherwise(None).alias('SERVICE_CLINIC'),
                                  when(col('CLM_LN_TOS_CD').like('%DME%'), 1).otherwise(None).alias('SERVICE_DME'),
                                  when(col('CLM_LN_TOS_CD').like('%EXTENDED CARE FACILI%'), 1).otherwise(None).alias('SERVICE_EXTENDED_CARE'),
                                  when(col('CLM_LN_TOS_CD').like('%CONSULTATIONS%'), 1).otherwise(None).alias('SERVICE_CONSULTATIONS'),
                                  when(col('CLM_LN_TOS_CD').like('%DERMATOLOGY%'), 1).otherwise(None).alias('SERVICE_DERMATOLOGY'),
                                  when(col('CLM_LN_TOS_CD').like('%DIALYSIS%'), 1).otherwise(None).alias('SERVICE_DIALYSIS'),
                                  when(col('CLM_LN_TOS_CD').like('%ENDOCRINOLOGY%'), 1).otherwise(None).alias('SERVICE_ENDOCRINOLOGY'),
                                  when(col('CLM_LN_TOS_CD').like('%FAMILY PRACTICE%'), 1).otherwise(None).alias('SERVICE_FAMILY'),
                                  when(col('CLM_LN_TOS_CD').like('%GERIATRICS%'), 1).otherwise(None).alias('SERVICE_GERIATRICKS'),
                                  when(col('CLM_LN_TOS_CD').like('%GASTROENTEROLOGY%'), 1).otherwise(None).alias('SERVICE_GASTROENTEROLOGY'),
                                  when(col('CLM_LN_TOS_CD').like('%HEMATOLOGY%'), 1).otherwise(None).alias('SERVICE_HEMATOLOGY'),
                                  when(col('CLM_LN_TOS_CD').like('%INFECTIOUS DISEASE%'), 1).otherwise(None).alias('SERVICE_INFECTIOUS_DISEASE'),
                                  when(col('CLM_LN_TOS_CD').like('%INTERNAL%') | col('CLM_LN_TOS_CD').like('%MEDICAL%'), 1).otherwise(None).alias('SERVICE_MEDICAL'),
                                  when(col('CLM_LN_TOS_CD').like('%NEPHROLOGY%'), 1).otherwise(None).alias('SERVICE_NEPHROLOGY'),
                                  when(col('CLM_LN_TOS_CD').like('%NEURO%'), 1).otherwise(None).alias('SERVICE_NEURO'),
                                  when(col('CLM_LN_TOS_CD').like('%NURS%') | col('CLM_LN_TOS_CD').like('%SKILLED NURSING%'), 1).otherwise(None).alias('SERVICE_RN'),
                                  when(col('CLM_LN_TOS_CD').like('%NUCLEAR MEDICINE%'), 1).otherwise(None).alias('SERVICE_NUCLEAR_MEDICINE'),
                                  when(col('CLM_LN_TOS_CD').like('%OCCUPATIONAL THERAPY%'), 1).otherwise(None).alias('SERVICE_OCCUPATIONAL_THERAPY'),
                                  when(col('CLM_LN_TOS_CD').like('%OTOLARYNGOLOGY%'), 1).otherwise(None).alias('SERVICE_OTOLARYNGOLOGY'),
                                  when(col('CLM_LN_TOS_CD').like('%OPHTHALMOLOGY%') | col('CLM_LN_TOS_CD').like('%OPTICIAN%')
                                  | col('CLM_LN_TOS_CD').like('%OPTOMETRIST%'), 1).otherwise(None).alias('SERVICE_EYES'),
                                  when(col('CLM_LN_TOS_CD').like('%PHARM%'), 1).otherwise(None).alias('SERVICE_RX'),
                                  when(col('CLM_LN_TOS_CD').like('%PLASTIC%'), 1).otherwise(None).alias('SERVICE_PLASTIC'),
                                  when(col('CLM_LN_TOS_CD').like('%LAB%'), 1).otherwise(None).alias('SERVICE_LAB'),
                                  when(col('CLM_LN_TOS_CD').like('%PODIATRIST%'), 1).otherwise(None).alias('SERVICE_PODIATRIST'),
                                  when(col('CLM_LN_TOS_CD').like('%PROCTOLOGY%'), 1).otherwise(None).alias('SERVICE_PROCTOLOGY'),
                                  when(col('CLM_LN_TOS_CD').like('%RADIOLOGY%') | col('CLM_LN_TOS_CD').like('%X RAY%'), 1).otherwise(None).alias('SERVICE_RADIOLOGY'),
                                  when(col('CLM_LN_TOS_CD').like('%THERAPY%'), 1).otherwise(None).alias('SERVICE_THERAPY'),
                                  when(col('CLM_LN_TOS_CD').like('%UROLOGY%'), 1).otherwise(None).alias('SERVICE_UROLOGY'),
                                  when(col('CLM_LN_TOS_CD').like('%RESPITE CARE%'), 1).otherwise(None).alias('SERVICE_RESPITE')
                    )


LOCK3 = dtl1.join(LOCK2, on="DIM_MBR_SK", how="inner" ) \
            .groupBy("LOCK2.DIM_MBR_SK", "AGE", "PAT_SEX_CD", "OPIOID_DIAGNOSIS", "OPIOID_PROCEDURE", "INTESTINAL_INFECTIOUS", "TB", "ZOONOTIC", "OTHER_BACTERIAL", "STI",
                     "RICKETTS_CHLAMY", "VIRAL_CNS", "VIRAL_SKIN", "HEP_HERPES", "HIV", "OTHER_VIRAL", "OTHER_INFECTIOUS", "CANCER", "ENDOCRINE", "DIABETES", "MENTAL_DISORDERS",
                     "PSYCHOACTIVE_DISORDERS", "SCHIZO_DISORDERS", "MOOD_DISORDERS", "ANXIETY_DISORDERS", "PERSONALITY_DISORDERS", "INTELLECTUAL_DISORDERS", "DEVELOP_DISORDERS",
                     "EMOTIONAL_DISORDERS", "NERVOUS_DIS", "URINARY", "ARTHRITIS", "JOINTS", "CONNECTIVE_TISSUE", "DORSOPATHIES", "SOFTTISSUE", "OSTEOPOROSIS", "OSTEOARTIFICIAL",
                     "ORAL", "DIGESTIVE_TOP", "HERNIA", "INTESTINES", "LIVER", "DIGENDO", "DIGOTHER", "ABNORMAL_LAB_DX", "INJURY", "POISONINGS_BURNS", "REHAB", "DRUG_ADMIN") \
            .agg(count("SERVICE_ADDICTION").alias("SERVICE_ADDICTION"), count("SERVICE_HOMECARE").alias("SERVICE_HOMECARE"), count("SERVICE_SURGERY").alias("SERVICE_SURGERY"),
                     count("SERVICE_DRUGABUSE").alias("SERVICE_DRUGABUSE"), count("SERVICE_PSYCH").alias("SERVICE_PSYCH"), count("SERVICE_PHYSICAL").alias("SERVICE_PHYSICAL"),
                     count("SERVICE_ALCOHOL").alias("SERVICE_ALCOHOL"), count("SERVICE_CHIRO").alias("SERVICE_CHIRO"), count("SERVICE_ORAL").alias("SERVICE_ORAL"),
                     count("SERVICE_EMERGENCY").alias("SERVICE_EMERGENCY"), count("SERVICE_CARDIAC").alias("SERVICE_CARDIAC"), count("SERVICE_AMBULANCE").alias("SERVICE_AMBULANCE"),
                     count("SERVICE_PATHOLOGY").alias("SERVICE_PATHOLOGY"), count("SERVICE_CLINIC").alias("SERVICE_CLINIC"), count("SERVICE_DME").alias("SERVICE_DME"),
                     count("SERVICE_EXTENDED_CARE").alias("SERVICE_EXTENDED_CARE"), count("SERVICE_CONSULTATIONS").alias("SERVICE_CONSULTATIONS"), count("SERVICE_DIALYSIS").alias("SERVICE_DIALYSIS"),
                     count("SERVICE_ENDOCRINOLOGY").alias("SERVICE_ENDOCRINOLOGY"), count("SERVICE_FAMILY").alias("SERVICE_FAMILY"), count("SERVICE_GERIATRICS").alias("SERVICE_GERIATRICS"),\
                     count("SERVICE_GASTROENTEROLOGY").alias("SERVICE_GASTROENTEROLOGY"), count("SERVICE_HEMATOLOGY").alias("SERVICE_HEMATOLOGY"), count("SERVICE_INFECTIOUS_DISEASE").alias("SERVICE_INFECTIOUS_DISEASE"),
                     count("SERVICE_AMBULANCE").alias("SERVICE_MEDICAL"), count("SERVICE_NEPHROLOGY").alias("SERVICE_NEPHROLOGY"), count("SERVICE_NEURO").alias("SERVICE_NEURO"),
                     count("SERVICE_NUCLEAR_MEDICINE").alias("SERVICE_NUCLEAR_MEDICINE"), count("SERVICE_OCCUPATIONAL_THERAPY").alias("SERVICE_OCCUPATIONAL_THERAPY"),
                     count("SERVICE_OTOLARYNGOLOGY").alias("SERVICE_OTOLARYNGOLOGY"), count("SERVICE_EYES").alias("SERVICE_EYES"), count("SERVICE_RN").alias("SERVICE_RN"),
                     count("SERVICE_RX").alias("SERVICE_RX"), count("SERVICE_PLASTIC").alias("SERVICE_PLASTIC"), count("SERVICE_LAB").alias("SERVICE_LAB"), 
                     count("SERVICE_PODIATRIST").alias("SERVICE_PODIATRIST"), count("SERVICE_PROCTOLOGY").alias("SERVICE_PROCTOLOGY"), count("SERVICE_RADIOLOGY").alias("SERVICE_RADIOLOGY"),
                     count("SERVICE_THERAPY").alias("SERVICE_THERAPY"), count("SERVICE_UROLOGY").alias("SERVICE_UROLOGY"), count("SERVICE_RESPITE").alias("SERVICE_RESPITE")
                   )

In [ ]:
"""
proc sql; create table TEST11 AS( select DIM_MBR_SK,
sum(OOS_PHARM) AS OOS_PHARM from test10
group by DIM_MBR_SK) ; quit;
"""


test11 = test10.groupBy("DIM_MBR_SK").agg(sum("OOS_PHARM").alias("OOS_PHARM"))

In [ ]:
"""
proc sql; create table TEST12 AS(
 select A.*, OOS_PHARM
from test9 A
left join test11 B
ON A.DIM_MBR_SK = B.DIM_MBR_SK) ; quit;
"""


test12 = test9.join(test11, on="DIM_MBR_SK", how="left")

In [ ]:
"""
proc sql; create table TEST13 AS( select DIM_MBR_SK,
count(distinct(PRSB_ADDR_LN)) AS DIST_ADDR from test12
group by DIM_MBR_SK) ; quit;
"""

test13 = test12.groupBy("DIM_MBR_SK").agg(countDistinct("PRSB_ADDR_LN").alias("DIST_ADDR"))

In [ ]:
"""
proc sql; create table TEST14 AS( select A.*,
DIST_ADDR from test12 A
left join test13 B
on A.DIM_MBR_SK = B.DIM_MBR_SK) ; quit;
"""


test14 = test12.join(test13, on="DIM_MBR_SK", how="left")

In [ ]:
"""
proc sql; create table DOSE AS( select
 A.DIM_MBR_SK, PHRM_CLM_STAT_CD,
SPLY_DAYS_CNT from TEST14 A
inner join LOCK3 B
ON A.DIM_MBR_SK = B.DIM_MBR_SK) ; quit;
"""


DOSE = test14.join(LOCK3, on="DIM_MBR_SK", how="inner") \
             .select("DIM_MBR_SK", "PHRM_CLM_STAT_CD", "SPLY_DAYS_CNT")

In [ ]:
"""
proc sql; create table DOSE1 AS( select DIM_MBR_SK,
                                        SUM(PAID_COUNT) AS PAID_SUPPLY,
                                        SUM(REJECTED_COUNT) AS REJECTED_SUPPLY 
                                 from (select DIM_MBR_SK,
                                              CASE WHEN PHRM_CLM_STAT_CD = 'P' THEN sum(SPLY_DAYS_CNT)
                                               ELSE 0
                                                END AS PAID_COUNT,
                                              CASE WHEN PHRM_CLM_STAT_CD = 'R' THEN sum(SPLY_DAYS_CNT)
                                                ELSE 0
                                                 END AS REJECTED_COUNT
                                          from DOSE group by DIM_MBR_SK,
                                          PHRM_CLM_STAT_CD,SPLY_DAYS_CNT)DT group by 1) ;
quit;
"""

DT = DOSE.groupBy("DIM_MBR_SK", "PHRM_CLM_STAT_CD", "SPLY_DAYS_CNT") \
         .select("DIM_MBR_SK",  when(col("PHRM_CLM_STAT_CD") == "P", sum("SPLY_DAYS_CNT")).otherwise(0).alias("PAID_COUNT"),
                                when(col("PHRM_CLM_STAT_CD") == "R", sum("SPLY_DAYS_CNT")).otherwise(0).alias("REJECTED_COUNT"))

DOSE1 = DT.groupBy("DIM_MBR_SK").agg(sum(PAID_COUNT).alias("PAID_SUPPLY"),
                                     sum(REJECTED_COUNT).alias("REJECTED_SUPPLY")
                                    )

In [ ]:
"""
proc sql; create table FINALOUTPUT AS(
      select  A.DIM_MBR_SK,
           A.AGE,
           A.PAT_SEX_CD,
           OPIOID_DIAGNOSIS,
           OPIOID_PROCEDURE,
           INTESTINAL_INFECTIOUS,
           TB,
           ZOONOTIC,
           OTHER_BACTERIAL,
           STI,
           RICKETTS_CHLAMY,
           VIRAL_CNS,
           VIRAL_SKIN,
           HEP_HERPES,
           HIV,
           OTHER_VIRAL,
           OTHER_INFECTIOUS,
           CANCER,
           ENDOCRINE,
           DIABETES,
           MENTAL_DISORDERS,
           PSYCHOACTIVE_DISORDERS,
           SCHIZO_DISORDERS,
           MOOD_DISORDERS,
           ANXIETY_DISORDERS,
           PERSONALITY_DISORDERS,
           INTELLECTUAL_DISORDERS,
           DEVELOP_DISORDERS,
           EMOTIONAL_DISORDERS,
           NERVOUS_DIS,
           URINARY,
           ARTHRITIS,
           JOINTS,
           CONNECTIVE_TISSUE,
           DORSOPATHIES,
           SOFTTISSUE,
           OSTEOPOROSIS,
           OSTEOARTIFICIAL,
           ORAL,
           DIGESTIVE_TOP,
           HERNIA,
           INTESTINES,
           LIVER,
           DIGENDO,
           DIGOTHER,
           ABNORMAL_LAB_DX,
           INJURY,
           POISONINGS_BURNS,
           REHAB,
           DRUG_ADMIN,
           SERVICE_ADDICTION,
           SERVICE_HOMECARE,
           SERVICE_SURGERY,
           SERVICE_DRUGABUSE,
           SERVICE_PSYCH,
           SERVICE_ONCOLOGY,
           SERVICE_PHYSICAL,
           SERVICE_ALCOHOL,
           SERVICE_CHIRO,
           SERVICE_ORAL,
           SERVICE_EMERGENCY,
           SERVICE_CARDIAC,
           SERVICE_AMBULANCE,
           SERVICE_PATHOLOGY,
           SERVICE_CLINIC,
           SERVICE_DME,
           SERVICE_EXTENDED_CARE,
           SERVICE_CONSULTATIONS,
           SERVICE_DIALYSIS,
           SERVICE_ENDOCRINOLOGY,
           SERVICE_FAMILY,
           SERVICE_GERIATRICS,
           SERVICE_GASTROENTEROLOGY,
           SERVICE_HEMATOLOGY,
           SERVICE_INFECTIOUS_DISEASE,
           SERVICE_MEDICAL,
           SERVICE_NEPHROLOGY,
           SERVICE_NEURO,
           SERVICE_NUCLEAR_MEDICINE,
           SERVICE_OCCUPATIONAL_THERAPY,
           SERVICE_OTOLARYNGOLOGY,
           SERVICE_EYES,
           SERVICE_RN,
           SERVICE_RX,
           SERVICE_PLASTIC,
           SERVICE_LAB,
           SERVICE_PODIATRIST,
           SERVICE_PROCTOLOGY,
           SERVICE_RADIOLOGY,
           SERVICE_THERAPY,
           SERVICE_UROLOGY,
           SERVICE_RESPITE,
           PHARM_COUNT,
           POLY_PHARM_COUNT,
           OPIOID_COUNT,
           TREATMENT_COUNT,
           STIM_COUNT, /**********/
           POLYOPIOID,
           POLYTREAT,
           G.OOS_PHARM,
           COUNT_OF_PAID,
           COUNT_OF_REJECTED,
           DOC_SUM,
           POLY_DOC_COUNT,
           DIST_ADDR,
           PAID_SUPPLY,
           REJECTED_SUPPLY
      from LOCK3 A
           inner join Pharmacy_Output B
                 ON A.DIM_MBR_SK = B.DIM_MBR_SK
           inner join DOC_EXTRACT D
                 ON A.DIM_MBR_SK = D.DIM_MBR_SK
           inner join OPIOID_EXTRACT E
                 ON A.DIM_MBR_SK = E.DIM_MBR_SK
           inner join DOSE1 F
                 ON A.DIM_MBR_SK = F.DIM_MBR_SK
           inner join TEST14 G
                 ON A.DIM_MBR_SK = G.DIM_MBR_SK
where DOC_SUM > 1 and PHARM_COUNT > 1)
; quit;
"""

# Need to check the all 5 tables for OOS_PHARM column.

FINALOUTPUT = LOCK3.join(pharmacy_output, on="DIM_MBR_SK", how="inner") \
                   .join(DOC_EXTRACT, on="DIM_MBR_SK", how="inner") \
                   .join(OPIOID_EXTRACT, on="DIM_MBR_SK", how="inner") \
                   .join(DOSE1, on="DIM_MBR_SK", how="inner") \
                   .join(TEST14, on="DIM_MBR_SK", how="inner") \
                   .filter((col("DOC_SUM") > 1) & (col("PHARM_COUNT") > 1)) \
                   .select("DIM_MBR_SK", "AGE", "PAT_SEX_CD", "OPIOID_DIAGNOSIS", "OPIOID_PROCEDURE", "INTESTINAL_INFECTIOUS", "TB", "ZOONOTIC",
                           "OTHER_BACTERIAL", "STI", "RICKETTS_CHLAMY", "VIRAL_CNS", "VIRAL_SKIN", "HEP_HERPES", "HIV", "OTHER_VIRAL", "OTHER_INFECTIOUS", "CANCER", "ENDOCRINE",
                           "DIABETES", "MENTAL_DISORDERS", "PSYCHOACTIVE_DISORDERS", "SCHIZO_DISORDERS", "MOOD_DISORDERS", "ANXIETY_DISORDERS", "PERSONALITY_DISORDERS",
                           "INTELLECTUAL_DISORDERS", "DEVELOP_DISORDERS", "EMOTIONAL_DISORDERS", "NERVOUS_DIS", "URINARY", "ARTHRITIS", "JOINTS", "CONNECTIVE_TISSUE", "DORSOPATHIES",
                           "SOFTTISSUE", "OSTEOPOROSIS", "OSTEOARTIFICIAL", "ORAL", "DIGESTIVE_TOP", "HERNIA", "INTESTINES", "LIVER", "DIGENDO", "DIGOTHER", "ABNORMAL_LAB_DX",
                           "INJURY", "POISONINGS_BURNS", "REHAB", "DRUG_ADMIN", "SERVICE_ADDICTION", "SERVICE_HOMECARE", "SERVICE_SURGERY", "SERVICE_DRUGABUSE",
                           "SERVICE_PSYCH", "SERVICE_ONCOLOGY", "SERVICE_PHYSICAL", "SERVICE_ALCOHOL", "SERVICE_CHIRO", "SERVICE_ORAL", "SERVICE_EMERGENCY", "SERVICE_CARDIAC",
                           "SERVICE_AMBULANCE", "SERVICE_PATHOLOGY", "SERVICE_CLINIC", "SERVICE_DME", "SERVICE_EXTENDED_CARE", "SERVICE_CONSULTATIONS", "SERVICE_DIALYSIS", 
                           "SERVICE_ENDOCRINOLOGY", "SERVICE_FAMILY", "SERVICE_GERIATRICS", "SERVICE_GASTROENTEROLOGY", "SERVICE_HEMATOLOGY", "SERVICE_INFECTIOUS_DISEASE",
                           "SERVICE_MEDICAL", "SERVICE_NEPHROLOGY", "SERVICE_NEURO", "SERVICE_NUCLEAR_MEDICINE", "SERVICE_OCCUPATIONAL_THERAPY", "SERVICE_OTOLARYNGOLOGY",
                           "SERVICE_EYES", "SERVICE_RN", "SERVICE_RX", "SERVICE_PLASTIC", "SERVICE_LAB", "SERVICE_PODIATRIST", "SERVICE_PROCTOLOGY", "SERVICE_RADIOLOGY",
                           "SERVICE_THERAPY", "SERVICE_UROLOGY", "SERVICE_RESPITE", "PHARM_COUNT", "POLY_PHARM_COUNT", "OPIOID_COUNT", "TREATMENT_COUNT", "STIM_COUNT", "POLYOPIOID",
                           "POLYTREAT", "OOS_PHARM", "COUNT_OF_PAID", "COUNT_OF_REJECTED", "DOC_SUM", "POLY_DOC_COUNT", "DIST_ADDR","PAID_SUPPLY", "REJECTED_SUPPLY"
                          )

In [ ]:
"""
proc sort data=FINALOUTPUT nodupkey; by _all_; run;
"""

FINALOUTPUT = FINALOUTPUT.sort(*FINALOUTPUT.columns).dropduplicates()

In [ ]:
"""
proc datasets; delete TEST9-TEST14 LOCK1-LOCK3 Pharmacy_Output DOC_EXTRACT OPIOID_EXTRACT DOSE DOSE1 POLYTREATA POLYTREAT; run;
"""

#### delete all the listed tables

In [ ]:
"""
data amy.finaloutput; set finaloutput;
run;
data amy.test; set test;
run;
"""

#### these are changing the directory of FINALOUTPUT and TEST

In [ ]:
"""
data cancer (keep=dim_mbr_sk cancer service_oncology); set amy.finaloutput;
if cancer ne 0 or service_oncology ne 0;
run;
"""


cancer = FINALOUTPUT.select("DIM_MBR_SK", "CANCER", "SERVICE_ONCOLOGY").filter((col("CANCER") != 0) | (col("SERVICE_ONCOLOGY") != 0))

In [ ]:
"""
data amy.finaloutput_1;
set amy.finaloutput;
if cancer >2 or service_oncology > 2 then delete;
run;
 """

FINALOUTPUT_1= FINALOUTPUT.filter((col("CANCER") <= 2) & (col("service_oncology") <= 2))

In [ ]:
"""
proc sql; Create table FINALOUTPUT6 AS select distinct
O.CUST_CARD_ID,
compress(o.CUST_CARD_ID||o.RLTN_CD) as CUST_CARD_ID_2,
O.PAT_FRST_NM, O.PAT_LST_NM, O.PAT_BRTH_DT, A.DIM_MBR_SK,
A.AGE,
case when A.PAT_SEX_CD = '1'
THEN 'MALE'
 ELSE 'FEMALE'
END AS MBR_SEX,
A.MOOD_DISORDERS, A.URINARY, A.DORSOPATHIES,A.SOFTTISSUE,A.OSTEOPOROSIS,A.SERVICE_EMERGENCY, A.SERVICE_PATHOLOGY, A.SERVICE_CONSULTATIONS,
A.SERVICE_RADIOLOGY, A.SERVICE_THERAPY,
A.OPIOID_DIAGNOSIS, A.OPIOID_PROCEDURE, A.CANCER,
A.SERVICE_DRUGABUSE, A.SERVICE_PSYCH, A.SERVICE_ONCOLOGY, A.PHARM_COUNT, A.POLY_PHARM_COUNT,
A.OPIOID_COUNT, A.TREATMENT_COUNT, A.POLYOPIOID, A.POLYTREAT,
A.OOS_PHARM, A.COUNT_OF_PAID,
A.DOC_SUM, A.POLY_DOC_COUNT, A.REJECTED_SUPPLY,
A.STIM_COUNT /******/
A.COUNT_OF_REJECTED,
from amy.finaloutput_1 A
inner join amy.test O
on A.DIM_MBR_SK=O.DIM_MBR_SK
and (A.OPIOID_COUNT > 0 or A.TREATMENT_COUNT > 0) /*****/ ;quit;
"""


FINALOUTPUT6 = FINALOUTPUT_1.join(test, on='DIM_MBR_SK', how="inner") \
                            .filter((col('OPIOID_COUNT') > 0) | (col('TREATMENT_COUNT') > 0)) \
                            .distinct() \
                            .select(col('CUST_CARD_ID'), (col('CUST_CARD_ID') + col('RLTN_CD')).alias('CUST_CARD_ID_2'), col('PAT_FRST_NM'), col('PAT_LST_NM'),
                                    col('PAT_BRTH_DT'), col('DIM_MBR_SK'), col('AGE'), when(col('PAT_SEX_CD') == '1', 'MALE').otherwise('FEMALE').alias('MBR_SEX'),
                                    col('MOOD_DISORDERS'), col('URINARY'), col('DORSOPATHIES'), col('SOFTTISSUE'), col('OSTEOPOROSIS'), col('SERVICE_EMERGENCY'),
                                    col('SERVICE_PATHOLOGY'), col('SERVICE_CONSULTATIONS'), col('SERVICE_RADIOLOGY'), col('SERVICE_THERAPY'), col('OPIOID_DIAGNOSIS'),
                                    col('OPIOID_PROCEDURE'), col('CANCER'), col('SERVICE_DRUGABUSE'), col('SERVICE_PSYCH'), col('SERVICE_ONCOLOGY'), col('PHARM_COUNT'),
                                    col('POLY_PHARM_COUNT'), col('OPIOID_COUNT'), col('TREATMENT_COUNT'), col('POLYOPIOID'), col('POLYTREAT'), col('OOS_PHARM'),
                                    col('COUNT_OF_PAID'), col('DOC_SUM'), col('POLY_DOC_COUNT'), col('REJECTED_SUPPLY'), col('STIM_COUNT').alias('STIM_COUNT_2'),
                                    col('COUNT_OF_REJECTED')
                                   )

In [ ]:
"""
proc sort data=finaloutput6 nodupkey; by dim_mbr_sk; run;
"""

FINALOUTPUT6 = FINALOUTPUT6.sort("DIM_MBR_SK").dropduplicates("DIM_MBR_SK")

In [ ]:
"""
proc logistic inmodel=MATT.lock_model_2020;
A.DIST_ADDR,
A.PAID_SUPPLY,
score data=finaloutput6 out=Lock_SCORE (rename=P_1=PREDICTION drop= I_LOCKIN_STAT P_0) ;
run;
"""



# model = LogisticRegressionModel.load("MATT.lock_model_2020")

# test_data = FINALOUTPUT6.select("DIM_MBR_SK", "DIST_ADDR", "PAID_SUPPLY")

# Lock_SCORE = model.transform(test_data)